<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      Tech Stack
      <input type="checkbox" class="pull-right" />
    </h4>
  </div>
  <div class="panel-body">
    <label>Technology</label>
    <div class=" techstack flex-container" style="flex-wrap:wrap">
      <div ng-repeat=" tech in form.data track by $index">
        <div class="form-group">
          <label for="react" class="btn btn-default">
            <input
              type="checkbox"
              name="%%tech.technology.name%%"
              ng-model="form.data[$index].isVisible"
              ng-true-value="1"
              ng-false-value="0"
              ng-change="form.submit($index)"
            />
            <span class="m-l-5"> %%tech.technology.name%%</span>
          </label>
        </div>
      </div>
    </div>
    <label>Tags</label>
    <ui-select multiple tagging tagging-label="false" on-select="form.addTag($item)"  ng-model="form.skills"  theme="bootstrap" ng-disabled="ctrl.disabled" style="width: 300px;" title="Choose a skill" >
    <ui-select-match placeholder="Select Skills ..."  >{{$item.skill_name?$item.skill_name:$item}}</ui-select-match>
    <ui-select-choices repeat="skills in form.skills | filter:$select.search" >
      {{skills.skill_name}}
    </ui-select-choices>
    </ui-select>
  </div>
</div>
