<div class="breadcrumb-wrap">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="admin-page-title">Create Payroll CSV</h1>
            <ol class="breadcrumb">
                <li>
                    <a href="/admin">Admin</a>
                </li>
                <li>
                    <a href="../create-payroll-csv">Create Payroll CSV</a>
                </li>
                <li ng-show="step==1">
                    <a>Initial</a>
                </li>
                <li ng-show="step==2">
                    <a>Loan Amount</a>
                </li>
                <li ng-show="step==3">
                    <a>Bonuses</a>
                </li>
                <li ng-show="step==4">
                    <a>Reconcile</a>
                </li>
                <li ng-show="step==5">
                    <a>Review</a>
                </li>
                <li ng-show="step==6">
                    <a>Accepted</a>
                </li>
            </ol>
        </div>

    </div>
</div>
<div>
    <ul class="steps-wrap col-md-9 p-0">
        <li class="completed">
            1<span class="bubble">Initial</span>
        </li>
        <li ng-show="step>1" class="completed">
            2<span class="bubble">Loan amount</span>
        </li>
        <li ng-hide="step>1" class="active">
            2<span class="bubble">Loan amount</span>
        </li>
        <li ng-show="step>2" class="">

            2 <span class="bubble">Bonuses</span>
        </li>
        <li ng-hide="step>2" class="">
            3<span class="bubble">Bonuses</span>
        </li>
        <li ng-show="step>3" class="completed">
            3 <span class="bubble" Reconcile></span>
        </li>
        <li ng-hide="step>3">
            4 <span class="bubble">Reconcile</span>
        </li>
        <li ng-show="step>4" class="completed">
            4 <span class="bubble">Review</span>
        </li>
        <li ng-hide="step>4">
            5 <span class="bubble">Review</span>
        </li>
        <li ng-show="step>5" class="completed">
            5 <span class="bubble">Accepted</span>
        </li>
        <li ng-hide="step>5">
            6<span class="bubble">Accepted</span>
        </li>
        <!-- <li>
                    <span class="bubble"></span>
                </li> -->
    </ul>



    <div class="col-sm-3 pull-right p-0">
        <a ng-show="step==5&&payslip.isConfirmReady" class="btn btn-success pull-right" ng-click="nextStep()" style="margin-left:10px;">Confirm & Accept</a>
        <a ng-show="step==6&&payslip.isDownloadReady" class="btn btn-success pull-right" ng-href="%%payslip.csv_url%%" ng-click="csvdownload()" style="margin-left:10px;" download>
            <i class="fa fa-download"></i> Download</a>
        <a ng-hide="step>4" class="btn btn-primary pull-right" ng-click="nextStep()" style="margin-left:10px;">Next</a>
        <a ng-hide="step<2 || step==6" class="btn btn-primary pull-right" ng-click="prevStep()">Previous</a>
    </div>
</div>

<div class="steps" ng-switch on="step">
    <div class="stepWrap" ng-switch-when="1">
        <div data-ng-include="'/views/payslip-csv/partials/_step1.html'"></div>
    </div>
    <div class="stepWrap" ng-switch-when="2">
        <div data-ng-include="'/views/payslip-csv/partials/_step2.html'"></div>
    </div>
    <div class="stepWrap" ng-switch-when="3">
        <div data-ng-include="'/views/payslip-csv/partials/_step3.html'"></div>
    </div>
    <div class="stepWrap" ng-switch-when="4">
        <div data-ng-include="'/views/payslip-csv/partials/_step4.html'"></div>
    </div>
    <div class="stepWrap" ng-switch-when="5">
        <div data-ng-include="'/views/payslip-csv/partials/_step1.html'"></div>
    </div>
    <div class="stepWrap" ng-switch-when="6">
        <div data-ng-include="'/views/payslip-csv/partials/_step1.html'"></div>
    </div>
</div>