<div>
  <div class="modal-header">
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      ng-click="form.cancel()"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="addLeaveModalLabel">Approve Monthly Timesheet</h4>
  </div>
  <form name="timesheetReviewForm" ng-submit="form.submit(timesheetReviewForm)" novalidate>
    <div class="modal-body">
      <div class="row">
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-striped table-bordered bg-white">
                    <tr><td>Employee Name</td><th>%%data.user_name%%</th></tr>
                    <tr><td>Week</td><th>%%data.week%%</th></tr>
                    <!-- <tr><td>Grant Approved Total Time</td><th>%%data.grant_approved_total_time%%</th></tr>
                    <tr><td>Grant Employee Total Time</td><th>%%data.grant_employee_total_time%%</th></tr> -->
                </table>
            </div>

        </div>
        <form>
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-4 col-form-label">Total Extra Approved Hour(s)</label>
            <div class="col-sm-3">
              <label>%%data.extra_hours%% hr(s)</label>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-12 col-form-label">Apply a bonus request for extra hours 
              <input type="number" ng-model="form.bonus_extra_hour"/> <small id="passwordHelpInline" class="text-muted">Hr(s)</small>
               </label>
          </div>
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-4 col-form-label"><input type="checkbox" name="extra_hours_request" ng-model="form.extra_hours_request">Accept bonus request </label>
          </div>
        </form>
        <div ng-if="form.error" class="error">%%form.message%%</div>
    </div>
    <div class="modal-footer">
      <span ng-if="form.loading">Loading</span>
      <button
        ng-disable="form.loading"
        type="button"
        style="margin-top:10px;"
        class="btn btn-default"
        data-dismiss="modal"
        ng-click="form.cancel()"
      >
        Cancel</button
      >&nbsp;
      <span class="pull-right">
        <button
          ng-disabled="form.loading"
          type="submit"
          style="margin-top:10px;"
          class="btn btn-success"
        >
          Approve
        </button>
        <i ng-show="loading" class="fa fa-spinner fa-spin"></i>
      </span>
    </div>
  </form>
</div>
