<div>
  <div class="modal-header">
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      ng-click="form.cancel()"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="addLeaveModalLabel">Extra Hour</h4>
  </div>
  <form name="purchaseOrderForm" ng-submit="form.submit(purchaseOrderForm)" novalidate>
    <div class="modal-body">
        <div class="row">
            <h4>User : Varun Sahu</h4>
            <h4>Date : 23 Jan 2019</h4>
            <h4>Project : GeekyAnts</h4>
        </div>
      <div class="row">
        <div class="panel panel-default no-margin" style="clear:both; border-bottom: none;">
                <span class="pull-right" style="margin-left:auto">
                    <span class="btn btn-info pull-right" ng-click="form.addNewItem()">
                        <i class="fa fa-plus"></i> Add</span>
                </span>
            <div class="vendor-contact" ng-show="form.data.length > 0">
                <table class="table table-condensed no-margin">
                  <thead>
                      <tr>
                          <!-- <th>Date</th>
                          <th>Project</th> -->
                          <th>Notes</th>
                          <th>Hours</th>
                          <th></th>
                      </tr>
                  </thead>
                  <tbody ng-show="form.data.length > 0">
                    <tr ng-repeat="extra_hour in form.data track by $index">
                         <td>
                          <input
                            type="text"
                            name="delivery_date"
                            class="form-control"
                            uib-datepicker-popup="dd-MMM-yyyy"
                            ng-value="form.model.delivery_date"
                            ng-model="form.model.delivery_date"
                            is-open="form.deliveryDate.isOpen"
                            datepicker-options="form.deliveryDate.datepickerOptions"
                            close-text="Close"
                            alt-input-formats="altInputFormats"
                          />
                          <span class="input-group-btn">
                            <button
                              type="button"
                              style="padding: 9px 12px"
                              class="btn btn-default"
                              ng-click="form.deliveryDate.isOpen = !form.deliveryDate.isOpen"
                            >
                              <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                          </span>
                        </td>
                        <!--<td>
                            <ui-select ng-model="model.selected_projects" theme="select2" class="small" ng-style="model.error && model.selected_projects.length == 0 && {border: '1px solid red'}">
                                <ui-select-match>%%$item.project_name%%</ui-select-match>
                                <ui-select-choices repeat="project.id as project in data.obj.assigned_projects | filter: $select.search">
                                    %%project.project_name%%
                                </ui-select-choices>
                        </td> -->
                        <td>
                           <textarea class="form-control" placeholder="Notes"></textarea>
                        </td>
                        <td class="text-center">
                            <input type="number" class="form-control" name="item_price%%$index%%" placeholder="Hours" ng-model="item.unit_price" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" min="0" step="1" ng-style="form.error && !purchaseOrderForm.item_price%%$index%%.$valid && {border: '1px solid red'}" required />
                            
                        </td>
                        <td class="text-center">
                            <button ng-hide="$index == 0 && form.model.purchase_items.length == 1 " class="btn btn-danger btn-xs" ng-click="form.removeItem($index)">
                                <i class="btn-icon fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                  </tbody>
                </table>
                <div style="padding:10px;">
                  <p ng-show="form.itemError" class="small text-danger">
                    Please add details for at least one purchase item.
                  </p>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <span ng-if="form.loading">Loading</span>
      <button
        ng-disable="form.loading"
        type="button"
        style="margin-top:10px;"
        class="btn btn-default"
        data-dismiss="modal"
        ng-click="form.cancel()"
      >
        Cancel</button
      >&nbsp;
      <span class="pull-right">
        <button
          ng-disabled="form.loading"
          type="submit"
          style="margin-top:10px;"
          class="btn btn-success"
        >
          Submit
        </button>
        <i ng-show="loading" class="fa fa-spinner fa-spin"></i>
      </span>
    </div>
  </form>
</div>
