<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      Education<input
        type="checkbox"
        class="pull-right"
        ng-model="form.checkbox"
        ng-click="form.checkboxUpdate()"
      />
    </h4>
  </div>
  <!-- <form id="form-education-list"> -->
  <ul
    id="education-list"
    class="education-list list-group no-margin"
    ng-repeat="x in form.data track by $index"
  >
    <li class="list-group-item">
      <input
        type="checkbox"
        ng-model="form.data[$index].visibility"
        ng-true-value="1"
        ng-false-value="0"
        ng-change="form.visibilityUpdate(x.id,$index)"
        class="pull-right"
      />
      <strong>%%x.degree_id%%</strong> - <span>%%x.year%%</span>
    </li>
  </ul>
  <!-- </form> -->
</div>
