<div>

    <div class="modal-header">
        <button type="button" class="close" style="margin-top:2px;" data-dismiss="modal" aria-hidden="true">
                <i class="fa fa-close" ng-click="cancel()"></i>
            </button>
        <h4 class="modal-title">Seat Allocation </h4>

        </input>
    </div>

    <div class="modal-body" id="modal-body">
        <div class="custom-space" style="border:0; width:70%;">
            <div class="row">
                <form>
                    <div ng-if="items.seat_info.user_details.assigned_user.name" class="form-group row">
                        <label for="assigned_to" class="col-sm-3  col-form-label">Assigned To:</label>
                        <div class="col-sm-7 assign-input">
                            <input type="text" readonly class="form-control-plaintext" id="assigned_to" ng-model="items.seat_info.user_details.assigned_user.name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="selectid2" class="col-sm-3  col-form-label">User:</label>
                        <div class="col-sm-7">
                            <!-- <select name="selectid2" id="selectid2" ng-options="user.name for user in items.users track by user.id" ng-model="selected_user" placeholder="Select an option">
                        </select> -->
                            <ui-select ng-model="selected_user" on-select="select_user($select.selected)" theme="select2" name="selectid2" id="selectid2">
                                <ui-select-match>%%$select.selected.name%%</ui-select-match>
                                <ui-select-choices repeat="user.id as user in items.users | filter: $select.search">
                                    %%user.name%%
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="seat_name" class="col-sm-3 col-form-label">Seat:</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control-plaintext modal-input-box" name="seat_name" id="seat_name" ng-model="items.seat_info.name">

                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <span ng-if="items.seat_info.user_details.assigned_user.name" class="btn btn-danger release-btn" style="font-size: 14px"
                                ng-click="releaseUser(items.seat_info.id)">
                        Release Seat </span>
                        </div>
                    </div>
                </form>
            </div>
            <div ng-if="error_message">
                <div style="font-size: 14px; color: red" class="pull-right">
                    %% error_message %%
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>&nbsp;
            <button class="btn btn-primary" ng-click="saveData()">Save</button>
        </div>
    </div>
</div>
