<div>
  <h4 class="admin-section-heading">Project Technologies </h4>
  <div class="panel panel-default">
      <div class="panel-body">
          <div class="form-group row">
              <div class="col-sm-12">
                  <ui-select multiple ng-model="projectTechnologies" on-select="select_project_technologies($select.selected)" on-remove="select_project_technologies($select.selected)" theme="select2" style="border: 1px solid #D5DDF1 !important">
                      <ui-select-match>%%$item.name%%</ui-select-match>
                      <ui-select-choices repeat="projectCategory.id as projectCategory in allTechnologies | filter: $select.search">
                          %%projectCategory.name%%
                      </ui-select-choices>
                  </ui-select>
              </div>
          </div>
      </div>
  </div>
</div>