<div class="col-sm-3 status-tree pull-right">
    <ul>
        <li ng-repeat="activity in activities">
            <span class="grey"></span>%%activity.name%%
                <small ng-if="activity.user">%%activity.user.name%%</small>
            <small><i class="fa fa-clock-o" aria-hidden="true"></i> %%$activity.created_at | dateToIso%%</small>
      </li>
       <!-- <li><span class="grey"></span>Created by Megha <small><i class="fa fa-clock-o" aria-hidden="true"></i>
          22Nov 2018 2pm</small>
       </li>
       <li><span class="grey"></span>Transfered to Pratik<small><i class="fa fa-clock-o" aria-hidden="true"></i>
          22Nov 2018 2pm</small>
       </li>
       <li> <span class="grey"></span>Created by</li>
       <li><span class="grey"></span>test</li> -->
    </ul>
 </div>