.widget1 {
    border: 10px solid #c5d7f396;
    width: 40%;
    margin: 0px;
    padding: 0px;
}
.title {
    background-color: #c8e7f140; 
    padding: 10px;
    border-bottom: 1px solid #8da3bd63;
}
p.heading {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #8da3bd;
   margin-left: 20px;
}
i.custom-icon {
    float: right;
    border: 2px solid #8da3bd82;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    top: -8px;
    margin-right: 20px;
}
span.number {
    font-size: 40px;
    border-right: 1px dotted #8da3bd;
    padding: 20px;
    color: #8da3bd;
    position:relative; 
    display: inline-block; 
}
span.text {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #8da3bd;
    margin-left: 30px;
    margin-top: 10px;
    display: inline-block;
    width: 250px; 
}
.content {
    border-top: 1px solid #8da3bd63;
    margin: 0px;
}
p.button {
    padding: 30px;
    background-color: #00a1ff;
    color: white;
    text-align: center;
    margin: 0px;
}
i.button-icon {
    margin-right: 10px;
}
p.no-margin {
    margin-top: 0px;
    margin-bottom: 0px;
}
.number:after { 
    content: ' ';
    position: absolute; 
    top:40px; 
    right: -8px; 
    width: 10px; 
    height: 10px; 
    border-radius: 50%; 
    border: solid 2px red; 
}