<div>
    <div class="modal-header">
       <h4 class="modal-title" ng-show="!form.model.id"> Create New Participant </h4>
       <button type="button" class="close" data-dismiss="modal" ng-click="close()" aria-label="Close">
       <span aria-hidden="true">&times;</span>
       </button>
    </div>
    <div class="modal-body">
       <form>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>Employee name</label>
                <input type="text" class="form-control" placeholder="Employee Name" ng-model="model.data.employee_name" >
              </div>
              <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" placeholder = "Enter the Title" ng-model="model.data.title" >
              </div>
              <div class="form-group">
                <label>Description</label>
                <input type="text" placeholder = "Enter the description of topic for techtalk" class="form-control" ng-model="model.data.description" >
              </div>
              
              <div class="form-group">
                <label>Event Date</label>
                <div class='input-group date' id='datetimepicker1'>
                  <input type='text' placeholder = "Event Date" class="form-control" ng-model="model.data.event_date" >
  
                  <span class="input-group-addon">
                      <span><i class="fa fa-calendar" aria-hidden="true"></i></span>
                    </span>
                </div>
              </div>
             
            </div>
          </div>
          </form>
      <div class="modal-footer">
        <button ng-disable="form.loading" type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Cancel</button>
        <button ng-hide="form.loading" type="submit" ng-click="model.onSubmit()" class="btn btn-primary">Save</button>
         
        <!-- <a ng-show="form.loading" class="btn btn-primary disabled">
          <i class="fa fa-spinner fa-spin"></i> Saving -->
          </a>
      </div>
  </div>

<script type="text/javascript">
	$(function () {
		$('#datetimepicker1').datetimepicker({
			format: 'DD-MM-YYYY'
		});
		
	});
</script>