<div>
    <div style=" display:flex;">
        <h5  style="flex: 1;">Contacts</h5>
        <span class="btn btn-primary" style="margin:2px;" ng-click="showModal()">Add More</span>
    </div>
   <div class="panel panel-default">
        <table class="table table-bordered bg-white">
            <tr>
                <th width="120" class="text-center">Contact Person</th>
                <th width="120" class="text-center">Type</th>
                <th width="120" class="text-center">Email</th>
                <th width="120" class="text-center">Mobile</th>
                <th width="120" class="text-center">Action</th>
            </tr>
            <tr ng-repeat="contact in oldcontactObjs track by $index">
                <td class="text-center">%%contact.first_name%% %%contact.last_name%%</td>
                <td class="text-center">%%contact.type%%</td>
                <td class="text-center">%%contact.email%%</td>
                <td class="text-center">%%contact.mobile%%</td>
                <td class="text-center">
                      <span class="btn-sm btn-danger" ng-click="removecontactObjRow($index, contact) " style="margin:10px "><i class="btn-icon fa fa-trash"></i></span>
                    <span ng-show="!editable[$index] " class=" btn-sm btn-info" ng-click="editcontactObjRow($index, contact)" style="margin: 10px "><i class="btn-icon fa fa-edit"></i></span>
                </td>
            </tr>
            <tr ng-if="!oldcontactObjs">
                <td colspan="3">No Records</td>
            </tr>
        </table>
    </div>
</div>
</div>