<div>
        <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="addCronModalLabel">Schedule Cron</h4>
        </div>
        <form name="userForm" class="form-horizontal" ng-submit="submitForm(userForm)" novalidate>
                <div class="modal-body">
                        <div class="loader" ng-show="loading"></div>
                        <div class="row" style="margin-top:12px;">
                                <div class="col-md-11 ma-bot-10">
                                        <div class="form-group ma-bot-10">
                                                <label for="name" class=" col-sm-3 control-label text-weight">Event
                                                        Type</label>
                                                <div class="col-sm-9">
                                                        <div class="form-inline">
                                                                <label>
                                                                        <input type="radio" ng-model="event_type" value="once">
                                                                        <small>Once</small>
                                                                </label>
                                                                <label>
                                                                        <input type="radio" ng-model="event_type" value="recurring">
                                                                        <small>Recurring</small>
                                                                </label>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                        <!-- REPEAT TYPE -->
                        <div class="row" ng-show="event_type == 'recurring'">
                                <div class="col-md-11 ma-bot-10">
                                        <div class="form-group ma-bot-10">
                                                <label for="name" class=" col-sm-3 control-label text-weight">Repeat Type</label>
                                                <div class="col-sm-9">
                                                        <select name="type" id="name" class="form-control" ng-model="repeat_type" ng-change="repeatTypeChange()"
                                                                required ng-style="userForm.type.$invalid && submitted && {border: '1px solid red'}">
                                                                <option value="" selected>Select Repeat Type</option>
                                                                <option value="daily">Daily</option>
                                                                <option value="weekly">Weekly</option>
                                                                <option value="monthly">Monthly</option>
                                                        </select>
                                                </div>
                                        </div>
                                </div>
                        </div>
                        <!-- TIME -->
                        <div class="row">
                                <div class="col-md-11 ma-bot-10">
                                        <div class="form-group ma-bot-10">
                                                <label for="name" class=" col-sm-3 control-label text-weight">Time</label>
                                                <div class="col-sm-9">
                                                        <div uib-timepicker ng-model="mytime" hour-step="hstep" 
                                                                minute-step="mstep" show-meridian="false" ng-style="timeError && !mytime && {border: '1px solid red'}"></div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                        <!-- Select Days -->
                        <div class="row" ng-show="event_type == 'recurring' && repeat_type == 'weekly' ">
                                <div class="col-md-11 ma-bot-10">
                                        <div class="form-group ma-bot-10">
                                                <label class="col-sm-3 control-label text-weight">Select Days</label>
                                                <div class="col-sm-6 btn-group" ng-style="selectedDaysError  && {border: '1px solid red'}">
                                                        <label class="btn btn-info" ng-model="selected_days.sun" uib-btn-checkbox>S</label>
                                                        <label class="btn btn-info" ng-model="selected_days.mon" uib-btn-checkbox>M</label>
                                                        <label class="btn btn-info" ng-model="selected_days.tue" uib-btn-checkbox>T</label>
                                                        <label class="btn btn-info" ng-model="selected_days.wed" uib-btn-checkbox>W</label>
                                                        <label class="btn btn-info" ng-model="selected_days.thu" uib-btn-checkbox>T</label>
                                                        <label class="btn btn-info" ng-model="selected_days.fri" uib-btn-checkbox>F</label>
                                                        <label class="btn btn-info" ng-model="selected_days.sat" uib-btn-checkbox>S</label>
                                                </div>
                                        </div>
                                </div>
                        </div>
                        <!-- Date -->
                        <div class="row" ng-show="event_type == 'recurring' && repeat_type == 'monthly'">
                                <div class="col-md-11 ma-bot-10">
                                        <div class="form-group" ng-style="selectedDatesError  && {border: '1px solid red'}">
                                                <label for="" class=" col-sm-3 control-label text-weight">Date of Month</label>
                                                <div class="col-sm-6 btn-group">
                                                        <label class="btn btn-info" ng-model="selected_dates[1]" uib-btn-checkbox>1</label>
                                                        <label class="btn btn-info" ng-model="selected_dates[2]" uib-btn-checkbox>2</label>
                                                        <label class="btn btn-info" ng-model="selected_dates[3]" uib-btn-checkbox>3</label>
                                                        <label class="btn btn-info" ng-model="selected_dates[4]" uib-btn-checkbox>4</label>
                                                        <label class="btn btn-info" ng-model="selected_dates[5]" uib-btn-checkbox>5</label>
                                                        <label class="btn btn-info" ng-model="selected_dates[6]" uib-btn-checkbox>6</label>
                                                        <label class="btn btn-info" ng-model="selected_dates[7]" uib-btn-checkbox>7</label>
                                                        <label class="btn btn-info" ng-model="selected_dates[8]" uib-btn-checkbox>8</label>
                                                        <label class="btn btn-info" ng-model="selected_dates[9]" uib-btn-checkbox>9</label>
                                                        <label class="btn btn-info" ng-model="selected_dates[10]" uib-btn-checkbox>10</label>
                                                        <label class="btn btn-info" ng-model="selected_dates[11]" uib-btn-checkbox>11</label>
                                                        <label class="btn btn-info" ng-model="selected_dates[12]" uib-btn-checkbox>12</label>
                                                        <label class="btn btn-info" ng-model="selected_dates[13]" uib-btn-checkbox>13</label>
                                                        <label class="btn btn-info" ng-model="selected_dates[14]" uib-btn-checkbox>14</label>
                                                        <label class="btn btn-info" ng-model="selected_dates[15]" uib-btn-checkbox>15</label>
                                                        <label class="btn btn-info" ng-model="selected_dates[16]" uib-btn-checkbox>16</label>
                                                        <label class="btn btn-info" ng-model="selected_dates[17]" uib-btn-checkbox>17</label>
                                                        <label class="btn btn-info" ng-model="selected_dates[18]" uib-btn-checkbox>18</label>
                                                        <label class="btn btn-info" ng-model="selected_dates[19]" uib-btn-checkbox>19</label>
                                                        <label class="btn btn-info" ng-model="selected_dates[20]" uib-btn-checkbox>20</label>
                                                        <label class="btn btn-info" ng-model="selected_dates[21]" uib-btn-checkbox>21</label>
                                                        <label class="btn btn-info" ng-model="selected_dates[22]" uib-btn-checkbox>22</label>
                                                        <label class="btn btn-info" ng-model="selected_dates[23]" uib-btn-checkbox>23</label>
                                                        <label class="btn btn-info" ng-model="selected_dates[24]" uib-btn-checkbox>24</label>
                                                        <label class="btn btn-info" ng-model="selected_dates[25]" uib-btn-checkbox>25</label>
                                                        <label class="btn btn-info" ng-model="selected_dates[26]" uib-btn-checkbox>26</label>
                                                        <label class="btn btn-info" ng-model="selected_dates[27]" uib-btn-checkbox>27</label>
                                                        <label class="btn btn-info" ng-model="selected_dates[28]" uib-btn-checkbox>28</label>
                                                        <label class="btn btn-info" ng-model="selected_dates[29]" uib-btn-checkbox>29</label>
                                                        <label class="btn btn-info" ng-model="selected_dates[30]" uib-btn-checkbox>30</label>
                                                        <label class="btn btn-info" ng-model="selected_dates[31]" uib-btn-checkbox>31</label>        
                                                </div>
                                                
                                        </div>
                                </div>
                        </div>
                        <!-- ENDS ON -->
                        <div class="row" ng-show="event_type == 'recurring'">
                                <div class="col-md-11 ma-bot-10">
                                                <div class="form-group">
                                                        <label class=" col-sm-3 control-label text-weight">Ends On</label>
                                                        <div class="col-sm-9">
                                                                <div class="form-inline">
                                                                        <label>
                                                                                <input type="radio" ng-model="ends_on" value="never" ng-change="endOptionUpdated()">
                                                                                <small>Never</small>
                                                                        </label>
                                                                        <label>
                                                                                <input type="radio" ng-model="ends_on" value="on_date" ng-change="endOptionUpdated()">
                                                                                <small>On Date</small>
                                                                        </label>
                                                                        <label>
                                                                                <input type="radio" ng-model="ends_on" value="occurrence" ng-change="endOptionUpdated()">
                                                                                <small>Number of Occurrence</small>
                                                                        </label>
                                                                </div>
                                                        </div>
                                                </div>
                                </div>
                        </div>
                        <div class="row" ng-show="event_type == 'once'">
                                <div class="col-md-11 ma-bot-10">
                                        <div class="form-group">
                                                <label for="" class=" col-sm-3 control-label text-weight">Date</label>
                                                <div class="col-sm-6">
                                                        <p class="input-group">
                                                                <input type="text" class="form-control" uib-datepicker-popup="dd-MMM-yyyy" ng-model="schedule_date" is-open="openDateFlag" 
                                                                        datepicker-options="dateOptions" ng-required="true" close-text="Close" ng-style="scheduleDateError && schedule_date == '' && {border: '1px solid red'}"/>
                                                                <span class="input-group-addon">
                                                                <span ng-click="openDate()" ng-style="scheduleDateError && schedule_date == '' && {border: '1px solid red'}"><i class="glyphicon glyphicon-calendar"></i></span>
                                                        </span>
                                                        </p>
                                                        <!-- <p ng-show="userForm.dates.$invalid && submitted" class="help-block" style="color: red; font-size:11px; margin:0;">Dates is required</p> -->
                                                </div>
                                                <!-- <p ng-show="userForm.dates.$invalid && submitted" class="help-block" style="color: red">Dates is required</p> -->
                                        </div>
                                </div>
                        </div>
                        <!-- Ends on Date -->
                        <div class="row" ng-show="event_type == 'recurring'  && ends_on == 'on_date'">
                                <div class="col-md-11 ma-bot-10">
                                        <div class="form-group">
                                                <label for="" class=" col-sm-3 control-label text-weight">Ends on</label>
                                                <div class="col-sm-6">
                                                        <p class="input-group">
                                                                <input type="text" class="form-control" uib-datepicker-popup="dd-MMM-yyyy" ng-model="ends_on_date" is-open="openEndDateFlag" 
                                                                        datepicker-options="endsOnDateOptions" ng-required="true" close-text="Close" ng-style="endsOnError && ends_on_date == '' && {border: '1px solid red'}"/>
                                                                <span class="input-group-btn">
                                                                <button type="button" class="btn btn-default" ng-click="openEndDate()"><i class="glyphicon glyphicon-calendar"></i></button>
                                                        </span>
                                                        </p>
                                                        <!-- <p ng-show="userForm.dates.$invalid && submitted" class="help-block" style="color: red; font-size:11px; margin:0;">Dates is required</p> -->
                                                </div>
                                                <!-- <p ng-show="userForm.dates.$invalid && submitted" class="help-block" style="color: red">Dates is required</p> -->
                                        </div>
                                </div>
                        </div>
                        <div class="row" ng-show=" event_type == 'recurring'  && ends_on == 'occurrence' ">
                                <div class="col-md-11 ma-bot-10">
                                        <div class="form-group ma-bot-10">
                                                <label for="name" class=" col-sm-3 control-label text-weight">Number of Occurrences</label>
                                                <div class="col-sm-9">
                                                        <input type="number" class="form-control" ng-model="number_of_occurrences" ng-style="endsOnError && !number_of_occurrences && {border: '1px solid red'}">
                                                </div>
                                        </div>
                                </div>
                        </div>

                        <!-- SUBMIT BUTTON -->

                        <!--<button type="submit" class="btn btn-primary">Submit</button>-->
                </div>
                <div class="modal-footer">
                        <button type="button" style="margin-top:10px;" class="btn btn-default" data-dismiss="modal"
                                ng-click="cancel()">
                                Close
                        </button>&nbsp;
                        <span class="pull-right">
                                <button style="margin-top:10px;" class="btn btn-primary" ng-click="save()">
                                        Save
                                </button>
                                <i ng-show="loading" class="fa fa-spinner fa-spin"></i>
                        </span>
                </div>
        </form>
</div>