<div>
        <h4 class="admin-section-heading">Google Drive Link </h4>
        <div class="panel panel-default">
           <div class="panel-body">
              <div class="form-group row">
                 <div class="col-sm-3">
                    <input type="text" class="form-control" ng-model="newProjectLinkObj.name" placeholder="Name" ng-style="nameError  && newProjectLinkObj.name == '' && {border: '1px solid red'}"
                       />
                 </div>
                 <div class="col-sm-6">
                    <input type="text" class="form-control" ng-model="newProjectLinkObj.path" placeholder="Drive link" ng-style="pathError && newProjectLinkObj.path == '' && {border: '1px solid red'}"
                       />
                 </div>
                 <div class="col-sm-3">
                    <button class="btn btn-primary" ng-click="addProjectLinkRow()">
                    <i class="fa fa-plus"></i>
                    </button>
                 </div>
              </div>
              <div class="form-group m-t-15" >
                 <div class="panel panel-default">
                    <table class="table table-striped" >
                       <tr ng-repeat="oldProjectLink in oldProjectLinks track by $index">
                          <td class="td-text" >
                             <input type="text" ng-hide="!editable[$index]" class="form-control" ng-model="oldProjectLink.name" placeholder="Name" ng-style="nameError[$index]  && oldProjectLink.name == '' && {border: '1px solid red'}" />
                             <span ng-show="!editable[$index]">%%oldProjectLink.name%%</span>
                          </td>
                          <td class="td-text" >
                             <input type="text" ng-hide="!editable[$index]" class="form-control" ng-model="oldProjectLink.path" placeholder="$" ng-style="pathError[$index] && oldProjectLink.link == '' && {border: '1px solid red'}"
                                />
                          </td>
                          <td class="td-text pull-right" >
                             <button class="btn btn-danger pull-right btn-xs" ng-click="removeProjectLinkRow($index, oldProjectLink)"><i class="btn-icon fa fa-trash"></i></button>
                             <button ng-show="editable[$index]" class="btn btn-success pull-right btn-xs" ng-click="saveProjectLinkRow($index, oldProjectLink)"><i class="btn-icon fa fa-save"></i></button>

                             <button ng-show="!editable[$index]" class="btn btn-info pull-right btn-xs" ng-click="editProjectLinkRow($index)"><i class="btn-icon fa fa-edit"></i></button>

                             <button class="btn btn-primary tool-tips pull-right btn-xs"  target="_blank" ng-href="%%oldProjectLink.path%%" ng-show="!editable[$index]"><i class="btn-icon fa fa-eye"></i><span class="tooltiptext">View Link</span></button>


                          </td>
                       </tr>
                    </table>
                 </div>
              </div>
           </div>
        </div>
     </div>