<div>
        <h4 class="admin-section-heading">Asset Meta</h4>
        <div class="panel panel-default">
           <div class="loader" ng-show="form.loading"></div>
           <div class="panel-body" ng-hide="form.loading">
              <form name="aseetMetaForm" ng-submit="form.submit(aseetMetaForm)" novalidate>
                 <div class="form-group row no-m-b">
                    <div class="col-sm-5">
                      <ui-select tagging tagging-label="false" required="true" ng-model="form.model.key" name="key" theme="bootstrap"
                           title="Choose a service">
                          <ui-select-match placeholder="Select key">%%$select.selected%%</ui-select-match>
                          <ui-select-choices repeat="key in form.keys | filter:$select.search">
                              %%key%%
                          </ui-select-choices>
                      </ui-select>
                  </div>
                  <div class="col-sm-5">
                     <input type="text" class="form-control" name="value" ng-model="form.model.value" required="true" placeholder="Value" ng-style="(!form.model.value && form.submitted) && {border: '1px solid red'}"/>
                     <span ng-hide="form.model.validValue">Please enter a proper MAC address</span>
                  </div>
                  <div class="col-sm-2">
                     <button class="btn btn-primary" type="submit">
                     <i class="fa fa-plus"></i>
                     </button>
                  </div>
                 </div>
                 <div class="form-group row no-m-b">
                  <div class="col-sm-12">
                   <div class="invalid-feedback" ng-show="form.error" ng-style="form.error && {color: 'red'}">
                      %%form.message%%
                    </div>
                  </div>
                  </div>
              </form>
              </div>
                 <table class="table table-striped table-condensed">
                    <tbody>
                       <tr ng-repeat="item in form.data track by $index">
                          <td>
                             <!-- <input type="text" ng-show="item.editing" class="form-control" ng-model="item.key" placeholder="Key" ng-style="!item.key && {border: '1px solid red'}" /> -->
                              <ui-select ng-show="item.editing" tagging tagging-label="false" required="true" ng-model="item.key" name="key" theme="bootstrap" title="Choose a service">
                                <ui-select-match placeholder="Select key">%%$select.selected%%</ui-select-match>
                                <ui-select-choices repeat="key in form.keys | filter:$select.search">
                                    <small>%%key%%</small>
                                </ui-select-choices>
                            </ui-select>
                            <div class="invalid-feedback" ng-show="item.error" ng-style="item.error && {color: 'red'}">
                              %%item.message%%
                            </div>

                             <span ng-hide="item.editing"><small>%%item.key%%</small></span>
                          </td>
                          <td>
                             <input type="text" ng-show="item.editing" class="form-control" ng-model="item.value" placeholder="Value" ng-style="!item.value && {border: '1px solid red'}" />
                             <span ng-hide="item.editing">%%item.value%%</span>
                          </td>
                          <td class="text-right">
                             <a class="btn btn-info btn-sm" ng-show="!item.editing" ng-click="form.update(item)"><i class="btn-icon fa fa-edit"></i></a>
                             <a class="btn btn-success btn-sm" ng-disable="item.loading" ng-show="item.editing"  ng-click="item.update()"><i class="btn-icon fa fa-save"></i></a>
                             <a class="btn btn-default text-danger btn-sm" ng-disable="item.loading" ng-click="form.remove(item, $index)"><i class="btn-icon fa fa-trash"></i></a>
                          </td>
                       </tr>
                    </tbody>
                 </table>
              </div>
           </div>
        </div>
     </div>