<div>
    <div style=" display:flex;">
        <h5 style="flex: 1;">Additional WorkDay Bonus</h5>
        <span class="btn btn-primary" style="margin:2px;" ng-click="showModal()">Add</span>
    </div>
    <div class="panel panel-default">
        <table class="table table-striped">
            <thead>
                <th>Name</th>
                <th>Type</th>
                <th>From Date</th>
                <th>To Date</th>
                <th>Amount</th>
                <th>Added By</th>
                <th class="text-center">Actions</th>
            </thead>
            <tr ng-show="loading"> 
                <div ng-show="loading" class="loader" style="height: 50px; width:50px"></div>
            </tr>
            <tr ng-repeat="bonus in oldbonusObjs track by $index">
                <td class="td-text">%%bonus.user.name%%</td>
                <td class="td-text" style="text-transform: capitalize;">%%bonus.type%%</td>
                <td class="td-text">%%filteredDate(bonus.from_date) | date : 'mediumDate'%%</td>
                <td class="td-text">%%filteredDate(bonus.to_date) | date: 'mediumDate'%%</td>
                <td class="td-text">%%bonus.amount%%</td>
                <td class="td-text">%%bonus.reviewer.name%%</td>
                <td class="text-center">
                    <span class="btn-sm btn-danger" ng-click="removebonusObjRow($index, bonus) " style="margin:10px ">
                        <i class="btn-icon fa fa-trash"></i>
                    </span>
                    <span ng-show="!editable[$index] " class=" btn-sm btn-info" ng-click="editbonusObjRow($index, bonus)" style="margin: 10px ">
                        <i class="btn-icon fa fa-edit"></i>
                    </span>
                </td>
            </tr>
            <tr ng-if="oldbonusObjs.length==0">
                <td colspan="8">No records</td>
            </tr>
        </table>
    </div>
</div>
</div>