<div class="panel panel-default ">
  <div class="panel-heading">
    <h4 class="panel-title">
      Basic info
      <input
        type="checkbox"
        class="pull-right"
        ng-model="form.checkbox"
        ng-click="form.checkboxUpdate()"
      />
    </h4>
  </div>
  <div class="panel-body">
    <div class="m-b">
      <label>Photo:</label>
      <div class="form-control" style="border-radius:0">
        <div class="custom-file">
          <div class="row">
            <div class="col-sm-10">
              <input
                type="file"
                accept="image/*"
                nv-file-select
                uploader="uploader"
                ng-blur="form.getImage()"
              />
            </div>
            <div class="col-sm-2">
              <img src="%%form.src%%" width="30px" height="25px" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="m-b">
      <label>Title:</label>
      <input
        ng-blur="form.infoUpdate()"
        ng-model="form.title"
        type="text"
        name="user_designation"
        class="form-control"
        id=""
      />
    </div>
    <div class="m-b">
      <label>Office Location:</label>
      <select
        class="form-control"
        name="users"
        ng-model="userSelect"
        ng-blur="form.infoUpdate()"
      >
        <option ng-repeat="option in locationlist" value="%%option.value%%"
          >%% option.location %%</option
        >
      </select>
    </div>
    <div class="m-b">
      <label>Page Title:</label>
      <input
        ng-blur="form.infoUpdate()"
        ng-model="form.page_title"
        type="text"
        name="page_title"
        class="form-control"
        id=""
        value=""
      />
    </div>
    <div>
      <label>Profile Layout:</label>
      <select
        class="form-control"
        name="users"
        ng-model="pathSelect"
        ng-blur="form.infoUpdate()"
      >
        <option ng-repeat="option in pathlist" value="%%option.path%%"
          >%% option.name %%</option
        >
      </select>
    </div>
  </div>
</div>
