<div class="panel panel-default ">
  <div class="panel-heading">
    <h4 class="panel-title">
      Tech Stack
      <input
        type="checkbox"
        class="pull-right"
        ng-model="form.checkbox"
        ng-click="form.checkboxUpdate()"
      />
    </h4>
  </div>
  <div class="panel-body">
    <div class="m-b" ng-repeat="x in tech_stack track by $index">
      <div class="input-group">
        <span class="input-group-addon"><i class="{{ x.icon }}"></i></span>
        <input
          type="text"
          class="form-control"
          ng-model="tech_stack[$index].value"
          ng-blur="form.submit($index)"
        />
        <span class="input-group-addon"
          ><input
            type="checkbox"
            ng-model="tech_stack[$index].visibility"
            ng-change="form.submit($index)"
        /></span>
        <span
          class="{{ checkvisibility[$index] }} input-group-addon"
          style="border:none;background:none"
          ><i class="{{ checkstatus[$index] }}"></i
        ></span>
      </div>
    </div>
  </div>
</div>
