<div class="panel panel-default ">
  <div class="panel-heading">
    <h4 class="panel-title">
      Social Info
      <input type="checkbox" class="pull-right" />
    </h4>
  </div>
  <div class="panel-body">
    <div class="m-b">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
        <input
          type="text"
          ng-model="social_info[0].value"
          ng-blur="form.submit()"
          class="form-control"
        />
        <span class="input-group-addon"
          ><input
            type="checkbox"
            ng-model="social_info[0].visibility"
            ng-click="form.submit()"
        /></span>
      </div>
    </div>
    <div class="m-b">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-phone"></i></span>
        <input
          type="text"
          ng-model="social_info[1].value"
          ng-blur="form.submit()"
          class="form-control"
        />
        <span class="input-group-addon"
          ><input
            type="checkbox"
            ng-model="social_info[1].visibility"
            ng-click="form.submit()"
        /></span>
      </div>
    </div>
    <div class="m-b">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-skype"></i></span>
        <input
          type="text"
          ng-model="social_info[2].value"
          ng-blur="form.submit()"
          class="form-control"
        />
        <span class="input-group-addon"
          ><input
            type="checkbox"
            ng-model="social_info[2].visibility"
            ng-click="form.submit()"
        /></span>
      </div>
    </div>
    <div class="m-b">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-github"></i></span>
        <input
          type="text"
          ng-model="social_info[3].value"
          ng-blur="form.submit()"
          class="form-control"
        />
        <span class="input-group-addon"
          ><input
            type="checkbox"
            ng-model="social_info[3].visibility"
            ng-click="form.submit()"
        /></span>
      </div>
    </div>
    <div class="m-b">
      <div class="input-group">
        <span class="input-group-addon"
          ><i class="fa fa fa-stack-overflow"></i
        ></span>
        <input
          type="text"
          ng-model="social_info[4].value"
          ng-blur="form.submit()"
          class="form-control"
        />
        <span class="input-group-addon"
          ><input
            type="checkbox"
            ng-model="social_info[4].visibility"
            ng-click="form.submit()"
        /></span>
      </div>
    </div>
    <div class="m-b">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-linkedin"></i></span>
        <input
          type="text"
          ng-model="social_info[5].value"
          ng-blur="form.submit()"
          class="form-control"
        />
        <span class="input-group-addon"
          ><input
            type="checkbox"
            ng-model="social_info[5].visibility"
            ng-click="form.submit()"
        /></span>
      </div>
    </div>
    <div class="m-b">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-twitter"></i></span>
        <input
          type="text"
          ng-model="social_info[6].value"
          ng-blur="form.submit()"
          class="form-control"
        />
        <span class="input-group-addon"
          ><input
            type="checkbox"
            ng-model="social_info[6].visibility"
            ng-click="form.submit()"
        /></span>
      </div>
    </div>
    <div>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-facebook"></i></span>
        <input
          type="text"
          ng-model="social_info[7].value"
          ng-blur="form.submit()"
          class="form-control"
        />
        <span class="input-group-addon"
          ><input
            type="checkbox"
            ng-model="social_info[7].visibility"
            ng-click="form.submit()"
        /></span>
      </div>
    </div>
  </div>
</div>
