<div ng-if="!form.loading">
  <div class="modal-header">
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      ng-click="form.cancel()"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="addLeaveModalLabel">Create Purchase Order</h4>
  </div>
  <form
    name="purchaseOrderForm"
    ng-submit="form.submit(purchaseOrderForm)"
    novalidate
  >
    <div class="modal-body">
      <div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Company</label>
              <div>
                <ui-select
                  ng-model="form.selected_company"
                  on-select="form.select_company($select.selected)"
                  theme="select2"
                  name="company"
                  id="company"
                  allow-clear="true"
                  ng-style="form.error && !purchaseOrderForm.company.$valid && {border: '1px solid red'}"
                  required
                >
                  <ui-select-match allow-clear="true"
                    >%%$select.selected.name%%</ui-select-match
                  >
                  <ui-select-choices
                    repeat="company in form.companies | filter: $select.search"
                  >
                    %%company.name%%
                    <small><span><br/>GST : %%company.gst%%</span></small>
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
            <div class="form-group">
              <label>Reference Number</label>
              <div>
                <input
                  type="text"
                  class="form-control"
                  id="reference_number"
                  name="reference_number"
                  ng-model="form.model.reference_number"
                  ng-style="form.error && !purchaseOrderForm.reference_number.$valid && {border: '1px solid red'}"
                  required
                />
              </div>
            </div>
            <div class="form-group">
              <label>Payment Terms</label>
              <div>
                <input
                  type="text"
                  class="form-control"
                  id="payment_terms"
                  name="payment_terms"
                  ng-model="form.model.payment_terms"
                  ng-style="form.error && !purchaseOrderForm.payment_terms.$valid && {border: '1px solid red'}"
                  required
                />
              </div>
            </div>
            <div class="form-group">
              <label>Amount</label>
              <div>
                <input
                  class="form-control"
                  id="total"
                  name="total"
                  ng-model="form.model.total"
                  ng-style="form.error && !purchaseOrderForm.total.$valid && {border: '1px solid red'}"
                  required
                />
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Vendor Name</label>
              <div>
                <ui-select
                  ng-model="form.selected_vendor"
                  on-select="form.select_vendor($select.selected)"
                  theme="select2"
                  name="vendor"
                  id="vendor"
                  allow-clear="true"
                  ng-style="form.error && !purchaseOrderForm.vendor.$valid && {border: '1px solid red'}"
                  required
                >
                  <ui-select-match allow-clear="true"
                    >%%$select.selected.name%%</ui-select-match
                  >
                  <ui-select-choices
                    repeat="vendor in form.allVendors | filter: $select.search"
                  >
                    %%vendor.name%%
                  </ui-select-choices>
                </ui-select>
              </div>
            </div>
            <div class="form-group">
              <label>Delivery Date</label>
              <div>
                <div class="input-group">
                  <input
                    type="text"
                    name="delivery_date"
                    class="form-control"
                    uib-datepicker-popup="dd-MMM-yyyy"
                    ng-model="form.model.delivery_date"
                    is-open="form.deliveryDate.isOpen"
                    datepicker-options="form.deliveryDate.datepickerOptions.options"
                    close-text="Close"
                    alt-input-formats="altInputFormats"
                  />
                  <span class="input-group-btn">
                    <button
                      type="button"
                      style="padding: 9px 12px"
                      class="btn btn-default"
                      ng-click="form.deliveryDate.isOpen = !form.deliveryDate.isOpen"
                    >
                      <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>GST Included</label>
              <div class="m-t-10">
                <span class="form-check" style="margin: 5px;">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="gst_included"
                    value="yes"
                    ng-model="form.model.gst_included"
                  />
                  <label class="form-check-label" for="exampleRadios1">
                    Yes
                  </label>
                </span>
                <span class="form-check" style="margin: 5px;">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="gst_included"
                    value="no"
                    ng-model="form.model.gst_included"
                  />
                  <label class="form-check-label" for="exampleRadios1">
                    No
                  </label>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div
          class="panel panel-default no-margin"
          style="clear:both; border-bottom: none;"
        >
          <div
            class="panel-heading col-sm-12 "
            style="display:flex; align-items: center"
          >
            Purchase Items
            <span class="pull-right" style="margin-left:auto">
              <span
                class="btn btn-info pull-right"
                ng-click="form.addNewItem()"
              >
                <i class="fa fa-plus"></i> Add Item</span
              >
            </span>
          </div>
          <div
            class="vendor-contact"
            ng-show="form.model.purchase_items.length > 0"
          >
            <table class="table table-condensed no-margin">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Quantity</th>
                  <th>Unit Price</th>
                  <th>Total</th>
                  <th></th>
                </tr>
              </thead>
              <tbody ng-show="form.model.purchase_items.length > 0">
                <tr
                  ng-repeat="item in form.model.purchase_items track by $index"
                >
                  <td>
                    <input
                      name="item_name%%$index%%"
                      type="text"
                      class="form-control"
                      placeholder="Name"
                      ng-model="item.name"
                      ng-style="form.error && !purchaseOrderForm.item_name%%$index%%.$valid && {border: '1px solid red'}"
                      required
                    />
                  </td>
                  <td>
                    <input
                      name="item_qty%%$index%%"
                      type="number"
                      class="form-control"
                      placeholder="Quantity"
                      ng-model="item.quantity"
                      min="1"
                      ng-style="form.error && !purchaseOrderForm.item_qty%%$index%%.$valid && {border: '1px solid red'}"
                      required
                    />
                  </td>
                  <td>
                    <input
                      type="text"
                      class="form-control"
                      name="item_price%%$index%%"
                      placeholder="Unit Price"
                      ng-model="item.unit_price"
                      ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
                      min="0"
                      step="0.01"
                      ng-style="form.error && !purchaseOrderForm.item_price%%$index%%.$valid && {border: '1px solid red'}"
                      required
                    />

                    <!-- <input type="number" name="item_price%%$index%%"class="form-control" placeholder="Unit Price" ng-model="item.unit_price | number : 2" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" ng-style="form.error && !purchaseOrderForm.item_price%%$index%%.$valid && {border: '1px solid red'}" required/> -->

                    <!-- <input name="item_price%%$index%%"  class="form-control" placeholder="Unit Price" ng-model="item.unit_price"
                             ng-style="form.error && !purchaseOrderForm.item_price%%$index%%.$valid && {border: '1px solid red'}"
                             required> -->
                  </td>
                  <td class="text-center">
                    %%item.unit_price * item.quantity%%
                    <!-- <input name="item_total%%$index%%"  class="form-control" placeholder="Total" ng-model="item.total"
                             ng-style="form.error && !purchaseOrderForm.item_total%%$index%%.$valid && {border: '1px solid red'}"
                             required> -->
                  </td>
                  <td class="text-center">
                    <button
                      ng-hide="$index == 0 && form.model.purchase_items.length == 1 "
                      class="btn btn-danger btn-xs"
                      ng-click="form.removeItem($index)"
                    >
                      <i class="btn-icon fa fa-trash"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div style="padding:10px;">
              <p ng-show="form.itemError" class="small text-danger">
                Please add details for at least one purchase item.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <span ng-if="form.loading">Loading</span>
      <button
        ng-disable="form.loading"
        type="button"
        style="margin-top:10px;"
        class="btn btn-default"
        data-dismiss="modal"
        ng-click="form.cancel()"
      >
        Cancel</button
      >&nbsp;
      <span class="pull-right">
        <button
          ng-disabled="form.loading"
          type="submit"
          style="margin-top:10px;"
          class="btn btn-success"
        >
          Submit
        </button>
        <i ng-show="loading" class="fa fa-spinner fa-spin"></i>
      </span>
    </div>
  </form>
</div>
