<div>
    <h4 class="admin-section-heading">Client Details</h4>
    <div class="panel panel-default">
       <div class="info-table">
          <label>Company Name: </label> <span>%%clientData.name%%</span>
       </div>
       <div class="info-table">
          <label>Email: </label> <span>%%clientData.email%%</span>
       </div>
       <div class="info-table">
          <label>Primary Contact No.: </label>
          <span ng-if="clientData.mobile">%%clientData.mobile%%</span>
          <span ng-if="! clientData.mobile">No mention</span>
       </div>
       
       <div ng-repeat="x in clientData.contacts">
          <div class="info-table gray-bg"  >
             <label> %%x.type%% contact </label>
          </div>
          <div class="info-table" ng-if="clientData.contacts" >
             <label>Name: </label>
             <span ng-if="clientData.mobile">%%x.first_name%% %%x.last_name%%</span>
             <span ng-if="clientData.contacts.length==0">No mention</span>
          </div>
          <div class="info-table" ng-if="clientData.contacts" >
             <label>Mobile: </label>
             <span ng-if="clientData.mobile">%%x.mobile%%</span>
             <span ng-if="clientData.contacts.length==0">No mention</span>
          </div>
          <div class="info-table" ng-if="clientData.contacts" >
             <label>Email: </label>
             <span ng-if="clientData.mobile">%%x.email%%</span>
             <span ng-if="clientData.contacts.length==0">No mention</span>
          </div>
          <!-- <table>
             <tr ng-if="clientData.contacts" >
               <td>%%x.first_name%% %%x.last_name%%</td>
               <td>
                 <span ng-if="x.type" style="text-transform: capitalize;"
                   >%%x.type%%</span>
                 <span ng-if="x.primary=1 && !x.type">Primary</span>
               </td>
               <td>%%x.mobile%%</td>
               <td>%%x.email%%</td>
             </tr>
             <tr ng-if="clientData.contacts.length==0">
             <td colspan="4">No Records</td>
             </tr>
             </table> -->
       </div>
    </div>
 </div>