<div>

    <div class="modal-header">
        <button type="button" class="close" style="margin-top:2px;" data-dismiss="modal" aria-hidden="true">
            <i class="fa fa-close" ng-click="form.cancel()"></i>
        </button>
        <h4 class="modal-title">Assgin Ip</h4>
        </input>
    </div>

    <div class="modal-body" id="modal-body">
    <div ng-show="form.loading" class="loader"></div>
    <div class="alert alert-danger" ng-if="form.rangeError">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <span>%%form.rangeErrorMsg%%</span>
    </div>
    <form name="assginIpfrom" class="form-horizontal" ng-submit="form.submit(assginIpfrom)" novalidate>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">User </label>
                    <div class="col-sm-6">
                     <label>%%userData.name%%</label>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Select IP Range</label>
                    <div class="col-sm-4">
                        <ui-select ng-model="form.selected_range" on-select="select_range($select.selected)" theme="select2" name="name" id="name" allow-clear="true"
                         ng-style="form.error && !assginIpfrom.name.$valid && {border: '1px solid red'}"required>
                            <ui-select-match allow-clear="true">%%$select.selected.name%%</ui-select-match>
                            <ui-select-choices repeat="ip in ipRangeList | filter: $select.search">
                                %%ip.name%% <span>(%%ip.start_ip%% - %%ip.end_ip%%)</span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label"></label>
                    <div class="col-sm-6" ng-if="form.showBtn">
                        <button class="btn btn-success" style="margin:10px" type="submit">
                            Assign A New IP
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="form-group" ng-if="userIpList.length != 0">
        <label class="col-form-label">Assigned Ip Addresses:</label>
        <table class="table table-striped table-condensed1" style="width:90%; margin: 0 auto ;">
            <thead>
                <th class="text-center">Ip Address</th>
                <th  class="text-center"></th>
                <th class="text-center">Actions</th>
            </thead>
            <tbody>
                <tr ng-repeat="user_ip in userIpList track by $index">
                    <td class="text-center"><span >%%user_ip.ip_address%%</span></td>
                    <td class="text-center"><span ng-if="$index==0 && form.newItem" class="label label-success custom-label">New IP assigned</span></td>
                    <td class="text-center">
                        <span class="btn-sm btn-danger" ng-click="form.releaseIp($index, user_ip) " style="margin:10px ">Release IP</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
    <div class="form-group">
        <div class="modal-footer">
            <button class="btn btn-info" type="button" ng-click="form.close()">Close</button>&nbsp;
        </div>
    </div>
</div>
