<div class="panel-heading">
  <h4 class="panel-title">
    Projects
    <input type="checkbox" checked="" class="pull-right" />
  </h4>
</div>
<div class="panel-body">
  <div class="input-group">
    <select class="form-control" placeholder="Projects">
      <option>Cloud9</option>
      <option>NOON</option>
      <option>MPL</option>
      <option>Spring Tree</option>
    </select>
    <span class="input-group-btn"
      ><button type="button" class="btn btn-success">
        <i class="fa fa-plus"></i></button
    ></span>
  </div>
</div>
<ul id="project-list" class="project-list list-group no-margin">
  <li class="list-group-item">
    <div class="m-b-10">
      <a href="" class="pull-right text-danger"><i class="fa fa-remove"></i></a>
      <strong>Cloud911</strong><br />
      <a href="#">portal.cloud9.com</a>
      <div>About cloud9 project</div>
    </div>
    <div class="">
      <label>Describe your role</label>
      <textarea class="form-control" rows="2"></textarea>
    </div>
  </li>
  <li class="list-group-item">
    <div class="m-b-10">
      <a href="" class="pull-right text-danger"><i class="fa fa-remove"></i></a>
      <strong>Cloud911</strong><br />
      <a href="#">portal.cloud9.com</a>
      <div>About cloud9 project</div>
    </div>
    <div class="">
      <label>Describe your role</label>
      <textarea class="form-control" rows="2"></textarea>
    </div>
  </li>
</ul>
