<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      Projects
      <input
        type="checkbox"
        class="pull-right"
        ng-model="form.checkbox"
        ng-click="form.checkboxUpdate()"
      />
    </h4>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel-body">
        <div class="input-group">
          <!-- <select class="form-control" ng-model="form.model.selectedProject">
        <option ng-repeat="x in form.data">%%x.project_title%%</option>
      </select> -->
          <div style="width:300px">
            <ui-select
              remove-selected="false"
              ng-model="form.model.selectedProject"
              on-select="form.select_project($select.selected)"
              theme="select2"
              name="project"
              id="project"
              allow-clear="true"
              ng-style="form.error && {border: '1px solid red'}"
              required
            >
              <ui-select-match
                >%%$select.selected.project_title%%</ui-select-match
              >
              <ui-select-choices
                repeat="project in form.data | filter: $select.search"
              >
                %%project.project_title%%
              </ui-select-choices>
            </ui-select>
          </div>
          <!-- <select class="form-control" placeholder="Projects">
        <option>Cloud9</option>
        <option>NOON</option>
        <option>MPL</option>
        <option>Spring Tree</option>
      </select> -->
          <!-- <span class="input-group-btn"
            ><button
              type="button"
              class="btn btn-success"
              ng-click="form.submit()"
            >
              <i class="fa fa-plus"></i></button
          ></span> -->
        </div>
      </div>
    </div>
  </div>
  <div
    ng-show="form.errors.error_message != null "
    class="alert alert-danger"
    role="alert"
  >
    <a href="#" class="alert-link"
      ><small>%%form.errors.error_message%%</small></a
    >
  </div>

  <div ng-repeat="x in form.data2 track by $index">
    <ul
      id="project-list"
      class="project-list list-group no-margin"
      ng-show="form.data2[$index] != null "
    >
      <li class="list-group-item">
        <div class="m-b-10">
          <a
            href=""
            class="pull-right text-danger"
            ng-click="form.delete($event)"
            data="%%x.id%%"
            id="%%$index%%"
            ><i class="fa fa-remove"></i
          ></a>
          <strong>%%x.user_project.project_title%%</strong><br />
          <a href="#">%%x.user_project.project_url%%</a>
          <div>%%x.user_project.project_desc%%</div>
        </div>
        <div class="">
          <label>Describe your role</label>
          <textarea
            class="form-control"
            ng-blur="form.descClicked()"
            ng-click="form.descClick($event)"
            ng-model="form.data2[$index].role"
            rows="2"
            data="%%x.id%%"
            id="%%$index%%"
          ></textarea>
        </div>
      </li>
    </ul>
  </div>
</div>
