<style type="text/css">
    body,
    html {
        height: 100%;
    }
    
    table td {
        border-bottom: 1px solid #DCE3F3;
        padding: 5px;
    }
    
    .admin-apply-leave .modal-body {
        padding-top: 0px;
        border-bottom: 0px;
        padding-bottom: 0px;
        min-height: 300px;
    }
    
    .loader {
        border: 9px solid #f3f3f3;
        border-radius: 50%;
        border-top: 9px solid #3498db;
        width: 80px;
        height: 80px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
        position: ABSOLUTE;
        z-index: 999;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    /* Safari */
    
    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }
    
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    
    .app-loading {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    
    .app-loading .spinner {
        height: 100px;
        width: 100px;
        animation: rotate 2s linear infinite;
        transform-origin: center center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    
    .app-loading .spinner .path {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
        animation: dash 1.5s ease-in-out infinite;
        stroke-linecap: round;
        stroke: #ddd;
    }
    
    @keyframes rotate {
        100% {
            transform: rotate(360deg);
        }
    }
    
    @keyframes dash {
        0% {
            stroke-dasharray: 1, 200;
            stroke-dashoffset: 0;
        }
        50% {
            stroke-dasharray: 89, 200;
            stroke-dashoffset: -35px;
        }
        100% {
            stroke-dasharray: 89, 200;
            stroke-dashoffset: -124px;
        }
    }
</style>
<div class="admin-apply-leave">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="close()" aria-label="Close">
       <span aria-hidden="true">&times;</span>
       </button>
        <div class="modal-title col-md-12 p-0" id="editLeaveModal">
            <div class="row">
                <div class="col-md-6 ">
                    <h4>Edit Leave applied by</span> %%leave.user.name%% </h4>
                </div>

                <div class="col-md-6 pull-right">
                    <span class="label %%label_type%% custom-label pull-right" style="text-transform: capitalize">%%leave.status%%</span>
                    <label class="pull-right" for="">Status:&nbsp</label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-body">

        <div class="loader" ng-if="loading"></div>

        <!-- <div class="app-loading" ng-if="loading">
            <div class="logo"></div>
            <svg class="spinner" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
            </svg>
        </div> -->
        <div class="row" ng-if="!loading">
            <div class="col-md-12 ma-bot-10">
                <div class="row">
                    <div class="col-md-5 left-section">
                        <div class="row">
                            <div class="col-md-12 ">
                                <div class="label label-warning custom-label">
                                    Sick Leaves:&nbsp&nbsp<span style="font-weight: bold">%%leave.sickLeaves%%</span>
                                </div>
                                <div class="label label-primary custom-label">
                                    Paid Leaves:&nbsp&nbsp<span style="font-weight: bold">%%leave.paidLeaves%%</span>
                                </div>
                            </div>
                            <div class="col-md-12 p-0" ng-if="leave.leaveOverlapping">
                                <div class="panel panel-default" ng-repeat="project_manager_approval in leave.project_manager_approvals">
                                    <div class="panel-heading lg-text">Overlapping Request</div>
                                    <div class="panel-body">
                                        %%project_manager_approval.user_id%% %%project_manager_approval.status%%
                                    </div>
                                </div>
                                <!-- <label class="team-leads-info">Overlap Request</label>
                            <li ng-repeat="project_manager_approval in leave.project_manager_approvals" style="display:block;margin:0px 15px 0px 15px;border-radius:2px;padding-bottom:40px" class="team-leads-info list-group-item">
                                %%project_manager_approval.user_id%% %%project_manager_approval.status%%
                            </li> -->
                            </div>
                            <div class="col-md-12 p-0 " ng-if="managerStatuses.length > 0">
                                <div class="panel panel-default">
                                    <div class="panel-heading lg-text">Team Lead Status</div>
                                    <div class="panel-body">
                                        <table class="table">

                                            <thead>
                                                <tr>
                                                    <th>
                                                        Team Lead
                                                    </th>
                                                    <th>
                                                        Project
                                                    </th>
                                                    <th>
                                                        <span class="pull-right">Status</span>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="managerStatus in managerStatuses">
                                                    <td>
                                                        %%managerStatus.name%%
                                                    </td>
                                                    <td>
                                                        %%managerStatus.projects%%
                                                    </td>
                                                    <td>
                                                        <span ng-if="managerStatus.status == 'approved' " class="label custom-label pull-right label-success" style="text-transform: capitalize; margin-bottom:0;">
                                                              %%managerStatus.status%%
                                                        </span>
                                                        <span ng-if="managerStatus.status == 'pending' " class="label custom-label pull-right label-info" style="text-transform: capitalize; margin-bottom:0;">
                                                              %%managerStatus.status%%
                                                        </span>
                                                        <span ng-if="managerStatus.status == 'rejected'" class="label custom-label pull-right label-danger" style="text-transform: capitalize; margin-bottom:0;">
                                                              %%managerStatus.status%%
                                                        </span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 p-0 ">
                                <div class="panel panel-default">
                                    <div class="panel-heading lg-text">Previous Leaves</div>
                                    <div class="panel-body">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th width="35%">
                                                        From
                                                    </th>
                                                    <th width="35%">
                                                        To
                                                    </th>
                                                    <th>
                                                        Leave
                                                    </th>
                                                    <th>
                                                        Days
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody ng-repeat="previousLeave in previousLeaves" ng-if="previousLeaves.length > 0">
                                                <tr>
                                                    <td>
                                                        %%previousLeave.start_date | date: "d MMM y"%% &nbsp;
                                                    </td>
                                                    <td>
                                                        %%previousLeave.end_date | date: "d MMM y"%% &nbsp;
                                                    </td>
                                                    <td>
                                                        <span ng-if="previousLeave.type == 'paid'" class="label label-primary custom-label" style="text-transform: capitalize; margin-bottom:0;">
                                                            %%previousLeave.type%% 
                                                        </span>
                                                        <span ng-if="previousLeave.type == 'sick'" class="label label-warning custom-label" style="text-transform: capitalize; margin-bottom:0;">
                                                            %%previousLeave.type%% 
                                                        </span>
                                                        <span ng-if="previousLeave.type == 'half'" class="label label-info custom-label" style="text-transform: capitalize; margin-bottom:0;">
                                                            %%previousLeave.half%% 
                                                        </span>
                                                        <span ng-if="previousLeave.type != 'paid' && previousLeave.type != 'sick' && previousLeave.type != 'half' " class="label label-success custom-label">
                                                            Other 
                                                        </span>
                                                    </td>
                                                    <td>
                                                        %%previousLeave.days%%
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tbody ng-if="previousLeaves.length == 0">
                                                <tr>
                                                    <td>
                                                        No Leaves Found
                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- %%previousLeave.start_date%% %%previousLeave.end_date%% %%previousLeave.type%% %%previousLeave.days%% -->
                                    </div>
                                </div>
                                <!-- <div class="form-group">
                            <div class="lg-text">Previous Leaves</div>
                            <li ng-repeat="previousLeave in previousLeaves" style="display:block;margin:0px 15px 0px 15px;border-radius:2px;padding-bottom:40px" class="team-leads-info list-group-item">
                                %%previousLeave.start_date%% %%previousLeave.end_date%% %%previousLeave.type%% %%previousLeave.days%%
                            </li>
                            </div> -->
                            </div>
                            <div class="col-md-12 p-0 leaveOverlapping" ng-if="leaveOverlapping">
                                <div class="panel panel-default">
                                    <div class="panel-heading lg-text">Overlapping Leaves</div>

                                    <div class="col-md-12 panel-body">
                                        <!-- ngRepeat: project in data.overlapping_data.projects track by $index -->
                                        <div class="row border-bottom ng-scope" ng-repeat="project in overlappingLeaves.projects track by $index">
                                            <div class="col-md-12" ng-repeat="user in project.users">
                                                <p><span class="lg-text">Project :</span><span class="sm-text"><b class="ng-binding"> %%project.name%% </b></span></p>
                                                <p><span class="lg-text">Applied By :</span><span class="sm-text"><b class="ng-binding"> %%user.name%% </b></span></p>
                                                <p><span class="lg-text">Duration :</span><span class="sm-text"><b class="ng-binding">%%user.leave.start_date%% &nbsp; - &nbsp;  %%user.leave.end_date%%</b></span></p>
                                                <div>
                                                    <p><span class="lg-text">Reason</span></p>
                                                    <p class="sm-text">%%project.overlap_reason%%</p>
                                                </div>
                                            </div>

                                        </div>
                                        <!-- end ngRepeat: project in data.overlapping_data.projects track by $index -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 right-section">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="lg-text">Leave Type</div>
                                        <select class="form-control" style="width:100%" id="type" name="type" ng-model="leave.type" ng-disabled="leave.status == 'approved'">
                                                <option>Select Leave type</option>
                                                <option value="sick" >Sick Leave</option>
                                                <option value="unpaid" >Unpaid Leave</option>
                                                <option value="paid" >Paid Leave</option>
                                                <option value="half" >Half-day Leave</option>
                                                <option value="compoff" >Comp-Off</option>
                                            </select>
                                    </div>
                                    <div class="col-md-6 ma-bot-10">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="lg-text">Days</div>
                                                <p class="sm-text text-primary" style="position:relative;top:10px;">%%leave.days | number: 0%% days</p>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="lg-text">Applied On</div>
                                                <p class="sm-text text-primary" style="position:relative;top:10px;">
                                                    %% created_date| date:'d-MMM-y ' %%
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 ma-top-10">
                                        <div class="row">
                                            <div class="col-md-8" ng-show="leave.type == 'half'">
                                                <div class="lg-text">Duration</div>
                                                <div class='input-group date col-md-12' id='datetimepickerStart'>
                                                    <input name="dates" date-range-picker class="form-control date-picker" type="text" ng-model="datePicker.date" min="datePicker.min" options="datePicker.options" required/>
                                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-md-12" ng-show="leave.type != 'half'">
                                                <div class="lg-text">Duration</div>
                                                <div class='input-group date col-md-12' id='datetimepickerStart'>
                                                    <input name="dates" ng-if="datePicker.date.startDate != 'null'" date-range-picker class="form-control date-picker" type="text" ng-model="datePicker.date" min="datePicker.min" options="datePicker.options" required ng-disabled="leave.status == 'approved'"
                                                    />
                                                    <span class="input-group-addon">
                                           <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            <!-- <div class="col-md-6">
                                     <div class="lg-text">To</div>
                                     
                                     <div class='input-group date' id='datetimepickerStart'>
                                         <input name="dates" date-range-picker class="form-control date-picker" type="text" ng-model="datePicker.date" min="datePicker.min" options="datePicker.options" required/>
                                         <span class="input-group-addon">
                                       <span class="glyphicon glyphicon-calendar"></span>
                                         </span>
                                     </div>
                                     </div> -->
                                            <div class="col-md-4" ng-show="leave.type == 'half'">
                                                <div class="lg-text">Slot</div>
                                                <select name="half" id="half" class="form-control" ng-model="leave.half">
                                        <option value="first" selected>First Half</option>
                                        <option value="second">Second Half</option>
                                     </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 ma-top-10">
                                        <div class="lg-text">Reason</div>
                                        <textarea class="form-control" rows="3" placeholder="Please enter reason for applying leave" name="reason" disabled>%%leave.reason%%</textarea>
                                    </div>
                                    <!--       <div class="col-md-12 ma-top-10">
                                        <div class="lg-text">Impact on Project</div>
                                        <textarea class="form-control" rows="3" placeholder="Please enter reason for applying leave" name="reason" disabled>%%leave.reason%%</textarea>
                                    </div> -->
                                </div>
                            </div>
                            <div class="col-md-12 ma-top-10">
                                <div class="lg-text">Clients to be informed(Optional)</div>
                                <div class="">
                                    <ui-select ng-model="selected_client" on-select="select_client($select.selected)" theme="select2" name="client" id="client">
                                        <ui-select-match>%%$select.selected.name%%</ui-select-match>
                                        <ui-select-choices repeat="client.id as client in companyList | filter: $select.search">
                                            %%client.name%%
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-md-12 ma-top-10">
                                <div class="lg-text">Reason for rejection</div>
                                <textarea ng-model="leave.cancellation_reason" name="rejectreason" id="rejectreason" class="form-control" rows="7" ng-disabled="leave.status == 'approved'" placeholder="Please enter reason for rejecting leave"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 ma-top-10">
            </div>
            <p ng-if="error" class="help-block pull-right" style="color: red; font-size:12px;margin-right:20px;">%%error_message%%</p>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-if=" ( !is_team_lead && leave.status == 'pending' && !loading ) || (lead_status == 'pending' && is_team_lead && !loading )" type="button" name="reject" class="btn btn-warning" ng-click="rejectLeave()">Reject</button>
        <i ng-show="actionLoading.reject" class="fa fa-spinner fa-spin"></i>
        <button ng-if=" ( !is_team_lead && leave.status == 'pending' && !loading ) || (lead_status == 'pending' && is_team_lead && !loading )" class="btn btn-success" name="approve" ng-click="approveLeave()">Approve</button>
        <i ng-show="actionLoading.approve" class="fa fa-spinner fa-spin"></i>
        <button type="button" class="btn btn-default" ng-click="close()">Close</button>&nbsp;
        <div class="pull-left">
            <button ng-if="leave.status == 'pending' && !loading && !is_team_lead" type="button" class="btn btn-info" ng-click="updateLeave()">Update</button>
            <i ng-show="actionLoading.update" class="fa fa-spinner fa-spin"></i>
            <button ng-if="leave.status != 'rejected' && leave.status != 'cancelled' && !loading && !is_team_lead" class="btn btn-danger" name="cancel" ng-click="cancelLeave()">Cancel</button>
            <i ng-show="actionLoading.cancel" class="fa fa-spinner fa-spin"></i>
        </div>
    </div>
</div>
