<div class="admin-apply-leave">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="close()" aria-label="Close">
       <span aria-hidden="true">&times;</span>
       </button>
        <div class="modal-title col-md-12 p-0" id="editLeaveModal">
            <div class="row">
                <div class="col-md-6 "> 
                    <h4>Edit Leave applied by</span> %%leave.user.name%% </h4>
                </div>

                <div class="col-md-6 pull-right">
                    <span class="label %%label_type%% custom-label pull-right" style="text-transform: capitalize">%%leave.status%%</span>
                    <label class="pull-right" for="">Status:&nbsp</label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="loader" ng-if="loading"></div>
        <div class="row" ng-if="!loading">
            <div class="col-md-12 m-b-10">
                <div class="row">
                    <div class="col-md-5 left-section">
                        <div class="row">
                            <div class="col-md-12 ">
                                <div class="label label-primary custom-label" ng-if="taken.paid || taken.paid == 0">
                                    Paid Leaves:&nbsp&nbsp<span style="font-weight: bold">%%(-1) * taken.paid%%/%%total.paid%%</span>
                                </div>
                                <div class="label label-warning custom-label" ng-if="taken.sick || taken.sick == 0">
                                    Sick Leaves:&nbsp&nbsp<span style="font-weight: bold">%%(-1) * taken.sick%%/%%total.sick%% </span>
                                </div>
                                <div class="label label-info custom-label" ng-if="taken.emergency || taken.emergency == 0">
                                    Emergency Leaves:&nbsp&nbsp<span style="font-weight: bold">%%(-1) * taken.emergency%%/%%total.emergency%%</span>
                                </div>
                                <div class="label label-info custom-label" ng-if="taken.marriage || taken.marriage == 0">
                                    Marriage Leaves:&nbsp&nbsp<span style="font-weight: bold">%%(-1) * taken.marriage%%/%%total.marriage%%</span>
                                </div>
                                <div class="label label-info custom-label" ng-if="taken.maternity || taken.maternity == 0">
                                    Maternity Leaves:&nbsp&nbsp<span style="font-weight: bold">%%(-1) * taken.maternity%%/%%total.maternity%%</span>
                                </div>
                                <div class="label label-info custom-label" ng-if="taken.paternity || taken.paternity == 0">
                                    Paternity Leaves:&nbsp&nbsp<span style="font-weight: bold">%%(-1) * taken.paternity%%/%%total.paternity%%</span>
                                </div>
                                <div class="label label-info custom-label" ng-if="taken.optional-holiday || taken.optional-holiday == 0">
                                    Optional Leaves:&nbsp&nbsp<span style="font-weight: bold">%%(-1) * (taken.optional-holiday)%%/%%total.optional-holiday%%</span>
                                </div>
                                <div class="label label-info custom-label" ng-if="taken.comp-off || taken.comp-off == 0">
                                    Compensatory-Off Leaves:&nbsp&nbsp<span style="font-weight: bold">%%(-1) * (taken.comp-off)%%/%%total.comp-off%%</span>
                                </div>                                    
                                    
                            </div>
                            <div class="col-md-12 p-0" ng-if="leave.leaveOverlapping">
                                <div class="panel panel-default" ng-repeat="project_manager_approval in leave.project_manager_approvals">
                                    <div class="panel-heading lg-text">Overlapping Request</div>
                                    <div class="panel-body">
                                        %%project_manager_approval.user_id%% %%project_manager_approval.status%%
                                    </div>
                                </div>
                                <!-- <label class="team-leads-info">Overlap Request</label>
                            <li ng-repeat="project_manager_approval in leave.project_manager_approvals" style="display:block;margin:0px 15px 0px 15px;border-radius:2px;padding-bottom:40px" class="team-leads-info list-group-item">
                                %%project_manager_approval.user_id%% %%project_manager_approval.status%%
                            </li> -->
                            </div>
                            <div class="col-md-12 p-0 " ng-if="managerStatuses.length > 0">
                                <div class="panel panel-default">
                                    <div class="panel-heading lg-text">Team Lead Status</div>
                                    <div class="panel-body">
                                        <table class="table">

                                            <thead>
                                                <tr>
                                                    <th>
                                                        Team Lead
                                                    </th>
                                                    <th>
                                                        Project
                                                    </th>
                                                    <th>
                                                        <span class="pull-right">Status</span>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="managerStatus in managerStatuses">
                                                    <td>
                                                        %%managerStatus.name%%
                                                    </td>
                                                    <td>
                                                        %%managerStatus.projects%%
                                                    </td>
                                                    <td>
                                                        <span ng-if="managerStatus.status == 'approved' " class="label custom-label pull-right label-success" style="text-transform: capitalize; margin-bottom:0;">
                                                              %%managerStatus.status%%
                                                        </span>
                                                        <span ng-if="managerStatus.status == 'pending' " class="label custom-label pull-right label-info" style="text-transform: capitalize; margin-bottom:0;">
                                                              %%managerStatus.status%%
                                                        </span>
                                                        <span ng-if="managerStatus.status == 'rejected'" class="label custom-label pull-right label-danger" style="text-transform: capitalize; margin-bottom:0;">
                                                              %%managerStatus.status%%
                                                        </span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 p-0 ">
                                <div class="panel panel-default">
                                    <div class="panel-heading lg-text">Previous Leaves</div>
                                    <div class="panel-body">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th width="35%">
                                                        From
                                                    </th>
                                                    <th width="35%">
                                                        To
                                                    </th>
                                                    <th>
                                                        Leave
                                                    </th>
                                                    <th>
                                                        Days
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody ng-repeat="previousLeave in previousLeaves" ng-if="previousLeaves.length > 0">
                                                <tr>
                                                    <td>
                                                        %%previousLeave.start_date | date: "d MMM y"%% &nbsp;
                                                    </td>
                                                    <td>
                                                        %%previousLeave.end_date | date: "d MMM y"%% &nbsp;
                                                    </td>
                                                    <td>
                                                        <span ng-if="previousLeave.leave_type.code == 'paid'" class="label label-primary custom-label" style="text-transform: capitalize; margin-bottom:0;">
                                                            %%previousLeave.leave_type.code%% 
                                                        </span>
                                                        <span ng-if="previousLeave.leave_type.code == 'sick'" class="label label-warning custom-label" style="text-transform: capitalize; margin-bottom:0;">
                                                            %%previousLeave.leave_type.code%% 
                                                        </span>
                                                        <span ng-if="previousLeave.leave_type.code != 'paid' && previousLeave.leave_type.code != 'sick' " class="label label-info custom-label">
                                                            %%previousLeave.leave_type.code%% 
                                                        </span>
                                                    </td>
                                                    <td>
                                                        %%previousLeave.days%%
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tbody ng-if="previousLeaves.length == 0">
                                                <tr>
                                                    <td>
                                                        No Leaves Found
                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td>

                                                    </td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- %%previousLeave.start_date%% %%previousLeave.end_date%% %%previousLeave.type%% %%previousLeave.days%% -->
                                    </div>
                                </div>
                                <!-- <div class="form-group">
                            <div class="lg-text">Previous Leaves</div>
                            <li ng-repeat="previousLeave in previousLeaves" style="display:block;margin:0px 15px 0px 15px;border-radius:2px;padding-bottom:40px" class="team-leads-info list-group-item">
                                %%previousLeave.start_date%% %%previousLeave.end_date%% %%previousLeave.type%% %%previousLeave.days%%
                            </li>
                            </div> -->
                            </div>
                            <div class="col-md-12 p-0 leaveOverlapping" ng-if="leaveOverlapping">
                                <div class="panel panel-default">
                                    <div class="panel-heading lg-text">Overlapping Leaves</div>

                                    <div class="col-md-12 panel-body">
                                        <!-- ngRepeat: project in data.overlapping_data.projects track by $index -->
                                        <div class="row border-bottom ng-scope" ng-repeat="project in overlappingLeaves.projects track by $index">
                                            <div class="col-md-12" ng-repeat="user in project.users">
                                                <p><span class="lg-text">Project :</span><span class="sm-text"><b class="ng-binding"> %%project.name%% </b></span></p>
                                                <p><span class="lg-text">Applied By :</span><span class="sm-text"><b class="ng-binding"> %%user.name%% </b></span></p>
                                                <p><span class="lg-text">Duration :</span><span class="sm-text"><b class="ng-binding">%%user.leave.start_date%% &nbsp; - &nbsp;  %%user.leave.end_date%%</b></span></p>
                                                <div>
                                                    <p><span class="lg-text">Reason</span></p>
                                                    <p class="sm-text">%%project.overlap_reason%%</p>
                                                </div>
                                            </div>

                                        </div>
                                        <!-- end ngRepeat: project in data.overlapping_data.projects track by $index -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 right-section">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="lg-text">Leave Type</div>
                                        <select
                                          class="col-md-8 form-control remove-width "
                                          ng-model="leave.leave_type_id"
                                          disabled >
                                          <!-- ng-disabled="leave.status == 'approved'"
                                        > -->
                                          <option
                                            ng-repeat="leaveType in leaveTypes"
                                            ng-value="%%leaveType.id%%"
                                          >
                                            %%leaveType.title%%
                                          </option>
                                        </select>
                                        <div class="col-sm-9">
                                            <!-- <p ng-show="userForm.type.$invalid && submitted" class="help-block" style="color: red; font-size:11px; margin:0;">Type is required</p> -->
                                        </div>
                                    </div>
                                    <div class="col-md-6 m-b-10">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="lg-text">Days</div>
                                                <p class="sm-text text-primary" style="position:relative;top:10px;">%%leave.days | number: 1%% days</p>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="lg-text">Applied On</div>
                                                <p class="sm-text text-primary" style="position:relative;top:10px;">
                                                    %% created_date| date:'d-MMM-y ' %%
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 m-t-10">
                                        <div class="row">
                                            <div class="col-md-12" ng-show="leave.type == 'half'">
                                                <div class="lg-text">Duration</div>
                                                <div class='input-group date' id='datetimepickerStart'>
                                                    <input name="dates" date-range-picker class="form-control date-picker" type="text" ng-model="datePicker.date" min="datePicker.min" options="datePicker.options" required/>
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-md-12" ng-show="leave.type != 'half'">
                                                <div class="lg-text">Duration</div>
                                                <div class='input-group date' id='datetimepickerStart'>
                                                    <input name="dates" ng-if="datePicker.date.startDate != 'null'" date-range-picker class="form-control date-picker" type="text" ng-model="datePicker.date" min="datePicker.min" options="datePicker.options" disabled >
                                                    <!-- ng-disabled="leave.status == 'approved'"
                                                    /> -->
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            <!-- <div class="col-md-6">
                                                 <div class="lg-text">To</div>
                                                 
                                                 <div class='input-group date' id='datetimepickerStart'>
                                                     <input name="dates" date-range-picker class="form-control date-picker" type="text" ng-model="datePicker.date" min="datePicker.min" options="datePicker.options" required/>
                                                     <span class="input-group-addon">
                                                   <span class="glyphicon glyphicon-calendar"></span>
                                                     </span>
                                                 </div>
                                            </div> -->
                                            <div class="col-md-4" ng-show="leave.type == 'half'">
                                                <div class="lg-text">Slot</div>
                                                <select name="half" id="half" class="form-control" ng-model="leave.half">
                                                    <option value="first" selected>First Half</option>
                                                    <option value="second">Second Half</option>
                                                 </select>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col-md-6 m-t-10" ng-hide="leave.leave_type.code == 'paid' || leave.leave_type.code == 'sick'  ">
                                        <div class="lg-text">
                                            Deduct From 
                                        </div>
                                        <div>
                                            <select ng-disabled="leave.status == 'approved'" class="form-control" style="width:100%" id="deductionType" name="deductionType" ng-model="$parent.deductionType"
                                                    ng-style="deductionType_error && !deductionType && {border: '1px solid red'}">
                                                <option value="lop" >Loss of Pay</option>
                                                <option value="sl" >Sick Leave</option>
                                                <option value="pl" >Paid Leave</option>
                                                <option value="slpl" >Sick Leave & Paid Leave</option>
                                                <option value="other_paid" >Other Paid</option>
                                            </select>
                                        </div>
                                    </div> -->
                                    <div class="col-md-12 m-t-10">
                                        <div class="lg-text">Reason</div>
                                        <textarea class="form-control" rows="3" placeholder="Please enter reason for applying leave" name="reason" disabled>%%leave.reason%%</textarea>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-12 m-t-10">
                                <div class="lg-text">Reason for rejection</div>
                                <textarea ng-model="leave.cancellation_reason" name="rejectreason" id="rejectreason" class="form-control" rows="7" ng-disabled="leave.status == 'approved'" placeholder="Please enter reason for rejecting leave"></textarea>
                            </div>
                            <p ng-if="leave.warning != null" class="help-block pull-right" style="color: blue; font-size:12px;margin-right:20px;">Warning: %%leave.warning%%</p>
            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 m-t-10">
            </div>
            
            <p ng-if="error && error_message != null" class="help-block pull-right" style="color: red; font-size:12px;margin-right:20px;">Error: %%error_message%%</p>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-if="showRejectButton()" 
                            type="button" name="reject" class="btn btn-warning" ng-click="rejectLeave()">Reject</button>
        <i ng-show="actionLoading.reject" class="fa fa-spinner fa-spin"></i>
        <button ng-if="showApproveButton()" class="btn btn-success" name="approve" ng-click="approveLeave()">Approve</button>
        <i ng-show="actionLoading.approve" class="fa fa-spinner fa-spin"></i>
        <button type="button" class="btn btn-default" ng-click="close()">Close</button>&nbsp;
        <button ng-if="showCancelButton()" class="btn btn-danger" name="cancel" ng-click="cancelLeave()">Cancel</button>
        <i ng-show="actionLoading.cancel" class="fa fa-spinner fa-spin"></i>
    </div>
</div>

