<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="modal-title">Overlapping Leave</h4>
    </div>
    <div class="modal-body  col-md-12 overlap-leave" id="modal-body">
        <div class="row overlap-leave">
            <div class="col-md-6">
                <p><span class="lg-text">Leave Type : </span> <span class="label label-primary ng-binding"> %%data.leave_type.title%%</span></p>
                <p><span class="lg-text">Duration : </span><span class="text-primary"><b class="ng-binding">%%data.start_date | dateFormat%% &nbsp; - &nbsp;  %%data.end_date | dateFormat%%</b></span></p>
            </div>
            <div class="col-md-6">
                <p class="ng-binding"> <b>Description:</b><br> Reason for leave : %%data.reason%%</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-warning">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
    
    
    
                    <span> You have an overlapping leave request. Your team member has also applied for the leave
                               in same duration. The chances of approval will depend upon the impact of your absence in your project.
                           </span>
                </div>
            </div>
            <div class="col-md-12">
                <!-- ngRepeat: project in data.overlapping_data.projects track by $index -->
                <div class="row border-bottom ng-scope" ng-repeat="project in data.overlapping_data.projects track by $index">
                    <div class="col-md-6">
                        <p><span class="lg-text">Project :</span><span class="text-primary"><b class="ng-binding"> %%project.name%% </b></span></p>
                        <div ng-repeat="user in project.users">
                            <p><span class="lg-text">Applied By :</span><span class="text-primary"><b class="ng-binding"> %%user.name%% </b></span></p>
                            <p><span class="lg-text">Duration :</span><span class="text-primary"><b class="ng-binding">%%user.leave.start_date | dateFormat%% &nbsp; - &nbsp;  %%user.leave.end_date | dateFormat%%</b></span></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p><b>Describe the impact of your absence in this project?</b></p>
                        <textarea style="width:100%; padding:10px;" rows="3" ng-model="application_reason[$index]" placeholder="" class="ng-pristine ng-untouched ng-valid ng-empty" ng-required="true"></textarea>
                    </div>
                </div>
                <!-- end ngRepeat: project in data.overlapping_data.projects track by $index -->
            </div>
    
            <div class="col-md-12">
                <p style="margin-top:15px;margin-bottom: 0px;"><b>See Details</b></p>
                <div class="table-responsive">
                    <table class="table leave-table" ng-repeat="project in data.overlapping_data.projects track by $index">
    
                        <tr>
                            <td colspan="%%data.overlapping_data.dates.length + 1%%">
                                <table class="table table-striped bg-white">
                                    <tr>
                                        <td>Dates</td>
                                        <td ng-repeat="date in data.overlapping_data.dates">
                                            <b>%%date| dateFormat%%</b>
                                        </td>
                                    </tr>
                                    <tr ng-repeat="user in project.users">
                                        <td>%%user.name%%</td>
                                        <td class="bordered" ng-repeat="date in user.dates track by $index">%%date%%</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
    
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="submit()">Submit</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
    <script>
        $('.leave-table').DataTable();
    </script>
    