<div>
  <div class="modal-header">
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      ng-click="cancel()"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="addLeaveModalLabel">Apply Sick Leave</h4>
  </div>
  <form
    name="userForm"
    class="form-horizontal"
    ng-submit="form.submit(userForm)"
    novalidate
  >
    <div class="modal-body">
      <div class="loader" ng-show="loading"></div>
        <p class="text-danger m-t-15" ng-if="!error && !loading">
          Are you sure you want to apply for a sick leave today?
        </p>
        <div class="alert alert-warning no-margin" ng-if="error">
          <p> %%error_message%% </p>
        </div>

        <!-- <label>Notes</label>
            <div>
              <textarea name="reason" id="reason" class=" form-control" rows="5" placeholder="Please enter reason for applying leave"
                ng-model="form.reason"></textarea>
            </div> -->
        </div>
      </div>
    </div>
    <div class="modal-footer text-right">
      <button
        type="button"
        class="btn btn-default"
        data-dismiss="modal"
        ng-click="cancel()"
      >
        Close
      </button>
      <button type="button" ng-if="!error" ng-click="form.submit(userForm)" class="btn btn-primary">
        Apply
      </button>
      <i ng-show="loadin" class="fa fa-spinner fa-spin"></i>
    </div>
  </form>
</div>
