<div>
  <div class="modal-header">
    <h4 class="modal-title">Transfer Incident</h4>
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="form-group">
        <label class="col-sm-3 control-label">Transfer To </label>
        <div class="col-sm-6">
          <div class="form-inline">
            <label>
              <input type="radio" ng-model="transfer_type" value="department" style="margin-right:7px; position:relative; top:-2px">Department
            </label>
            <label>
              <input type="radio" ng-model="transfer_type" value="user"> User
            </label>
          </div>
          <div>
            <p ng-show="form.errors.type && form.model.type == null" class="text-danger small">
              Please select a value
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12 m-t-15" ng-show="transfer_type == 'department'">
        <div class="form-group">
          <label for="" class="col-sm-3 control-label">Department</label>
          <div class="col-sm-6">
            <ui-select ng-model="selected_department" on-select="select_department($select.selected)" theme="select2"
              name="department" id="department" allow-clear="true" ng-style="form.error && !purchaseOrderForm.vendor.$valid && {border: '1px solid red'}"
              required>
              <ui-select-match allow-clear="true">%%$select.selected.type%%</ui-select-match>
              <ui-select-choices repeat="department in departments | filter: $select.search">
                %%department.type%%
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </div>
      <div class="col-md-12 m-t-15" ng-show="transfer_type == 'user'">
        <div class="form-group">
          <label for="" class="col-sm-3 control-label">User</label>
          <div class="col-sm-6">
            <ui-select ng-model="selected_user" on-select="select_user($select.selected)" theme="select2" name="user"
              id="user" allow-clear="true" ng-style="form.error && !purchaseOrderForm.vendor.$valid && {border: '1px solid red'}"
              required>
              <ui-select-match allow-clear="true">%%$select.selected.name%%</ui-select-match>
              <ui-select-choices repeat="user in users | filter: $select.search">
                %%user.name%%
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </div>
    </div>
    <div ng-if="error" class="alert alert-danger" role="alert">
      <a href="#" class="alert-link">Please select Department or User to transfer the incident</a>
    </div>
  </div>
  <div class="modal-footer">
    <span ng-if="form.loading">Saving...</span>
    <button ng-disabled="form.loading" type="button" style="margin-top:10px;" class="btn btn-default" data-dismiss="modal"
      ng-click="cancel()">
      Cancel</button>&nbsp;
    <span class="pull-right">
      <button ng-disabled="form.loading" ng-click="submit()" style="margin-top:10px;" class="btn btn-success">
        Submit
      </button>
      <i ng-show="loading" class="fa fa-spinner fa-spin"></i>
    </span>
  </div>
  </form>
</div>