<div class="row">
  <div class="col-sm-12">
    <div class="modal-header col-sm-12">
      <h4 class="modal-title">
        Incident # %%form.data.id%%
        <span
          class="pull-right text-right"
          style="font-size:14px; margin-right:20px;"
        >
          <span>%%form.data.created_at | dateToISO%%</span>
        </span>
      </h4>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        ng-click="form.cancel()"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body col-sm-12">
      <form class="form-horizontal" ng-show="!form.loading">
        <div class="col-sm-6">
          <div class="info-table">
            <label>Department :</label> <span> %%form.data.department.type%%</span>
          </div>
          <div class="info-table">
            <label>Assigned To : </label>
            <span>%%form.data.assignee.name%%</span>
          </div>
          <div class="info-table">
            <label>Subject : </label>
            <span> %%form.data.subject%%</span>
          </div>
          
        </div>
        <div class="col-sm-6">
          <div class="info-table">
            <label> Status : </label>
            <span
              ng-if="form.data.status=='open'"
              class="label label-primary custom-label"
              >%% form.data.status | uppercase %%</span
            >
            <span
              ng-if="form.data.status=='in_progress'"
              class="label label-primary custom-label"
              >%% form.data.status | uppercase %%</span
            >
            <span
              ng-if="form.data.status=='reopen'"
              class="label label-primary custom-label"
              >%% form.data.status | uppercase %%</span
            >
            <span
              ng-if="form.data.status=='verified_closed'"
              class="label label-primary custom-label"
              >%% form.data.status | uppercase %%</span
            >

            <span
              ng-if="form.data.status=='closed'"
              class="label label-success custom-label"
              >%% form.data.status | uppercase %%</span
            >
            <span
              ng-if="form.data.status=='cancelled'"
              class="label label-danger custom-label"
              >%% form.data.status | uppercase %%</span
            >
          </div>
          <div class="info-table">
            <label>Created By : </label>
            <span>%%form.data.raised_by.name%%</span>
          </div>
          <div class="info-table" ng-if="form.data.approved_by">
            <label>Approved By : </label>
            <span>%%form.data.approved_by.name%%</span>
          </div>
          
        </div>
      </form>
    </div>
    <div class="col-sm-12">
            <div class="incident-comment">
        <h4 class="admin-section-heading">Comments</h4>
      <comment-data
        commentable-id="1"
        commentable-type="App\Models\Admin\Incident"
        is-disabled="false"
        is-privatable="false"
      ></comment-data>
    </div>
    </div>
    <div class="modal-footer col-sm-12">
      <span ng-if="form.loading">Loading</span>
      <button
        ng-disable="form.loading"
        type="button"
        style="margin-top:10px;"
        class="btn btn-default"
        data-dismiss="modal"
        ng-click="form.close()"
      >
        Close</button
      >&nbsp;
    </div>
  </div>
</div>
<div class="row" ng-show="form.loading">
    Loading...
</div>