<div>
  <div class="modal-header">
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      ng-click="form.cancel()"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="insurancePolicyModal" ng-if="form.model.id">Edit Insurance Policy #%%form.model.id%%</h4>
    <h4 class="modal-title" id="insurancePolicyModal" ng-if="!form.model.id">Create Insurance Policy</h4>
  </div>
  <div class="loader" ng-show="form.loading"></div>
  <div class="modal-body" ng-show="!form.loading">
    <form name="insurancePolicyForm" ng-submit="form.submit(insurancePolicyForm)" novalidate>
      <div class="modal-body">
        <div>
          <div class="row">
            <div class="col-sm-7">
              <div class="form-group">
                <label>Vendor Name</label>
                <div>
                  <ui-select
                    ng-model="form.model.vendor_id"
                    on-select="form.select_vendor($select.selected)"
                    theme="select2"
                    name="vendor_name"
                    id="vendor_name"
                    allow-clear="true"
                    ng-style="form.error && !insurancePolicyForm.vendor_name.$valid && {border: '1px solid red'}"
                    required
                  >
                    <ui-select-match allow-clear="true"
                      >%%$select.selected.name%%</ui-select-match
                    >
                    <ui-select-choices
                      repeat="vendorName.id as vendorName in form.vendors | filter: $select.search"
                    >
                      %%vendorName.name%%
                    </ui-select-choices>
                  </ui-select>
                </div>
              </div>
       
              <div class="form-group">
                <label
                  >Insurance Name</label
                >
                <div>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    ng-model="form.model.name"
                    ng-style="form.error && !insurancePolicyForm.name.$valid && {border: '1px solid red'}"
                    required
                  />
                </div>
              </div>
              <div class="form-group">
                <label
                  >Policy Number</label
                >
                <div>
                  <input
                    type="text"
                    class="form-control"
                    id="policy_number"
                    name="policy_number"
                    ng-model="form.model.policy_number"
                    ng-style="form.error && !insurancePolicyForm.policy_number.$valid && {border: '1px solid red'}"
                    required
                  />
                </div>
              </div>
              <div class="form-group">
                <div class="row row-sm">
                  <div class="col-sm-6">
                    <label>Start Date</label>
                    <div>
                      <div class="input-group">
                        <input
                          type="text"
                          name="start_date"
                          class="form-control"
                          uib-datepicker-popup="dd-MMM-yyyy"
                          ng-model="form.model.start_date"
                          is-open="form.startDate.isOpen"
                          datepicker-options="form.options"
                          close-text="Close"
                          ng-required="true"
                          alt-input-formats="altInputFormats"
                          ng-style="form.error && !insurancePolicyForm.start_date.$valid && {border: '1px solid red'}"
                        />
                        <span class="input-group-btn">
                          <button
                            type="button"
                            style="padding: 9px 12px"
                            class="btn btn-default"
                            ng-click="form.startDate.isOpen = !form.startDate.isOpen"
                          >
                            <i class="glyphicon glyphicon-calendar"></i>
                          </button>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label
                      >End Date</label
                    >
                    <div>
                      <div class="input-group">
                        <input
                          type="text"
                          name="end_date"
                          class="form-control"
                          uib-datepicker-popup="dd-MMM-yyyy"
                          ng-model="form.model.end_date"
                          is-open="form.endDate.isOpen"
                          datepicker-options="form.endDate.datepickerOptions"
                          close-text="Close"
                          ng-required="true"
                          ng-style="form.error && !insurancePolicyForm.end_date.$valid && {border: '1px solid red'}"
                          alt-input-formats="altInputFormats"
                        />
                        <span class="input-group-btn">
                          <button
                            type="button"
                            style="padding: 9px 12px"
                            class="btn btn-default"
                            ng-click="form.endDate.isOpen = !form.endDate.isOpen"
                          >
                            <i class="glyphicon glyphicon-calendar"></i>
                          </button>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>   
              </div>  
              <div class="form-group">
                <div class="row row-sm">
                  <div class="col-sm-6">
                    <label>Coverage</label>
                    <div>
                      <input
                        class="form-control"
                        id="coverage_amount"
                        name="coverage_amount"
                        type="number"
                        ng-model="form.model.coverage_amount"
                        ng-style="form.error && !insurancePolicyForm.coverage_amount.$valid && {border: '1px solid red'}"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Total Amount <small>(Inc. GST)</small></label>
                      <div>
                        <input
                          class="form-control"
                          id="amount_paid"
                          type="float"
                          name="amount_paid"
                          ng-model="form.model.amount_paid"
                          ng-style="form.error && !insurancePolicyForm.amount_paid.$valid && {border: '1px solid red'}"
                          required
                        />
                      </div>
                    </div>
                  </div>
                </div> 
              </div>
            </div>
            <div class="col-sm-5">
              
             <div class="form-group">
                <label>Accessible To</label>
                <div class="m-t-10">
                  <span class="form-check" style="margin: 5px;">
                    <label class="form-check-label">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="accessible_to"
                        value="group"
                        ng-model="form.model.accessible_to"
                      />
                      Group
                    </label>
                  </span>
                  <span class="form-check" style="margin: 5px;">
                    
                    <label class="form-check-label">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="accessible_to"
                        value="individual"
                        ng-model="form.model.accessible_to"
                      />
                      Individual
                    </label>
                  </span>
                </div>
              </div>
              
            <div class="form-group">
                <label >Does it have a sub-group?</label>
                <div class="m-t-10">
                  <span class="form-check" style="margin: 5px;">
                    <label class="form-check-label">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="sub_group"
                        ng-value="false"
                        ng-checked="form.model.sub_group"
                        ng-model="form.model.sub_group"
                      />
                      No
                    </label>
                  </span>
                  <span class="form-check" style="margin: 5px;">
                    <label class="form-check-label">
                       <input
                        class="form-check-input"
                        type="radio"
                        name="sub_group"
                        ng-value="true"
                        ng-checked="form.model.sub_group == true"
                        ng-model="form.model.sub_group"
                      />
                      Yes
                    </label>
                  </span>
                </div>
              </div>  

              <div class="form-group" ng-if="!form.model.sub_group">
                <label>Premium <small>(Inc. GST) (per month)</small></label>
                <div>
                  <input
                    class="form-control"
                    id="premium_amount"
                    name="premium_amount"
                    type="float"
                    ng-model="form.model.premium_amount"
                    ng-style="form.error && !insurancePolicyForm.premium_amount.$valid && {border: '1px solid red'}"
                    required
                  />
                </div>
              </div>

              <div class="form-group" ng-if="!form.model.sub_group">
                <label>Is it a sub-group of a policy?</label>
                <div class="m-t-10">
                  <span class="form-check" style="margin: 5px;">
                    <label class="form-check-label">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="is_sub_group"
                        ng-value="false"
                        ng-checked="form.model.is_sub_group == false"
                        ng-model="form.model.is_sub_group"
                      />
                      No
                    </label>
                  </span>
                  <span class="form-check" style="margin: 5px;">
                    <label class="form-check-label">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="is_sub_group"
                        ng-value="true"
                        ng-checked="form.model.is_sub_group == true"
                        ng-model="form.model.is_sub_group"
                      />
                      Yes
                    </label>
                  </span>
                </div>
              </div>
               <div class="form-group" ng-if="!form.model.sub_group && form.model.is_sub_group">
                <label>Select Parent Group</label>
                <div>
                  <ui-select
                    ng-model="form.selected_policy"
                    on-select="form.select_policy($select.selected)"
                    theme="select2"
                    name="policy"
                    id="policy"
                    allow-clear="true"
                    ng-style="form.error && !insurancePolicyForm.policy.$valid && {border: '1px solid red'}"
                    required>
                    <ui-select-match allow-clear="true">%%$select.selected.name%%</ui-select-match>
                    <ui-select-choices
                      repeat="policy in form.policies | filter: $select.search"
                    >
                      %%policy.name%%
                    </ui-select-choices>
                  </ui-select>
                </div>
              </div>
            </div>
          </div>
        </div>


        <!-- <div class="row" ng-if="form.model.has_sub_group">
          <div class="panel panel-default no-margin" style="clear:both; border-bottom: none;">
              <div class="panel-heading col-sm-12 " style="display:flex; align-items: center">
                  Sub Group
                  <span class="pull-right" style="margin-left:auto">
                      <span class="btn btn-info pull-right" ng-click="form.addSubGroup()">
                          <i class="fa fa-plus"></i> Add Sub Group</span>
                  </span>
              </div>
              <div class="vendor-contact" ng-if="form.model.sub_groups.length > 0">
                  <table class="table table-condensed no-margin">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Primium <small>(per month)</small></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody ng-show="form.model.sub_groups.length > 0">
                      <tr ng-repeat="sub_group in form.model.sub_groups track by $index">
                          <td>
                              <input name="item_name%%$index%%" type="text" class="form-control" placeholder="Name" ng-model="sub_group.name" 
                               ng-style="form.error && !insurancePolicyForm.item_name%%$index%%.$valid && {border: '1px solid red'}"
                               required>
                          </td>
                          <td>
                              <input name="item_qty%%$index%%" type="number" class="form-control" placeholder="Premium" ng-model="sub_group.premium_amount"
                              min=1
                               ng-style="form.error && !insurancePolicyForm.item_qty%%$index%%.$valid && {border: '1px solid red'}"
                               required>
                          </td>
                          <td class="text-center">
                              <button ng-hide="$index == 0 && form.model.sub_group.length == 1 " class="btn btn-danger btn-xs" ng-click="form.removeItem($index)">
                                  <i class="btn-icon fa fa-trash"></i>
                              </button>
                          </td>
                      </tr>
                    </tbody>
                  </table>
                  <div style="padding:10px;">
                    <p ng-show="form.itemError" class="small text-danger">
                      Please add details for at least one purchase item.
                    </p>
                  </div>
              </div>
          </div>
        </div> -->
      </div>
      <div class="modal-footer">
        <span ng-if="form.loading">Loading</span>
        <button
          ng-disable="form.loading"
          type="button"
          style="margin-top:10px;"
          class="btn btn-default"
          data-dismiss="modal"
          ng-click="form.cancel()"
        >
          Cancel</button
        >&nbsp;
        <span class="pull-right">
          <button
            ng-disabled="form.loading"
            type="submit"
            style="margin-top:10px;"
            class="btn btn-success"
          >
            Submit
          </button>
          <i ng-show="loading" class="fa fa-spinner fa-spin"></i>
        </span>
      </div>
    </form>
  </div>
</div>
