<div>
  <div class="modal-header">
    <h4 class="modal-title">
      Purchase Order # %%form.data.id%%
      <span
        class="pull-right text-right"
        style="font-size:14px; margin-right:20px;"
      >
        <span ng-if="form.data.created_at">%%form.data.created_at | dateToISO%%</span>
      </span>
    </h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      ng-click="form.cancel()"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body bg-light">
    <form class="form-horizontal row" ng-show="!form.loading">
      <div class="col-sm-6">
        <div class="panel panel-default no-margin">
          <div class="info-table">
            <label>Vendor Name :</label> <span> %%form.data.vendor.name%%</span>
          </div>
          <div class="info-table">
            <label>Reference Number : </label>
            <span> %%form.data.reference_number%%</span>
          </div>
          <div class="info-table">
            <label>Payment Terms : </label>
            <span>%%form.data.payment_terms%%</span>
          </div>
          <div class="info-table">
            <label>Delivery Date : </label>
            <span>%%form.data.delivery_date | date %%</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel panel-default no-margin">
          <div class="info-table">
            <label> Status : </label>
            <div style="display: inline-block; text-transform: capitalize;">
              <span
                ng-if="form.data.status=='raised'"
                class="label label-primary custom-label"
                >%% form.data.status %%</span
              >
              <span
                ng-if="form.data.status=='received'"
                class="label label-success custom-label"
                >%% form.data.status %%</span
              >
              <span
                ng-if="form.data.status=='cancelled'"
                class="label label-danger custom-label"
                >%% form.data.status %%</span
              >
            </div>
          </div>
          <div class="info-table">
            <label>Created By : </label>
            <span>%%form.data.created_by.name%%</span>
          </div>
          <div class="info-table">
            <label>Approved By : </label>
            <span>%%form.data.approved_by.name%%</span>
          </div>
          <div class="info-table">
            <label> GST Included : </label>
            <span ng-if="form.data.gst_included==1">Yes</span>
            <span ng-if="form.data.gst_included==0">No</span>
          </div>
          <div class="info-table">
            <label> Upload Signed Copy: </label>
            <span ng-if="uploader.isUploading">Uploading...</span>
            <input type="file" nv-file-select uploader="uploader" url="/api/v1/upload-file" autoUpload="true" /><br/>
              <ul ng-if="form.uploaded">
                  <li>
                      <span >File uploaded successfully!</span>
                  </li>
              </ul>
          </div>
          <div class="info-table" ng-if="form.id">
            <google-drive-links reference-id="form.id" reference-type="App\Models\Admin\PurchaseOrder"></google-drive-links>
          </div>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="panel panel-default m-t-10 clearfix">
          <div class="panel-heading col-sm-12 " style="display:flex; align-items: center">
              Purchase Items
          </div>
          <div class="col-sm-12 vendor-contact bg-white" ng-show="form.data.purchase_items.length > 0">
              <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody ng-show="form.data.purchase_items.length > 0">
                    <tr ng-repeat="item in form.data.purchase_items track by $index">
                        <td class="td-text">%%item.name%%</td>
                        <td class="td-text">%%item.quantity%%</td>
                        <td class="td-text">%%item.unit_price%%</td>
                        <td class="td-text">%%item.unit_price * item.quantity%%</td>
                    </tr>
                </tbody>
              </table>
              <p ng-show="form.itemError" style="color: red; font-size: 10px">Please add details for at least one purchase item.</p>
          </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
      <button
      ng-disable="form.loading"
      type="button"
      class="btn btn-default"
      data-dismiss="modal"
      ng-click="download()"
    >
      Download PDF</button
    >
    <span ng-if="form.loading">Loading</span>
    <button
      ng-disable="form.loading"
      type="button"
      class="btn btn-default"
      data-dismiss="modal"
      ng-click="form.close()"
    >
      Close</button
    >&nbsp;
  </div>
</div>
