.background {
	margin: 0 auto;
	background-color: #F1F4F9;
}
.background .row {
	margin: 0;
}
.header-color {
	background-color: #34435A;
	height: 30vh;
}
.do-align-1 {
	color: #FFFFFF;
	text-align: center;
	padding-top: 40px;
}
.do-align-2 {
	color: #FFFFFF;
	float: right;
	padding: 10px;
	padding-top: 45px;
}
.alignment-1 {
	color: #FFFFFF;
	padding-left: 10px;
}
.white-background {
	background-color: #FFFFFF;
	border-radius: 25px;
	box-shadow: 2px 2px 2px  #DCDEE3;
	margin: 15px;
	height: 30vh;
}
.history h5 {
	color: #979697;
	padding-left: 10px;
}
.leave-details-container {
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 25vh;
}
.white-sheet {
	background-color:  #FFFFFF;
	border-radius: 10px;
	box-shadow: 2px 2px 2px  #DCDEE3;
	margin-top: 10px;
	padding: 15px 15px;
}
.white-sheet p {
	margin: 0;
}
.white-sheet .col-xs-4 {
	padding: 0;
}
.white-sheet .col-xs-2 {
	padding: 0;
}
.white-sheet .col-xs-3 {
	padding: 0;
}
/*.white-sheet-1{
	margin-top: 10px;
}*/
.white-sheet-2{
	border-radius: 10px;
	margin: 15px;
}
.green-color-button {
	background-color: #1BBC9C;
	color: #F8FDFC;
	border: none;
	font-size: 18px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 7vh;
	margin-top: 8vh;
}
.green-color-button a{
	border: none;
	color: #FAFEFD;
}

.leave-card h5{
	color: #2F3F56;
    margin: 0;
    padding-top: 5px;
}
.radio-button{
	padding-top: 20px;
}
.sick-leave-circle{
	width: 75px;
    height: 75px;
    background-color: #F6F6F6;
    border-left: 8px solid #DDE6F5;
    border-right: 8px solid #DDE6F5;
    border-top: 8px solid #4F8EDB;
    border-bottom: 8px solid #DDE6F5;
    margin: auto;
    display: table;
}
.circle-color-1 {
	border-right:8px solid #4F8EDB;
	border-left:  8px solid #DDE6F5;
	border-top: 8px solid #4F8EDB;
	border-bottom: 8px solid #DDE6F5;
}
.circle-color-2 {
	border-right:8px solid #4F8EDB;
	border-bottom:8px solid #4F8EDB;
	border-left:  8px solid #DDE6F5;
	border-top: 8px solid #4F8EDB;
}
.sick-leave-down h5{
	color: #546073;
	text-align: center;
	padding-top: 10px;
}
.sick-leave-down p{
	color: #458DE2;
	text-align: center;
	margin-top: -10px;
}
.numbers {
	color: #458DE2;
    text-align: center;
    padding-top: -10px;
    display: table-cell;
    vertical-align: middle;
}
.chart-container {
	padding-top: 20px;
}
.chart-container .col-xs-4 {
	padding: 0;
}
.show-sick-leave{
	color: #5D5D5D;
}
.days-of-leave{
	color: #939192;
}
.leave{
	color: #5697E5;
}
.pending{
	color: #F6AF39;
}
.green{
	color: #41C7AD;
}
.red {
	color: #DD6A67;
}
