<div>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="form.cancel()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="addLeaveModalLabel">
      <span ng-if="!form.editing">Create a Support Ticket</span>
      <span ng-if="form.editing">Edit Support Ticket #%%form.model.id%%</span>
    </h4>
  </div>
  <form class="form-horizontal" name="incidentForm" ng-submit="form.submit(incidentForm)" novalidate>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="" class="col-sm-3 control-label">Support Department: </label>
            <div class="col-sm-6">
              <ui-select ng-model="form.model.department" on-select="form.select_vendor($select.selected)" theme="select2"
                name="department" id="department" allow-clear="true" ng-style="form.error && !incidentForm.department.$valid && {border: '1px solid red'}"
                required>
                <ui-select-match allow-clear="true">%%$select.selected.type%%</ui-select-match>
                <ui-select-choices repeat="department in form.departments | filter: $select.search">
                  <div ng-bind-html="department.type | highlight: $select.search"></div>
                  <small>
                    %%department.description%%
                  </small>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>
          <div class="form-group">
            <label for="" class="col-sm-3 control-label"> Subject: </label>
            <div class="col-sm-9">
              <input type="text" class="form-control" ng-model="form.model.subject" >
            </div>
          </div>
          <div class="form-group">
            <label for="" class="col-sm-3 control-label"> Description: </label>
            <div class="col-sm-9">
              <textarea name="description" id="description" rows="5" class="form-control" placeholder="Please enter description for the incident"
                ng-model="form.model.description"></textarea>
            </div>
          </div>
          
          <div class="form-group">
            <label class="col-sm-3 control-label">Shared Users</label>
            <div class="col-sm-9">
                <ui-select name="shared_users" multiple ng-model="form.model.shared_users" on-select="form.model.select_users($select.selected)" theme="select2" style="border: 1px solid #D5DDF1 !important">
                    <ui-select-match>%%$item.name%%</ui-select-match>
                    <ui-select-choices repeat="user.id as user in form.users | filter: $select.search">
                        %%user.name%%
                    </ui-select-choices>
                </ui-select>
            </div>
         </div>

          <div>
            <div ng-show="form.error" class="alert alert-danger" role="alert">
              Error: <a href="#" class="alert-link">%%form.message%%</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <span ng-if="form.loading">Saving...</span>
      <button ng-disabled="form.loading" type="button" style="margin-top:10px;" class="btn btn-default" data-dismiss="modal"
        ng-click="form.cancel()">
        Cancel</button>&nbsp;
      <span class="pull-right">
        <button ng-disabled="form.loading" type="submit" style="margin-top:10px;" class="btn btn-success">
          Submit
        </button>
        <i ng-show="loading" class="fa fa-spinner fa-spin"></i>
      </span>
    </div>
  </form>
</div>