<div>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">
      <span>Approve Expense</span>
    </h4>
  </div>
  <form class="form-horizontal" name="incidentForm" ng-submit="form.submit(incidentForm)" novalidate>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <div class="col-sm-9">
              Are you sure that you want to approve this expense?
            </div>
          </div>
          <div>
            <div ng-show="error" class="alert alert-danger" role="alert">
              Error: <a href="#" class="alert-link">%%message%%</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <span ng-if="loading">Saving...</span>
      <button ng-disabled="loading" type="button" style="margin-top:10px;" class="btn btn-danger" data-dismiss="modal"
        ng-click="cancel()">
        No</button>&nbsp;
      <span class="pull-right">
        <button ng-disabled="loading" ng-click="submit()" style="margin-top:10px;" class="btn btn-success">
          Yes
        </button>
        <i ng-show="loading" class="fa fa-spinner fa-spin"></i>
      </span>
    </div>
  </form>
</div>