<div>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title" >
        <span >Share Incident</span>
      </h4>
    </div>
    <form class="form-horizontal" name="incidentForm">
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
              <div class="form-group">
                  <label class="col-sm-3 control-label">Payment Status</label>
                  <div class="col-sm-9">
                      <select class="form-control" ng-model="payment_status">
                          <option ng-repeat="x in status_list" value="%%x.value%%">%%x.name%%</option>
                      </select>
                     <small ng-if="status_error" style="color: red">Please select a status</small>
                  </div>
               </div>
            <div>
              <div ng-show="error" class="alert alert-danger" role="alert">
                Error: <a href="#" class="alert-link">%%message%%</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <span ng-if="loading">Saving...</span>
        <button ng-disabled="loading" type="button" style="margin-top:10px;" class="btn btn-default" data-dismiss="modal"
          ng-click="cancel()">
          Cancel</button>&nbsp;
        <span class="pull-right">
          <button ng-disabled="loading" ng-click="submit()" style="margin-top:10px;" class="btn btn-success">
            Submit
          </button>
          <i ng-show="loading" class="fa fa-spinner fa-spin"></i>
        </span>
      </div>
    </form>
  </div>