<div>
        <div class="modal-header">
           <h4 class="modal-title" ng-show="!form.model.id"> Participant ID: %%model.data['id']%%</h4>
           <button type="button" class="close" data-dismiss="modal" ng-click="close()" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-3">
                    <label>Employee Id:</label>
                </div>
                <div class="col-sm-4">
                    <span>%%model.data['employee_id']%%</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label>Title:</label>
                </div>
                <div class="col-sm-4">
                    <span>%%model.data['title']%%</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label>Description:</label>
                </div>
                <div class="col-sm-4">
                    <span>%%model.data['description']%%</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label>Status:</label>
                </div>
                <div class="col-sm-4">
                    <span>Pending</span><br>
                </div>
            </div>
            <div class="row">
                    <div class="col-sm-3">
                        <label>Event date:</label>
                    </div>
                    <div class="col-sm-4">
                        <span>%%model.data['event_date']%%</span>
                    </div>
                </div>
            

        </div>
        <div class="modal-footer">
                <button ng-disable="form.loading" type="button" style="margin-top:10px;" class="btn btn-default" data-dismiss="modal"
                    ng-click="close()">
                    Close</button>
            </div>
</div>