<div class="col-sm-3 status-tree pull-right">
    <div>%%from.loading%%</div>
    <ul>
        <li ng-repeat="activity in form.activities ">
            <span class="grey"></span>
            <div class="small text-info" style="text-transform: capitalize;"><b>%%activity.action%%</b></div>
            <div class="small m-b-5" ng-repeat="data in activity.action_details track by $index"><b>%%data.text%%</b></div>
            <small ng-if="activity.user">%%activity.user.name%%</small>
            <small><i class="fa fa-clock-o"></i> %%activity.created_at | dateToISO%%</small>
        </li>
    </ul>
 </div>