<div>
    <h4 class="admin-section-heading">
        Basic Info</h4>
    <div class="panel panel-default">
        <div class="info-table">
            <label>Project Name: </label>
            <span> %%projectData.project_name%%</span>
        </div>
        <div class="info-table">
            <label>Satrt Date: </label>
            <span> %%filteredDate(projectData.start_date) | date : 'mediumDate' %%</span>
        </div>
        <div class="info-table">
            <label>End Date: </label>
            <span ng-if="projectData.end_date">%%filteredDate(projectData.end_date) | date : 'mediumDate' %%</span>
        </div>
        <div class="info-table">
            <label>Category: </label>
            <spanng-if="projectData.project_category">%%projectData.project_category.name%%</span>
        </div>
        <div class="info-table">
            <label>Status: </label>
            <span>%%projectData.status%%</span>
        </div>
    </div>
</div>