<div>
  <div class="modal-header">
    <button
      type="button"
      class="close"
      style="margin-top:2px;"
      data-dismiss="modal"
      aria-hidden="true"
    >
      <i class="fa fa-close" ng-click="form.cancel()"></i>
    </button>
    <h4 class="modal-title">My Network Devices</h4>
  </div>
  <form
    name="networkDeviceForm"
    class="form-horizontal"
    ng-submit="form.submit(networkDeviceForm)"
    novalidate
  >
    <div class="modal-body row form-horizontal">
      <div class="loader" ng-show="loading"></div>
      <div class="alert alert-danger" ng-show="form.error && form.errorMsg">
        <a href="#" class="close" data-dismiss="alert" aria-label="close"
          >&times;</a
        >
        <span>%%form.errorMsg%%</span>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label for="" class="col-sm-3 control-label">Name</label>
          <div class="col-sm-7">
            <input
              type="text"
              id="name"
              class="form-control"
              name="name"
              ng-model="form.data.name"
              ng-style="form.error && !networkDeviceForm.name.$valid && {border: '1px solid red'}"
              required
            />
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-sm-3 control-label">Mac Address</label>
          <div class="col-sm-7">
            <input
              type="text"
              id="mac_address"
              class="form-control"
              name="mac_address"
              ng-model="form.data.mac_address"
              ng-pattern="/^([0-9A-Fa-f]{2}[:-]){5}([0-9A-Fa-f]{2})$/"
              ng-style="form.error && !networkDeviceForm.mac_address.$valid && {border: '1px solid red'}"
              required
            />
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-sm-3 control-label"
            >Assign Ip
            <address></address
          ></label>
          <div class="col-sm-7">
            <span class="form-check" style="margin: 5px;"
              ><input
                class="form-check-input"
                type="radio"
                name="ip"
                value="auto"
                ng-model="form.AssignType"
                ng-change="form.AssignType='auto'"
              />
              <label class="form-check-label" for="exampleRadios1">
                Auto Assign
              </label></span
            >
            <span class="form-check" style="margin: 5px;">
              <input
                class="form-check-input"
                type="radio"
                name="ip"
                value="manual"
                ng-model="form.AssignType"
                ng-change="form.AssignType='manual'"
              />
              <label class="form-check-label" for="exampleRadios1">
                Assign Manually
              </label>
            </span>
            <ui-select
              ng-if="form.AssignType=='manual'"
              ng-model="form.selected_ip"
              on-select="form.select_ip($select.selected)"
              theme="select2"
              name="ip"
              id="ip"
              allow-clear="true"
              ng-style="form.error && !networkDeviceForm.ip.$valid && {border: '1px solid red'}"
              required
            >
              <ui-select-match allow-clear="true"
                >%%$select.selected.ip_address%%</ui-select-match
              >
              <ui-select-choices
                repeat="ip in form.userFreeIpList | filter: $select.search"
              >
                %%ip.ip_address%%
              </ui-select-choices>
              <ui-select-no-choice>No Free IP</ui-select-no-choice>
            </ui-select>
          </div>
        </div>
      </div>
    </div>
    <div class="">
      <div class="modal-footer">
        <button class="btn btn-info" type="submit">Submit</button>&nbsp;
      </div>
    </div>
  </form>
</div>
