<div>
  <h4 class="admin-section-heading clearfix">
    My Network Devices
    <a
      href
      ng-click="form.showModal()"
      class="btn btn-success btn-sm pull-right"
      style="margin-top:-8px;"
      ><i class="fa fa-plus"></i> Add</a
    >
  </h4>
  <div class="clearfix">
    <div
      class="panel panel-default m-b-5 info-table"
      style="padding: 5px; font-weight: 300"
      ng-if="form.data.length===0"
    >
      No Devices found.
    </div>
    <div
      class="pull-left"
      style="max-width: 350px; width:100%; margin: 10px;"
      ng-repeat="item in form.data track by $index"
    >
      <div class="panel panel-default m-b-5">
        <div class="loader" ng-show="form.loading"></div>
        <div class="info-table">
          <label>Name: </label> <span>%%item.name%%</span>
        </div>
        <div class="info-table">
          <label>Mac Address: </label> <span>%%item.mac_address%%</span>
        </div>
        <div class="info-table">
          <label>Ip Address: </label>
          <span>%%item.ip.user_ip.ip_address%%</span>
        </div>
        <div class="info-table">
          <span class="text-right">
            <a
              class="btn btn-warning btn-xs"
              ng-click="form.showEditModal(item)"
              ><i class="fa fa-edit"></i> Edit</a
            >
            <a class="btn btn-danger btn-xs" ng-click="form.remove(item)"
              ><i class="fa fa-remove"></i> Remove</a
            >
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
