<div class="user-list-view">
    <div class="panel panel-default " style="overflow-x: scroll;width:100%">
        <table id="example" class="stripe  order-column table table table-striped" cellspacing="0" width="100%" height="800">
            <thead>
                <th>Name</th>
                <th> Update On</th>
                <th> Previous Month Net Pay</th>
                <th> Current Month Net Pay</th>
            </thead>
            <tr ng-hide="appraisals.empty" ng-repeat="appraisal in appraisals.list" style="max-height:1em;line-height:2em;height:1em">
                <td ng-repeat="key in appraisal">%%key%%</td>
            </tr>
            <tr ng-show="appraisals.empty">
                <td colspan="4">No Appraisals this month</td>
            </tr>
        </table>
    </div>
</div>