<div class="spinner payslip" ng-show="payslip.loading">
    <i class="fa fa-spinner fa-spin"></i>

</div>
<div ng-if="!payslip.loading" class="user-list-view col-md-12 p-0">
    <div class="panel panel-default col-md-12 p-0">
        <table id="showcase-fixedcolumns" datatable="" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="row-border hover" style="width:100%">

            <thead>
                <th ng-repeat="name in payslip.headers">%%name%%</th>
            </thead>
            <tbody>
                <tr ng-repeat="user in payslip.data" ng-init="outerIndex=$index+1">
                    <td ng-repeat="val in user track by $index" ng-init="innerIndex=$index" class="valueInput">
                        <input style="display:block" type="text" ng-if="payslip.editable[innerIndex]" ng-model="payslip.data[outerIndex][innerIndex]" ng-change="update(user[1], innerIndex, user[0])">
                        <small ng-if="showError[outerIndex][innerIndex].code == 'error'" style="color:red">
                            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                        </small>
                        <small ng-if="showError[outerIndex][innerIndex].code == 'message'" style="color:green;margin-top:10px">
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </small>
                        <label ng-if="!payslip.editable[innerIndex]">%%val%%</label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>