<div>
  <div class="modal-header">
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      ng-click="cancel()"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="addLeaveModalLabel">
      Apply OnSite Allowance Request
    </h4>
  </div>
  <form class="form-horizontal" name="onSiteAllowanceForm">
    <div class="modal-body" ng-if="!form.user_timesheet.length">
      <strong style="color:red">No timesheet entries found.</strong>
    </div>
    <div class="modal-body" ng-if="form.user_timesheet.length">
      <div class="form-group" ng-if="form.onsite_allowance.length > 1">
        <label class="col-sm-12">
          <strong style="color:red"
            >You have multiple projects allowed for On-Site request, please
            select relevant one</strong
          >
        </label>

        <!-- <div class="col-sm-9">
        </div> -->
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Date</label>
        <div class="col-sm-9">
          %%form.model.date | dateFormat%%
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Projects</label>
        <div class="col-sm-9">
          <select
            class="form-control"
            name="onsite_allowance"
            ng-model="form.model.onsite_allowance_id"
            ng-required="true"
            ng-style="form.error && !onSiteAllowanceForm.onsite_allowance.$valid && {border: '1px solid red'}"
          >
            <option ng-repeat="x in form.onsite_allowance" ng-value="%%x.id%%"
              >%%x.project.project_name%% ( %%x.type%% )</option
            >
          </select>
        </div>
      </div>
    </div>
    <div class="modal-footer text-right">
      <button
        type="button"
        ng-disabled="form.loading"
        class="btn btn-default"
        data-dismiss="modal"
        ng-click="form.cancel()"
      >
        Close
      </button>
      <button
        type="submit"
        ng-disabled="form.loading || form.user_timesheet.length ==0"
        class="btn btn-primary"
        ng-click="form.submit(onSiteAllowanceForm)"
      >
        Save
      </button>
      <i ng-show="form.loading" class="fa fa-spinner fa-spin"></i>
    </div>
  </form>
</div>
