<div>
  <div class="modal-header">
    <button
      type="button"
      class="close"
      style="margin-top:2px;"
      data-dismiss="modal"
      aria-hidden="true"
    >
      <i class="fa fa-close" ng-click="cancel()"></i>
    </button>
    <h4 class="modal-title">Bonus Request</h4>
  </div>
  <form
    name="bonusRequestForm"
    class="form-horizontal"
    ng-submit="form.submit(bonusRequestForm)"
    novalidate
  >
    <div class="modal-body row form-horizontal">
      <div class="loader" ng-show="loading"></div>
      <div class="col-md-12">
        <!--select name, from "form.users", bind to "selected_user" /show name-->
        <div class="form-group">
          <label for="" class="col-sm-3 control-label">Employee Name*</label>
          <div class="col-sm-7">
            %%name%%
            <!-- <ui-select
              ng-model="selected_user"
              on-select="select_user($select.selected)"
              theme="select2"
              name="name"
              id="name"
              allow-clear="true"
              ng-style="form.error && !bonusRequestForm.name.$valid && {border: '1px solid red'}"
              required
            >
              <ui-select-match allow-clear="true"
                >%%$select.selected.name%%</ui-select-match
              >
              <ui-select-choices
                repeat="user in form.users | filter: $select.search"
              >
                %%user.name%%
              </ui-select-choices>
            </ui-select> -->
          </div>
        </div>
        <!--select type, from "types", bind to "selected_type" -->
        <div class="form-group">
          <label for="" class="col-sm-3 control-label">Bonus Type*</label>
          <div class="col-sm-7">
            <ui-select
              ng-model="selected_type"
              on-select="select_type($select.selected)"
              ng-change="form.getUserInfo()"
              theme="select2"
              name="type"
              id="type"
              allow-clear="true"
              ng-style="form.error && !bonusRequestForm.type.$valid && {border: '1px solid red'}"
              required
            >
              <ui-select-match allow-clear="true"
                >%%$select.selected.name%%</ui-select-match
              >
              <ui-select-choices
                repeat="type in types | filter: $select.search"
              >
                %%type.name%%
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <!--techtalk title, bind to "form.data.title" -->
        <div
          class="form-group"
          ng-if="selected_type && selected_type.code==='techtalk'"
        >
          <label for="" class="col-sm-3 control-label">Title*</label>
          <div class="col-sm-7">
            <input
              id="title"
              class="form-control"
              name="title"
              ng-model="form.data.title"
              ng-style="form.error && !bonusRequestForm.title.$valid && {border: '1px solid red'}"
              required
            />
          </div>
        </div>
        <!--pick date, bind to "form.data.date"-->
        <div class="form-group">
          <label
            for=""
            class="col-sm-3 control-label"
            ng-if="selected_type !=null  && selected_type.code !='referral'"
            >Date*</label
          >
          <label
            for=""
            class="col-sm-3 control-label"
            ng-if="selected_type !=null && selected_type.code==='referral'"
            >Due Date*</label
          >
          <div
            class="col-sm-7"
            style="display: flex;"
            ng-if="selected_type !=null"
          >
            <div style="flex: 1;">
              <input
                name="date"
                type="text"
                class="form-control"
                uib-datepicker-popup="dd-MMM-yyyy"
                ng-model="form.data.date"
                is-open="form.isOpen"
                datepicker-options="dateOptions"
                ng-required="true"
                ng-change="form.getUserInfo()"
                close-text="Close"
                ng-style="form.error && !bonusRequestForm.date.$valid && {border: '1px solid red'}"
                required
              />
            </div>
            <div>
              <span class="input-group-btn">
                <button
                  type="button"
                  class="btn btn-default"
                  ng-click="form.isOpen = !form.isOpen"
                >
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </div>
          </div>
        </div>
        <!--referral for, from "form.users", bind to "selected_referral"-->
        <div
          class="form-group"
          ng-if="selected_type !=null && selected_type.code==='referral'"
        >
          <label for="" class="col-sm-3 control-label">Referral For*</label>
          <div class="col-sm-7">
            <ui-select
              ng-model="selected_referral"
              on-select="select_referral($select.selected)"
              theme="select2"
              name="referral_for"
              id="referral_for"
              allow-clear="true"
              ng-style="form.error && !bonusRequestForm.referral_for.$valid && {border: '1px solid red'}"
              required
            >
              <ui-select-match allow-clear="true"
                >%%$select.selected.name%%</ui-select-match
              >
              <ui-select-choices
                repeat="user in form.users | filter: $select.search"
              >
                %%user.name%%
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <!--performance amount, bind to "form.data.amount"-->
        <div
          class="form-group"
          ng-if="selected_type!=null && selected_type.code==='performance'"
        >
          <label for="" class="col-sm-3 control-label">Amount*</label>
          <div class="col-sm-7" style="display: flex;">
            <div style="flex: 1;">
              <input
                name="amount"
                type="text"
                class="form-control"
                ng-model="form.data.amount"
                ng-required="true"
                close-text="Close"
                ng-style="form.error && !bonusRequestForm.amount.$valid && {border: '1px solid red'}"
                required
              />
            </div>
          </div>
        </div>
        <!--additional project, select from "type_data", bind to "additional_project"-->
        <div
          class="form-group"
          ng-if="selected_type !=null && selected_type.code==='additional' && date != null"
        >
          <label for="" class="col-sm-3 control-label"
            >Select Additional Project</label
          >
          <div class="col-sm-7">
            <ui-select
              ng-model="additional_project"
              on-select="select_additional_project($select.selected)"
              theme="select2"
              name="additional_project"
              id="additional_project"
              allow-clear="true"
              ng-style="form.error && !bonusRequestForm.additional_project.$valid && {border: '1px solid red'}"
              required
            >
              <ui-select-match allow-clear="true"
                >%%$select.selected.project_name%%</ui-select-match
              >
              <ui-select-choices
                repeat="type_dat in form.type_data | filter: $select.search"
              >
                %%type_dat.project_name%%
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <!--additional hours, bind to "form.data.hours"-->
        <div
          class="form-group"
          ng-if="selected_type!=null && selected_type.code === 'additional' && date != null && additional_project!=null"
        >
          <label for="" class="col-sm-3 control-label">Hours</label>
          <div class="col-sm-7">
            <input
              class="form-control"
              type="number"
              name="hours"
              ng-model="form.data.hours"
              ng-style="form.error && !bonusRequestForm.hours.$valid && {border: '1px solid red'}"
              required
            />
          </div>
        </div>
        <!--extra project, select from "type_data", bind to "extra_project"-->
        <div
          class="form-group"
          ng-if="selected_type !=null && selected_type.code==='extra' && date != null"
        >
          <label for="" class="col-sm-3 control-label"
            >Select extra Project</label
          >
          <div class="col-sm-7">
            <ui-select
              ng-model="extra_project"
              on-select="select_extra_project($select.selected)"
              theme="select2"
              name="extra_project"
              id="extra_project"
              allow-clear="true"
              ng-style="form.error && !bonusRequestForm.extra_project.$valid && {border: '1px solid red'}"
              required
            >
              <ui-select-match allow-clear="true"
                >%%$select.selected.project_name%%</ui-select-match
              >
              <ui-select-choices
                repeat="type_dat in form.type_data | filter: $select.search"
              >
                %%type_dat.project_name%%
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <!--extra hours, bind to "form.data.hours"-->
        <div
          class="form-group"
          ng-if="selected_type!=null && selected_type.code === 'extra'"
        >
          <label for="" class="col-sm-3 control-label">Hours</label>
          <div class="col-sm-7">
            <input
              class="form-control"
              type="number"
              name="hours"
              ng-model="form.data.hours"
            />
          </div>
        </div>
        <!--onsite allowance, select from "type_data", bind to "onsite_allowance"-->
        <div
          class="form-group"
          ng-if="selected_type !=null && selected_type.code==='onsite'"
        >
          <label for="" class="col-sm-3 control-label"
            >Select Onsite Allowance</label
          >
          <div class="col-sm-7">
            <ui-select
              ng-model="onsite_allowance"
              on-select="select_onsite_allowance($select.selected)"
              theme="select2"
              name="onsite_allowance"
              id="onsite_allowance"
              allow-clear="true"
              ng-style="form.error && !bonusRequestForm.onsite_allowance.$valid && {border: '1px solid red'}"
              required
            >
              <ui-select-match allow-clear="true"
                >%%$select.selected.project.project_name%%</ui-select-match
              >
              <ui-select-choices
                repeat="type_dat in form.type_data | filter: $select.search"
              >
                %%type_dat.project.project_name%%
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </div>
      <p
        ng-if="error && error_message != ''"
        class="help-block small text-danger"
      >
        Error: %%error_message%%
      </p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success" type="submit">Save</button>&nbsp;
    </div>
  </form>
</div>
