<div>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="form.cancelModal()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="addLeaveModalLabel">Additional work</h4>
  </div>
  <form class="form-horizontal" name="additionalWorkDayForm" novalidate ng-submit="form.submit(additionalWorkDayForm)">
    <div class="modal-body" ng-if="form.projects.length == 0 && !form.loading">
      <strong style="color:red">No timesheet entries found.</strong>
    </div>
    <div class="modal-body" ng-if="form.loading">
      Loading... <i class="fa fa-spinner fa-spin"></i>
    </div>
    <div class="modal-body" ng-if="form.projects.length && !form.loading">

      <div class="form-group">
         <label class="col-sm-3 control-label">Date</label>
        <div class="col-sm-9" ng-if="form.model.date">
          %%form.model.date | dateFormat%%
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Projects</label>
        <div class="col-sm-9">
            <ui-select multiple ng-model="form.model.projects" theme="select2" class="small" ng-style="model.error && form.model.projects.length == 0 && {border: '1px solid red'}">
            <ui-select-match>%%$item.project_name%%</ui-select-match>
            <ui-select-choices repeat="project.id as project in form.projects | filter: $select.search">
                %%project.project_name%%
            </ui-select-choices>
        </ui-select>

        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Worked For</label>
        <div class="col-sm-9">
          <label>
            <input type="radio" ng-model="form.model.duration" ng-checked="form.model.duration=='2'" value="2" /> 2 Hours
          </label>
          <label>
            <input type="radio" ng-model="form.model.duration" ng-checked="form.model.duration =='4'" value="4" /> Half Day
          </label>
          <label>
            <input type="radio" ng-model="form.model.duration" ng-checked="form.model.duration =='6'" value="6"  /> 6 Hours
          </label>
          <label>
            <input type="radio" ng-model="form.model.duration" ng-checked="form.model.duration =='8'" value="8"/> Full Day
          </label>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">I want to</label>
        <div class="col-sm-9">
          <label> 
            <input type="radio" ng-model="form.model.redeem_type" ng-checked="form.model.redeem_type == 'encash' " value="encash" /> Encash it
          </label>
          <label ng-show="form.model.duration ==8"> 
            <input type="radio" ng-model="form.model.redeem_type" ng-checked="form.model.redeem_type == 'comp-off' " value="comp-off" /> Comp Off
          </label>
        </div>
      </div>
    </div>
        <div ng-show="form.error" class="alert alert-danger" role="alert">
          Error: %%form.error_message%%
        </div>
    <div class="modal-footer text-right">
      <button type="button" class="btn btn-default" datng-submita-dismiss="modal" ng-click="cancel()">Close</button>
      <button type="submit" class="btn btn-primary" ng-disabled="form.projects.length == 0">Save</button>
      <i ng-show="loading" class="fa fa-spinner fa-spin"></i>
    </div>
  </form>
</div>