<div>
  <div class="modal-header">
    <button
      type="button"
      class="close"
      style="margin-top:2px;"
      data-dismiss="modal"
      aria-hidden="true"
    >
      <i class="fa fa-close" ng-click="cancel()"></i>
    </button>
    <h4 class="modal-title">Bonus Request</h4>
  </div>
  <form
    name="bonusRequestEditForm"
    class="form-horizontal"
    ng-submit="form.submit(bonusRequestEditForm)"
    novalidate
  >
    <div class="modal-body row form-horizontal">
      <div class="loader" ng-show="loading"></div>
      <div class="col-md-12">
        <div class="form-group">
          <label for="" class="col-sm-3 control-label">Employee Name*</label>
          <div class="col-sm-7">
            <ui-select
              ng-model="form.data.user"
              on-select="select_user($select.selected)"
              theme="select2"
              name="name"
              id="name"
              allow-clear="true"
              ng-disabled="true"
              ng-style="form.error && !bonusRequestEditForm.name.$valid && {border: '1px solid red'}"
              required
            >
              <ui-select-match allow-clear="true"
                >%%$select.selected.name%%</ui-select-match
              >
              <ui-select-choices
                repeat="user in form.users | filter: $select.search"
              >
                %%user.name%%
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <div class="form-group">
          <label
            for=""
            class="col-sm-3 control-label"
            ng-if="form.data.type.code !='referral'"
            >Date*</label
          >
          <label
            for=""
            class="col-sm-3 control-label"
            ng-if="form.data.type.code==='referral'"
            >Due Date*</label
          >
          <div class="col-sm-7" style="display: flex;">
            <div style="flex: 1;">
              <input
                name="date"
                type="text"
                class="form-control"
                uib-datepicker-popup="dd-MMM-yyyy"
                ng-model="form.data.date"
                is-open="form.isOpen"
                datepicker-options="dateOptions"
                ng-required="true"
                close-text="Close"
                ng-disabled="true"
                ng-style="form.error && !bonusRequestEditForm.date.$valid && {border: '1px solid red'}"
                required
              />
            </div>
            <div>
              <span class="input-group-btn">
                <button
                  type="button"
                  class="btn btn-default"
                  ng-click="form.isOpen = !form.isOpen"
                >
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-sm-3 control-label">Bonus Type*</label>
          <div class="col-sm-7">
            <ui-select
              ng-model="form.data.type"
              on-select="select_type($select.selected.code)"
              theme="select2"
              name="type"
              id="type"
              allow-clear="true"
              ng-style="form.error && !bonusRequestEditForm.type.$valid && {border: '1px solid red'}"
              required
            >
              <ui-select-match allow-clear="true"
                >%%$select.selected.name%%</ui-select-match
              >
              <ui-select-choices
                repeat="type in types | filter: $select.search"
              >
                %%type.name%%
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <div class="form-group" ng-if="form.data.sub_type || showSubType">
          <label for="" class="col-sm-3 control-label">Sub Type*</label>
          <div class="col-sm-7">
            <ui-select
              ng-model="form.data.sub_type"
              on-select="select_sub_type($select.selected)"
              theme="select2"
              name="sub_type"
              id="sub_type"
              allow-clear="true"
              ng-style="form.error && !bonusRequestEditForm.sub_type.$valid && {border: '1px solid red'}"
              required
            >
              <ui-select-match allow-clear="true"
                >%%$select.selected%%</ui-select-match
              >
              <ui-select-choices
                repeat="sub_type in sub_types | filter: $select.search"
              >
                %%sub_type%%
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
        <div class="form-group" ng-if="form.data.type.code==='techtalk'">
          <label for="" class="col-sm-3 control-label">Title*</label>
          <div class="col-sm-7">
            <input
              id="title"
              class="form-control"
              name="title"
              ng-model="form.data.title"
              ng-style="form.error && !bonusRequestEditForm.title.$valid && {border: '1px solid red'}"
              required
            />
          </div>
        </div>
        <div class="form-group" ng-if="form.data.type.code==='referral'">
          <label for="" class="col-sm-3 control-label">Referral For*</label>
          <div class="col-sm-7">
            <ui-select
              ng-model="form.data.referral"
              on-select="select_referral($select.selected)"
              theme="select2"
              name="referral_for"
              id="referral_for"
              allow-clear="true"
              ng-style="form.error && !bonusRequestForm.referral_for.$valid && {border: '1px solid red'}"
              required
            >
              <ui-select-match allow-clear="true"
                >%%$select.selected.name%%</ui-select-match
              >
              <ui-select-choices
                repeat="user in form.users | filter: $select.search"
              >
                %%user.name%%
              </ui-select-choices>
            </ui-select>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        class="btn btn-success"
        type="submit"
        name="status"
        value="approved"
      >
        Approve</button
      >&nbsp;
      <span
        class="btn btn-danger"
        ng-click="form.rejectBonusRequest(form.data.id)"
      >
        Reject
      </span>
      &nbsp;
    </div>
  </form>
</div>
