<div>
		<h4 class="admin-section-heading">Resource Info</h4>

    <div class="panel panel-default">
        <div class="panel panel-default">
            <!-- <div class="manager-name-holder project-name-holder">
                        {{$projectinfo->project_name}}
                        </div> -->
            <div class="info-table">
                <label>Sales executive / manager: </label>
                <span>%%projectDetails.sales_manager%%</span>
            </div>
            <div class="info-table">
                <label>Project coordinator: </label>
                <span>%%projectDetails.project_coordinator%%
                </span>
            </div>
            <div class="info-table">
                <label>Project manager: </label>
                <span>%%projectDetails.project_manager%%
                </span>
            </div>
            <div class="info-table">
                <label>Code Lead: </label>
                <span>%%projectDetails.code_lead%%</span>
            </div>
            <div class="info-table">
                <label>Delivery Lead: </label>
                <span>%%projectDetails.delivery_lead%%</span>
            </div>
            <div class="info-table">
                <label>UI / UX: </label>
                <span>%%projectDetails.ui_ux_lead%%</span>
            </div>
            <div class="info-table">
                <label>DevOp: </label>
                <span>%%projectDetails.dev_op_lead%%</span>
            </div>
            <div class="info-table">
                <label>Architect: </label>
                <span>%%projectDetails.architect_lead%%</span>
            </div>
            <div class="info-table">
                <label>Deployement: </label>
                <span>%%projectDetails.deployment_lead%%</span>
            </div>
            <div class="info-table">
                <label>QA: </label>
                <span>%%projectDetails.qa_lead%%</span>
            </div>
        </div>
    </div>
</div>