<div>

    <div class="modal-header">
        <button type="button" class="close" style="margin-top:2px;" data-dismiss="modal" aria-hidden="true">
            <i class="fa fa-close" ng-click="cancel()"></i>
        </button>
        <h4 class="modal-title">Edit Contact Details</h4>
        </input>
    </div>

    <div class="modal-body row form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label">Name</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" ng-style="firstNameError  && contactObj.first_name == '' && {border: '1px solid red'}"
                    placeholder="First Name" ng-model="contactData.first_name">
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" ng-style="lastNameError  && contactObj.last_name == '' && {border: '1px solid red'}"
                    placeholder="Last Name"  ng-model="contactData.last_name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Type</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" ng-style="typeError  && contactObj.type == '' && {border: '1px solid red'}"
                    placeholder="Type"  ng-model="contactData.type">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Email</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" ng-style="emailError  && contactObj.email == '' && {border: '1px solid red'}"
                    placeholder="Email"  ng-model="contactData.email">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Mobile</label>
            <div class="col-sm-6">
                <input type="text" class="form-control"  placeholder="Mobile"  ng-model="contactData.mobile">
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="modal-footer">
            <button class="btn btn-info" type="button" ng-click="ok()">Submit</button>&nbsp;
        </div>
    </div>
</div>