<div>
    <h4 class="admin-section-heading">Billing Schedule</h4>
    <div class=" pull-right">
        <button class="btn btn-info admin-section-heading pull-right" ng-click="edit()"><i class="fa fa-edit"></i></button>
    </div>
    <div class="panel panel-default">
        <div class="info-table" ng-hide="billingScheduleDetails.event_type">
            <span style="text-transform: capitalize;">No schedule found</span>
        </div>
        <div class="info-table" ng-show="billingScheduleDetails.event_type">
            <label>Event Type: </label>
            <span style="text-transform: capitalize;">%%billingScheduleDetails.event_type%%</span>
        </div>
        <div class="info-table" ng-show="billingScheduleDetails.event_type == 'recurring'">
            <label>Frequency: </label>
            <span style="text-transform: capitalize;">%%billingScheduleDetails.repeat_type%%</span>
        </div>
        <div class="info-table" ng-show="billingScheduleDetails.executed_counter">
            <label>Times Executed: </label>
            <span style="text-transform: capitalize;">%%billingScheduleDetails.executed_counter%%</span>
        </div>
        <!-- <div class="info-table">
            <label>Repeat After: </label>
            <span style="text-transform: capitalize;">%%billingScheduleDetails.event_term%%</span>
        </div> -->
        <div class="info-table" ng-show="billingScheduleDetails.event_type">
            <label>Schedule At: </label>
            <span>%%billingScheduleDetails.repeat_cycle%%</span>
        </div>
        <div class="info-table">
            <label ng-show="billingScheduleDetails.ends_on">Ends On: </label>
            <label ng-show="billingScheduleDetails.occurrence_counter">Ends After: </label>
            <span ng-show="billingScheduleDetails.occurrence_counter">%%billingScheduleDetails.occurrence_counter%%</span>
            <span ng-show="billingScheduleDetails.ends_on">%%billingScheduleDetails.ends_on%%</span>
        </div>
    </div>
</div>