@menu-width: 240px;
.m-t-100 {
    margin-top: 100px;
}
.m-b-0{
    margin-bottom: 0;
}
.m-t-5 {
    margin-top: 5px;
}
.m-t-10 {
    margin-top: 10px;
}
.m-t-15{
    margin-top:15px;
  }
.m-t-20 {
    margin-top: 20px !important;
}
.m-b-10 {
    margin-bottom: 10px;
}
.p-l-10 {
    padding-left: 10px !important;
}
.separator-h {
    border-bottom: solid 2px #d9e0e9;
    margin: 0 -15px 10px;
}
.no-m-b {
    margin-bottom: 0 !important;
    &.form-group {
        margin-bottom: 0 !important;
    }
}
.label-lg {
    padding: 5px 10px;
    font-size: 12px;
}
.sprint-header {
    margin: 10px -15px;
    border-radius: 0;
    background: #d9e0e9;
    border: solid 1px rgba(0, 0, 0, 0.05);
    padding:15px;
}
.input-delete {
    display: inline-block;
    &:after {
        content: 'x';
    }
}
.bg-light {
    background: lighten(#d9e0e9, 5%);
    &.panel-heading {
        border-bottom: solid 1px #ddd;
    }
}
.no-margin {
    margin: 0 !important;
}
.no-padding {
    padding: 0px !important;
}
.admin-section-heading {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 900;
    margin: 0 0 5px 2px;
}
.info-table {
    display: table;
    width: 100%;
    font-weight: 400;
    padding: 2px 0;
    border-bottom: dotted 1px darken(#E9EDF2, 10%);
    &:last-child {
        border: none;
    }
    label, span {
        display: table-cell;
        vertical-align: middle;
        padding: 2px 5px;
    }
    label {
        width: 50%;
        font-size: 12px;
        font-weight: 600;
        color: darken(#E9EDF2, 50%);
    }
    &.info-table-lg {
        label, span {
            padding: 4px 5px;
        }
        label {
            width: 30%;
        }
    }
}

.modal-dialog {
    .info-table {
        label, span {
            padding: 4px 5px;
        }
        label {
            width: 30%;
        }
    }
}
.small-star {
    img {
        max-width: 80%;
    }
}
.breadcrumb-wrap {
    margin: 0 -8px 15px -8px;
    background: #D4DCE6;
    border-bottom: solid 1px rgba(0,0,0,0.05);
    padding: 15px;
    h1 {
        margin: 0 0 10px 0;
        font-size: 21px;
        font-weight: 400;
        color: @btn-primary-bg;
    }
    .breadcrumb {
        background: none;
        margin: 0;
        padding: 0;
        font-weight: 300;
        a {
            color: darken(#E9EDF2, 50%);
            font-weight: 400 !important;
        }
        > li + li:before {
            color: darken(#E9EDF2, 20%);
        }
    }
}

.td-text {
	padding-top: 14px !important;
}
.td-text-center {
	padding-top: 14px !important;
    text-align: center;
}
// ========== admin login ==================
.login-wrapper {
	.panel {
		padding-bottom: 35px;
	}
	.panel-heading  {
		 margin-bottom: 35px;
		 font-size: 20px;
	}
}
.logo-holder-panel {
	margin: 60px 0px 35px 0px;
	padding: 6px 0px;
	.admin-logo-img {
		height: 35px;

	}
}
.panel-login-admin {
	// margin-top: 10%;
}
.custom-input-group {

	margin-bottom: 20px;
	.form-control {
		-webkit-border-radius: 0px !important;
	        border-radius: 0px !important;
	    height: 45px;
	}
}
.sign-btn {
	margin-top: 30px;
	.admin-signin {
		line-height: 2.5;
		font-size: 16px;
	}
}
.admin-gray-text {
    color: #767676;
}

// ================= admin sign up =====================
.logo-holder-panel-signup {
	margin: 60px 0px 35px 0px;
	padding: 6px 0px;
	.admin-logo-img {
		height: 35px;

	}
}
.login-here {
	color: #999;
	font-size: 14px !important;
}
.login-here, .login-here.active, .login-here:active, .login-here:focus, .login-here:hover {
    outline: none;
    text-decoration: none;
}
.login {
	color: #767676 !important;
	font-size: 14px !important;
}
.login:hover {
	color: #333;
}
// ====================== admin dashboard ======================
// .admin-navbar {
// 	border-color: #ddd !important;
// }

.admin-wrapper {
    padding-left: 0;
    color: #34425A;
    h1, h2, h3, div, a {
        font-weight: 300;
    }
    .btn {
        border-radius: 2px;
        // margin-top:9px;
    }
   
}
.panel-title.bold, .panel-title.bold a {
    font-weight: 400 !important;
}
.table-sm-heading {
    tr {
        th {
            font-size: 12px;
        }
    }
}
.label {
    display: inline-block;
    margin: 0 1px;
}

.admin-dashboard {
    width: 100%;
    padding: 0;
    background-color: #F1F4F9;
    margin-top: 52px;
    min-height: calc(~"100vh - 54px");
}

.huge {
    font-size: 50px;
    line-height: normal;
}

.admin-mobile-wrapper {
    padding-left: none;
}

.admin-mobile-dashboard {
    width: 100%;
    padding: 0;
    background-color: #F1F4F9;
    min-height: 100vh;
    margin-top: none;
}



@media(min-width:768px) {
    .admin-dashboard {
        padding-bottom: 20px;
    }
    .p-l-0-md {
        padding-left: 0 !important;
    }
}
@media(max-width:600px) {
    .log-timesheet-table{
        .hours-input{
            widows: 100% !important;
        }
    }
}


/* Side Navigation */

.mobile-sidebar {
    position: fixed;
    top: 50px;
    left: 0;
    width: @menu-width;
    border: none;
    border-radius: 0;
    /*background: #222d32;*/
    background: #3d454e;
    bottom: 0;
    overflow: hidden;
    padding-bottom: 40px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-border-radius: 0px !important;
            border-radius: 0px !important;
            .fa{
                margin-right:5px !important;
            }
            &::-webkit-scrollbar {
                width: 1em;
            }
             
           &::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            }
             
           &::-webkit-scrollbar-thumb {
              background-color: #2b384e;
              outline: 1px solid slategrey;
              border-radius: 10px;
              height:30px;

              
            }
            &::-moz-scrollbar {
                width: 1em;
            }
             
           &::-moz-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            }
             
           &::-moz-scrollbar-thumb {
              background-color: #2b384e;
              outline: 1px solid slategrey;
              border-radius: 10px;
              height:30px;

              
            }
}

.nav.side-nav {
    position: absolute;
    top:34px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    margin:0 !important;
    padding:0;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    li {
        float: none;
        display: block;
        width: 100%;
        a {
            border-bottom: none !important;
            color: #9eadbd;
            width: 100%;
            font-size: 14px !important;
            font-weight: 500;
            line-height: 18px;
            text-transform: none;
            padding: 10px 15px 10px 18px;
            display: block;
            letter-spacing: 0.75px;
            .fa-caret-down {
                float: right;
                position: absolute;
                right: 0;
            }
            &.btn {
                color: #fff;
            }
            
        }
        
    }
    
}
.side-nav {
    li {
        .sub-link-li {
            padding-left: 32px;
         }
    }
}

.side-nav li a:hover,
.side-nav li a:focus {
    background: #2b384e;
    color: #fff;
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav > li > ul > li > a {
    display: block;
    padding: 10px 15px 10px 20px;
    text-decoration: none;
    color: #999;
}

.side-nav  li  a:hover {
    color: #fff !important;
    background: #000;
}
.side-nav  li  a {
	text-align: left !important;
	font-size: 10px !important;

.navbar-sidebar-admin {
    li {
        a {
            &:focus,
            &:hover {
                outline: none;
                border-bottom: 0px !important;
                background: #2b384e;
                color: #fff !important;
            }
        }
    }
}
.top-nav-menu {
    li {
        a {
            text-transform: capitalize !important;
            font-size: 14px;
            font-weight: 300 !important;
            color: red !important;
            line-height: 16px;
            &:focus,
            &:hover {
                outline: none;
                border-bottom: 0px !important;
                background: #2b384e;
                color: #fff !important;
            }
        }
    }

}
// ========================== calender icon ====================
.calender-icon {
    position: absolute;
    top: 12px;
    left: 21px;
}

// =================== select 2 =====================
.select2-container .select2-selection--single {
    height: 40px !important;
    width: 100%;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 40px !important;
}
.select2-container--default .select2-selection--single {
    border: 1px solid #ddd !important;
    border-radius: 0px !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    top: 75% !important;
}
.record-btn {
    margin-right: 8px;
}


// ========================= new css for admin dashboard ======================
.admindashboard-icon {
    margin-right: 15px !important;
    font-weight: 16px !important;
    font-weight: 300 !important;
}


.navbar-sidebar-admin{
    background: red;
    opacity: 1;
    ul.nav li a{
        &:hover, &:focus{
            border: none;
            color:#1abc9c !important;
        }
    }
    ul li.active a{
        border: none;
        color: #1abc9c !important;
    }
}
}

input[type="text"].light-placeholder::placeholder {
    color: #9C9999;
}

// =============== nav main class ======================
.admin-navbar {
    .navbar-sidebar-admin {
        background: #FFF !important;
    }
}

// ================== panel ================
.panel-white {
    .panel-heading {
        color: #333;
        background-color: #fff !important;
        border-color: #fff !important;
        font-size: 20px !important;
        font-weight: 100 !important;
        margin-bottom: 15px;
    }
}
.custom-space {
        padding: 20px;
    }
// ================ crud btn ============
.crud-btn {
    -webkit-border-radius: 0px !important;
            border-radius: 0px !important;
}
.btn-icon-space {
    color: #FFF;
    margin-right: 6px;
}
.add-new-tech {
    padding: 20px;
}
// =================== view tech ======================
.name-view {
    padding: 20px;
    border-left: 2px solid #bbb;
    margin-top: 8px;
    background: #F1F4F9;
    width: 100%;
}
.text-view {
    font-size: 16px;
    b{
      margin-right: 5px;
    }
}
.back-btn {
    margin-top: 10px;
    i {
        margin-right: 10px;
    }
}
// ===================== project cms =======================
.add-newproj-btn {
    margin-bottom: 30px;
}


// .btn-close {
//     background: #756f5d;
//     border-color: #756F5D;
//     -webkit-box-shadow: none !important;
//             box-shadow: none !important;
// }

.closebtn {
    margin-left: 10px;
}



.view-container {
    padding: 20px;
    .lead-view-data {
        font-size: 14px !important;
        font-weight: 300 !important;
        padding-bottom: 15px;
    }
    b {
        font-size: 15px !important;
        margin-right: 5px;
    }

}
// ======================= time log dashboard edit content =================
.edit-form-control {
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
        outline: 0px !important;
        background: #f7f7f7;
}
.edit-form-control:focus {
    border: 2px solid #eee;
}
// ============== lead filter =======================
.lead-dashboard-filter {
    margin-bottom: 10px !important;
}
// ========================= leave page css ===============================
.msgof-leave {
    font-size: 15px;
    font-weight: 300;
    margin-top: 35px;
    padding-left: 3px;
    border-left: 4px solid #aaa;
}

// ======================== emp report ===========================
.form-filter {
    .form-group {
        height: 35px !important;
        .form-control {
            height: 35px !important;
        }
    }
}

// ============================= leave Dashboard ======================
.custom-label {
    padding: 4px 8px !important;
    font-size: 11px !important;
    border-radius: 10px !important;
}
.history-leave {
    .table > thead > tr > th {
        vertical-align: bottom;
        border-bottom: 2px solid #ddd;
        font-size: 13px;
        font-weight: 300;
    }
    .panel-title {
        font-size: 13px !important;
    }
}


.select-leave-type {
    padding: 20px 20px 10px 20px;
    label {
        margin-bottom: 6px !important;
        font-weight: 400 !important;
    }
    .form-control {
        -webkit-border-radius: 2px !important;
                border-radius: 2px !important;
        font-weight: 300 !important;
    }
    .ma-bot-10 {
        margin-bottom: 10px;
    }
    .ma-top-10 {
        margin-top: 20px;
    }
}

// ============================================
.dateview-calender {
    width: 100%;
    margin-left: 100px;
    margin-top: 50px;
}


// ====================== leave list ==================
.event-list {
    .leave-1day {
        color: #37bc9b;
    }
    .leave-2day {
        color: #ffb000;
    }
    .leave-3day {
        color: #e86c6b!important;
    }
    .leave {
        margin-bottom: 6px;
    }


}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    /*background-color: #2b384e;*/
        /*background: #3d454e;*/
}



// ===================== progress bar ============================

.progress {
    width: 100%;
    height: 12px !important;
    .progress-bar-warning {
        background: #ec971f;
        height: 100%;
    }
    .progress-bar-success {
        background: #1abc9c;
        height: 100%;
    }
    .progress-bar-danger {
        background: #d9534f;
        height: 100%;
    }
    .progress-bar {
        font-size: 9px !important;
        line-height: 13px !important;
    }
}

.panel-description {
    background: #fff;
    -moz-box-shadow: 0 5px 5px -5px rgba(0,0,0,.1);
    box-shadow: 0 5px 5px -5px rgba(0,0,0,.1);
    border: 0!important;
    margin-bottom: 25px;
    border-radius: 0;
}
.sprint-view-desc {
    p {
        font-size: 14px !important;
    }
}

.heading-list{
    background: #1abc9c;
    padding: 5px 10px;
    color: #fff;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 10px;
}

.bs-callout {
    padding: 15px;
    margin: 0;
    border: 1px solid #fff;
    border-left-width: 5px;
    border-radius: 3px;
    border-left-color: #1b809e;
    background-color: #fff;
    list-style: none;
    font-size: 14px;

    li {
        margin-bottom: 15px;
        font-weight: 400;
        &:last-child {
            margin-bottom: 0;
        }

    }
}
.leave-stat {
    width: 100%;
    background-color: #fff;
    border: solid 1px #ddd;
    display: table;
    border-radius: 5px;
    .num {
        text-align: center;
        width: 80px;
        background: #1abc9c;
        display: table-cell;
        vertical-align: middle;
        color: #fff;
        font-size: 22px;
        text-align: center;
        line-height: 12px;
        span {
            display: inline-block;
            position: relative;
            margin: 0 -4px;
            top:-10px;
            &:last-child {
                top:0px;
            }
            &.devider {
                top:5px;
                font-size: 34px;
                font-weight: 100;
                opacity: 0.5;
            }
        }
    }
    .text {
        display: table-cell;
        vertical-align: middle;
        .stat-heading {
            font-size: 14px;
            font-weight: 500;
            color: #444;
            background: #eee;
            padding: 5px 10px;
            border-bottom: solid 1px #ddd;
        }
        .stat-info {
            padding: 5px 10px;
            b{
                font-weight: 500;
            }
        }
    }
}

// .vertical-tabs-wrap {
//     display: table;
//     width: 100%;
//     .tab-content, .tabs-vertical {
//         display: table-cell;
//     }
//     .tabs-vertical {
//         width: 150px;
//         border:solid 1px #ddd;
//         background-color: #fff;
//         li {
//             float: none;

//             a {
//                 display: block;
//                 text-align: left;
//                 font-size: 12px;
//                 border:none;
//                 border-bottom: solid 1px #ddd;
//                 border-radius: 0 !important;
//                 text-transform: none;
//                 &:active, &:hover, &.active, &:focus {
//                     border:none;
//                     border-bottom: solid 1px #ddd;

//                 }
//             }
//             &.active {
//                 a {
//                     border-bottom: solid 1px #ddd;
//                 }
//             }
//         }
//     }
//     .tab-content {
//         padding: 15px;
//         background-color: #fff;
//         border:solid 1px #ddd;
//         border-left: none;
//         .tab-pane {
//             position: relative;
//             &.active {
//                 &:before {
//                     content: '';
//                     position: absolute;


//                 }
//             }
//         }
//     }
// }
.payslip-wrap {
    h1 {
        margin: 0 0 10px 0;
        padding: 0;
        font-size: 22px;
    }
    p {
        font-size: 12px;
        text-transform: uppercase;
        margin-bottom: 5px;
        font-weight: 900 !important;
    }
    h2 {
        font-size: 20px !important;
        font-weight: 400;
        margin-top: 0;
    }
    h3 {
        font-size: 16px;
        font-weight: 400;
        margin-top: 0;
    }
    .m-t {
        margin-top: 40px !important;
    }
}

.payslip-table {
    color: #333;
    font-weight: 400;
    th {
        font-size: 10px;
        border-top: solid 1px #ccc;
        color: #999;
        text-transform: uppercase;
        padding-top: 10px;
    }
    td {
        padding-bottom: 10px;
    }
    h3 {
        margin: 0;
    }
    &.no-border-left {
        border-left: none !important;
        tr > td {
            border-left: none;
        }
    }
    .table, &.table {
        margin-bottom: 0;
    }
}

.admin-profile-wrap {
    .tab-content {
        background-color: #fff;
        border:solid 1px #ddd;
        border-top:none;
        padding:15px;
        position: relative;
    }
    .nav li {
        a {
            text-transform: none;
        }
        &.active a {
            background-color: #fff;
            border-bottom-color: #fff;
        }
    }
}

.edit-info {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #f4f4f4;
    border-radius: 0 0 0 3px;
    border:solid 1px #ddd;
    display: inline-block;
    padding: 2px 6px;
    border-top: none;
    border-right: none;
    &:hover {
        background-color: #eee;
    }
}


.team-thumbnail {
    position: relative;
    .edit-info {
        right: 4px;
    }
}

.basic-info {
    margin-top: 10px;
    display: table;
    width: 100%;
    i, span {
        display: table-cell;
        vertical-align: middle;
    }
    i {
        width: 40px;
    }
}
.row.row-sm {
    margin-left: -5px;
    margin-right: -5px;
    [class*="col-"] {
        padding-left: 5px;
        padding-right: 5px;
    }
    &.m-b-10 {
        &:last-child {
            margin-bottom: 0 !important;
        }
    }
    
   /* .btn {
        margin-top: 3px;
    }*/
}


.grid-2 {
    position:relative;
    .leave-policy{
        position: absolute;
        right: 10px;
        top: 0px;
        a {
            font-size:12px;
        }
    }
}
.remove-icon-wrap {
    position: relative;
    padding-left: 30px;
    display: block;
    &.add-wrap {
        padding-left: 0;
        margin-right: 45px;
    }
}
.remove-icon, .add-icon {
    position: absolute;
    left: -15px;
    top: -10px;
    background-color: #fff;
    border-right: solid 1px #ddd;
    padding: 10px;
    text-align: center;
    color: @brand-danger;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    
    &:hover {
        background: @brand-danger;
        color: #fff;
    }
}
.add-icon {
    color: #fff;
    background-color: rgb(26, 188, 156);
    left: auto;
    right: -60px;
    border-left: solid 1px #ddd;
    border-right: 0;
    &:hover {
        background-color: rgb(26, 188, 156);
    }
}

.custom-panel-group {
    .panel-heading {
        background: #fff;
        >a {
            color: #444;
            div {
                font-weight: 400 !important;
            }
        }
    }
}

.search-section-top {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding: 15px;
    align-content: center;
    align-self: center;
    margin-top:-15px;
    .multipicker{
        margin-bottom:0px;
    }
    .form-group{
        margin-bottom: 0px !important; 
    }
}
.m-t-10{
    margin-top:10px;
}
.m-b-10{
    margin-bottom:10px;
}
.modal-header{
    .close{
        position: absolute;
        right: 15px;
        top: 10px;
        z-index: 99;
    }
}


.table {
    td {
        font-weight: 300;
        color: #444;
    }
}

.profile-grid {
    display:grid;
    grid-template-columns:50% 50%;
    grid-template-rows:auto auto;
    margin:0;
    grid-gap:15px;
    background-color:transparent;
    text-align:left;
}
.two-part-list {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}
.fab {
    width: 60px;
    height: 60px;
    background-color: #5bc0de;
    border-radius: 50%;
    box-shadow: 0 6px 10px 0 #666;
    font-size: 25px;
    line-height: 65px;
    color: white;
    text-align: center;
    position: fixed;
    right: 50px;
    bottom: 50px;
    transition: all 0.1s ease-in-out;
    z-index: 9999;
    &:hover {
       box-shadow: 0 6px 14px 0 #666;
       transform: scale(1.05);
    }
}


.row-table {
    display: table;
    width: 100%;
    .table-cell {
        display: table-cell;
        vertical-align: middle;
        padding: 2px;
    }
}

/*.btn.btn-rounded {
    border-radius: 20px !important;
    &.btn-sm {
        padding: 4px 12px;
    }
    .fa-btn {
        background: rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        width: 22px;
        height: 22px;
        line-height: 24px;
        font-size: 11px;
        margin: -7px -10px -2px 0;
        display: inline-block;
    }
}*/

.bonus-request-card:nth-child(odd) {
    clear: both;
}

.no-radius {
    border-radius: 0 !important;
    ul, li, .btn {
        border-radius: 0 !important;
    }

}
.input-group {
    .input-group-addon.no-bg {
        background: none !important;
        border: none;
    }
}

.asset-info-span {
    min-width: 58px;
    display: inline-block;
}

.no-p-l {
    padding-left: 0 !important; 
}

.profile-builder {
    h4.admin-section-heading {
        font-size: 14px;
        text-transform: none;
    }
 }
 
.capitalize {
    text-transform: capitalize;
}

.select2-results .select2-highlighted small, .ui-select-choices-row:hover small {
    color: #fff;
}

a.show-insurance-users {
    &:after {
        content: "\f077";
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
    }
    &.collapsed {
        &:after {
            content: "\f078";
        }
    }
}

.flexbox{
    display: flex;
    >div {
        flex: 1;
    }
}

@media (max-width: 768px) {
    .flexbox{
        display: block;
    }
    .admin-dashboard{
        margin-top: 50px;
    }
   
    .profile-grid{
        grid-template-columns: 100%;
        grid-template-rows: auto;
       .profile-grid-item{
           margin: 0 !important;
       }
    }
    
}

big {
    font-weight: 400;
}

.side-nav li.heading {
    font-size: 10px;
    text-transform: uppercase;
    color: rgba(255,255,255,0.6);
    display: block;
    padding: 15px 15px 5px 15px;
    float: none;
    clear: both;
    background: rgba(0,0,0,0.1);
    font-weight: 600;
    letter-spacing: 1px;
}


@media (max-width: 450px){
    .breadcrumb-wrap.assign-tasks{
       .flex-class{
           flex-direction: column;
           align-items: flex-start;
       } 
    }
    .color-coding-div{
       margin-top:10px; 
    }
}
.admin-wrapper {
    padding-left: @menu-width;
    position: relative;
    left: 0;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}
 .navbar-header{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: @menu-width;
        .menu-icon{
            padding: 8px;
            border: none;
            transition: all 0.2s ease-in-out;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            &:focus, &:hover{
                background: none;
            }
            .icon-bar{
                background: #333;
            }
        }
        .navbar-brand {
            margin-left: 0 !important;
        }
    }
.navbar-toggle {
    display: block !important;
}

.hideMenu {
    .admin-wrapper {
        padding-left: 0px;
    }
    .mobile-sidebar { 
        left: -@menu-width;
    }
}

.search-wrap {
    position: relative;
    z-index: 9999;
}

@media (max-width: 768px){
    .hideMenu {
        .admin-wrapper {
            left: 0;
        }
    }
    .admin-wrapper {
        left: @menu-width;
        padding-left: 0;
    }
    body {
        overflow-x: hidden;
    }
    .ml-auto-xs {
        margin-left: auto;
    }
}

.label-pill {
    border-radius: 50%;
    font-size: 12px;
    width: 22px;
    height: 22px;
    text-align: center;
    padding: 2px;
    line-height: 19px;
    position: relative;
    top: -4px;
    .fa {
        margin: 0 !important;
    }
}

