@import "variables";
@import "../bootstrap/bootstrap";
@import url("//fonts.googleapis.com/css?family=Roboto:400,100,300");
@import "https://fonts.googleapis.com/css?family=Raleway:400,600,800";
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,400i,500");

@import "admin";
@import "custom-checkbox";
@import "dashboard";
@import "step-form";
@import "geekyantsleave";
@import "mobile-login";
@import "goals";
@import "loading";
@import "jquery-countimator-wheel";
@import "sidebar-menu";
@import "tree";
@import "select2";

@font-face {
  font-family: "nanum_brush_scriptregular";
  src: url("../fonts/nanumbrushscript-regular-webfont.woff2") format("woff2"),
    url("../fonts/nanumbrushscript-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
} // Global Components
@font-face {
  font-family: "Conv_glyphicons-halflings-regular";
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: local("☺"),
    url("../fonts/glyphicons-halflings-regular.woff") format("woff"),
    url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"),
    url("../fonts/glyphicons-halflings-regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.flex-class {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex;
}
.align-items-start {
  -webkit-box-align: start !important;
  -ms-flex-align: start !important;
  align-items: flex-start !important;
}
body,
html {
  /*overflow-x: hidden;*/
  font-family: @body-font;
  font-weight: 300;
  background-color: #eee;
}
/*.table {
  td,
  th {
    white-space: nowrap;
  }
}*/
.table-border {
  border: 1px solid @blue-border !important;
}
.w-230 {
  width: 230px;
}

.transition {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
}
.dashboard-main {
  .table {
    border: 1px solid #dce3f3;
  }
}
.noradius {
  border-radius: 0px !important;
}
#user-leave-form {
  #leave-type-selector {
    box-shadow: none;
    border: 1px solid #dce3f3;
  }
}
.inner-container {
  max-width: 920px;
  margin: 0 auto;
}

a.active,
a:active,
a:focus,
a:hover {
  outline: none;
  text-decoration: none;
  color: darken(@brand-primary, 10%);
}

a {
  color: #3498db;
}

.btn,
.btn.active,
.btn:active,
.btn:focus,
.btn:hover {
  outline: none !important;
  text-decoration: none;
}

p {
  font-size: 18px;
  font-weight: 300 !important;
}

h1,
h2,
h3 {
  font-weight: 100;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

a {
  font-weight: 300 !important;
}

.btn,
a {
  .transition;
}

.form-control,
.custom-form .custom-input {
  font-weight: 400;
}

section.section {
  padding: 80px 0;
}

.contact-section {
  padding: 30px 0px !important;
}

.p-t-0 {
  padding-top: 0 !important;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.m-t-0 {
  margin-top: 0 !important;
}
.m-r-5 {
  margin-right: 5px;
}
.m-l-5 {
  margin-right: 5px;
}
.p-r-5 {
  padding-right: 5px;
}
.p-l-5 {
  padding-left: 5px;
}

.m-t-15 {
  margin-top: 15px;
}
.m-t-15 {
  margin-bottom: 15px;
}
.m-b-20 {
  margin-bottom: 20px !important;
}
.arrow-list {
  list-style: none;
  li {
    &::before {
      content: " \00BB";
      position: absolute;
      left: 0;
      right: 0;
      width: 1em;
      height: 1em;
    }
  }
}
.rounded-0 {
  border-radius: 0;
}

.trusted-developer-fa {
  .fa-code:before {
    background: #eee;
    border-radius: 100%;
    padding: 25px;
  }
  .fa-globe:before {
    background: #eee;
    border-radius: 100%;
    padding: 22px 25px;
  }
  .fa-money:before {
    background: #eee;
    border-radius: 100%;
    padding: 25px;
  }
}

.trust-dev-heading {
  color: @brand-danger;
}

.trusted-dev-hirebtn {
  margin-top: 30px;
}

.code-fa {
  margin-top: 23px;
}

.xteam-heading {
  font-size: 20px;
  font-weight: 400 !important;
}

.trusted-dev-discripitption {
  color: #78848b;
  font-size: 16px;
}

.heading-wrapper {
  margin-top: 40px;
} // ============== custom-section-heading ===========
.custom-section-heading {
  font-weight: 400;
  margin-top: 0px;
}

.page-heading {
  font-size: 36px !important;
  margin-bottom: 30px;
  margin-top: 100px;
}

.section-desc {
  font-size: 18px;
  font-weight: 300;
  margin-top: 10px;
}

.container-top .lead {
  margin-bottom: 10px;
}

.desc {
  font-size: 16px;
}

.m-b {
  margin-bottom: 15px;
}
.m-b-5 {
  margin-bottom: 5px;
}

.text-light {
  color: #fff; // font-weight: normal;
}

.text-underline {
  text-decoration: underline;
}

.title.large-title {
  font-size: 38px;
}

h1,
h2.title {
  font-size: 26px;
}

p.sub-heading {
  font-size: 18px;
  line-height: 22px;
  font-weight: 100 !important;
}

// .form-group input {
//   border-radius: 0;
// }

.contact-bottom {
  height: auto !important;
  padding-bottom: 70px;
} //  ================== navbar ===================
.navbar-default {
  border-bottom: 0px !important;
  background-color: transparent;
  .navbar-brand {
    color: @brand-primary;
    padding-top: 25px;
    &.active,
    &:active,
    &:focus,
    &:hover {
      cursor: pointer;
    }
    .logo-img {
      height: 45px;
      /*margin-top: 15px;*/
    }
  }
}

.nav {
  margin-top: 20px;
  li {
    a {
      text-transform: uppercase;
      line-height: 22px;
      // text-align: center;
      font-size: 15px !important;
      font-weight: 500 !important;
      border-color: transparent;
      &:focus,
      &:hover {
        outline: none;
        border-bottom: 1px solid @brand-danger;
      }
    }
    &.active {
      a {
        background: none;
        border-bottom: 1px solid @brand-danger;
      }
    }
  }
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background: none; // ============= scroll navbar ===========
}

.navbar {
  .transition;
  img {
    .transition;
  }
  .nav {
    margin-top: 15px;
    li a {
      .transition;
    }
  }
  &.front-page-navbar {
    background: transparent; // a #geekybimg1{
    //    display: none;
    // }
    img {
      height: 32px !important;
      opacity: 0;
    }
    .navbar-collapse,
    .navbar-toggle {
      background: transparent;
    }
    .nav {
      li {
        a {
          font-size: 16px;
          padding: 10px 15px;
          color: #333 !important;
        }
      }
    }
  }
  &.other-page {
    img {
      opacity: 1;
    }
  }
}

.whiteatags {
  &.front-page-navbar {
    // background: rgba(255,255,255,0.9);
    opacity: 1;
    .nav {
      li {
        a {
          color: #fff !important;
        }
      }
    }
  }
}

.top-nav-collapse {
  padding: 0;
  background: rgba(255, 255, 255, 0.97);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  border-bottom: none;
  height: 70px;
  a.navbar-brand {
    padding-top: 20px;
    img {
      height: 32px !important;
      opacity: 1;
    }
  }
  .navbar-collapse,
  .navbar-toggle {
    opacity: 1 !important;
  }
  .nav {
    margin-top: 15px;
    li a {
      font-size: 16px;
      padding: 10px 15px;
      color: #fff !important;
    }
  }
  &.front-page-navbar {
    background: rgba(255, 255, 255, 0.9);
    opacity: 1;
    .nav {
      li {
        a {
          color: #444 !important;
        }
      }
    }
  }
}

.product-img {
  border-radius: 5px 5px 0 0;
}

.navbar-collapse {
  background: rgba(255, 255, 255, 0.9);
  opacity: 1;
  ul.nav li a {
    &:hover,
    &:focus {
      border: none;
      color: @brand-danger !important;
    }
  }
  ul li.active a {
    border: none;
    color: @brand-danger;
  }
} // ================= admin dashboard ===========================
.admin-navbar {
  background: #fff !important;
  border: none !important;
  height: 50px !important;
  .custom-navigation {
    display: flex;
    align-items: center;
    height: 50px;
  }
/*  .switch-user-mobile {
    display: none;
  }*/
  .navbar-brand {
    /*background: #34425a !important;*/
    padding: 0 8px;
    height: auto;
    width: 140px; // text-align: center;
    /*border-bottom: solid 1px rgba(0, 0, 0, 0.2);*/
  }
  .top-nav-menu {
    li {
      a:hover,
      a:focus {
        color: #262626 !important;
        background: #f7f7f7 !important;
      }
    }
  }
}

.top-nav-menu {
  margin-left: 10px;
  margin-top: 0 !important;
  margin-bottom: 0;
  li {
    height: 100%;
    a {
      text-transform: capitalize !important;
      height: 100%;
    }
  }
  li.dropdown {
    a {
      .dropdown-toggle {
        padding: 0 10px;
        height: 50px;
        line-height: 50px;
      }
    }
  }
}

.navbar-sidebar-admin {
  background: #fff !important;
  height: 40px;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1);
  ul.nav li a {
    text-transform: capitalize !important;
    font-size: 14px;
    font-weight: 300 !important;
    line-height: 16px;

    &:hover,
    &:focus {
      border: none;
      background: #2b384e;
      color: #fff !important;
    }
  }
  ul li.active a {
    border: none;
    background: #2b384e;
    color: #fff !important;
  }
} // ================ overlay =================
.over-lay {
  background: #000;
  position: absolute;
  width: 100%;
  top: 0;
  opacity: 0.8;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
  background: #000;
  height: 100%;
  padding-bottom: 20px;
}

.over-lay-cards {
  background: #000;
  position: absolute;
  width: 93%;
  top: 0;
  opacity: 0.6;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
  background: #000;
  height: 100%;
  padding-bottom: 20px;
} // .over-lay-cards:hover {
//     opacity: 0;
// }

.native-base,
.strap-mobile,
.strap-ui {
  /*font-size: 28px;*/
  color: #fff;
  &:hover {
    color: #f70c36;
  }
}

.start-angular,
.start-react,
.start-meteor,
.start-laravel {
  color: #ccc;
  &:hover {
    color: @brand-primary;
  }
}

.icon-hang {
  color: #ccc;
  margin-top: 35px;
  font-size: 2em;
  font-weight: 300px;
}

.icon-hang:hover {
  color: #ccc;
}

.service-img-wrap {
  min-height: 60px;
  line-height: 60px;
}

p.globe {
  font-size: 15px;
  padding: 0 10px;
  line-height: 24px;
  color: #666;
} // ===================== video =================
video {
  width: 100%;
  transition: 1s opacity;
}

.video-wrap {
  padding: 0px !important;
}

.pseudo {
  background: #fff;
  width: 100%;
  padding-top: 100px;
} // ============= button start project =================
.btn-xl {
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 8px 20px; // background: @brand-primary;
  color: @white;
  border: 2px solid @brand-primary;
  -webkit-border-radius: 0;
  border-radius: 0;
  &:focus,
  &:hover {
    background: @brand-primary;
    color: @white;
  }
}

.img-scroll {
  margin-top: 64px;
}

img {
  max-width: 100%;
} // ============== overview ====================
.overview-index-2 {
  background: @white;
  .overview-heading {
    line-height: 52px;
    font-size: 42px;
    color: @text-color;
    margin: 0 0 10px;
    letter-spacing: -0.03em;
    margin-bottom: 28px;
    font-family: "Roboto", sans-serif !important;
    font-weight: 600;
  }
  .overview-desc {
    color: rgba(0, 0, 0, 0.75);
    line-height: 28px;
  }
}

.more-about {
  padding: 15px 45px;
  background: #fff;
  border: 2px solid @text-color;
  text-transform: uppercase;
  color: @text-color;
  margin-top: 35px;
  /*font-size: 18px;*/
  text-transform: uppercase;
  &:hover {
    background: @text-color;
    color: #fff;
    border: 2px solid @text-color;
  }
}

.carousel-control {
  top: 200px;
  /*margin-top: 45%;*/
}

.slide-bullets {
  float: right;
  padding-left: 0;
  li {
    list-style: none;
    font-size: 20px;
    margin-bottom: 30px;
    i {
      display: inline-block;
      margin-right: 10px;
    }
    p {
      font-size: 14px;
      padding-left: 34px;
      font-weight: 100 !important;
    }
  }
}

.slide-nav {
  margin-top: -115px;
  z-index: 99;
  ul {
    width: 100%;
    display: table;
    padding-left: 0;
    li {
      list-style: none;
      display: table-cell;
      width: 1%;
      vertical-align: middle;
      a {
        display: block;
        background: rgba(255, 255, 255, 0.9);
        padding: 10px;
        text-align: center;
        i,
        p {
          color: #59a9c2;
        }
        i {
          font-size: 40px;
          margin-bottom: 10px;
        }
        p {
          margin-bottom: 0;
        }
        &:hover {
          background: rgba(255, 255, 255, 1);
        }
        img {
          max-width: none;
          height: auto;
          margin-bottom: 10px;
        }
      }
    }
  }
}

.carousel .carousel-indicators li.active {
  border: 2px solid @brand-primary;
} // =============== Contact Us =========================

@media (max-width: 1200px) {
  .container {
    width: 98% !important;
  }
  body .top-nav-collapse a.navbar-brand img {
    width: 120px;
    height: auto !important;
  }
  .navbar.front-page-navbar .nav li a {
    padding: 10px 8px;
    color: #333 !important;
    font-size: 14px !important;
  }
}

@media (max-width: 772px) {
  .container {
    width: 98% !important;
  }
  body .top-nav-collapse a.navbar-brand img {
    width: 120px;
    height: auto !important;
  }
  .navbar.front-page-navbar .nav li a {
    padding: 10px 8px;
    color: #333 !important;
    font-size: 14px !important;
  }
}

.no-padding {
  padding: 0px !important;
}

// ================================ primary footer =============
.primary-footer {
  margin: 0px;
  padding: 20px 0px;
  width: 100%;
  background: #1f1f1f;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

hr {
  border-bottom: 2px solid @brand-danger;
  width: 8%;
  border-top: 0px;
}

.line {
  border-bottom: 2px solid @red-color;
  width: 8%;
  border-top: 0px;
}

.panel-2 {
  background: #fff;
  height: 318px;
  border-bottom: 1px solid #ccc;
}

.panel1-head {
  /*font-size: 35px;*/
  line-height: 44px;
  padding-top: 40px;
  margin-bottom: 5px;
}

.panel-1,
.panel-3 {
  background: #eee;
  height: 318px;
  border-bottom: 1px solid #ccc;
  .panel1-head {
    font-size: 35px;
    line-height: 44px;
    padding-top: 40px;
    margin-bottom: 5px;
  }
  .dis {
    height: 269px;
  }
}

.panel1-desc {
  height: 269px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 28px;
}

.visit-git {
  margin-top: 5px;
  a {
    text-decoration: none;
    color: #888;
  }
} // =============================

.development-process {
  padding: 70px 0px;
}

.dev-heading {
  color: @text-color;
  /*font-size: 48px;*/
  /*font-weight: 400;*/
  line-height: 56px;
}

.no-padding-left {
  padding-left: 0px !important;
}

.no-padding-right {
  padding-right: 0px !important;
}

/*     =========== team single page =========== */

.primary-bg {
  background: #3498db !important;
  padding: 100px 0 0 0;
  color: #fff;
}

.green-bg {
  background-color: #1abc9c;
  color: #fff;
}

.yellow-bg {
  background-color: #f6cd61;
  color: #fff;
}

.blue-bg {
  background-color: #59a9c2;
  color: #fff;
}

.red-bg {
  background-color: #ef9688;
  color: #fff;
}

.mustard-bg {
  background: #f6cd61;
  padding: 100px 0 0 0;
  color: #fff;
}

.dark-gray-bg {
  background-color: #444;
  color: #fff;
}

// ============ culture page ===================

.more-gap-project {
  margin-top: 80px;
}

.member-details {
  display: none;
}

.progress-bar-description {
  position: relative;
  display: block;
  margin-bottom: 15px;
  line-height: 24px;
  font-size: 16px;
}

.progress-bar-description span {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 5px;
  margin-left: -20px;
  background-color: @primary-bg;
  color: #fff;
  font-size: 13px;
  &:after {
    position: absolute;
    bottom: -7px;
    left: 50%;
    width: 0;
    height: 0;
    border-top: 7px solid @primary-bg;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    margin-left: -5px;
    content: "";
    transform: scale(0.9999);
  }
}

.progress-bar {
  position: relative;
  display: block;
  height: 4px;
  margin-bottom: 15px;
  background-color: #ddd;
  width: 100%;
  box-shadow: none;
}

.progress-bar .progress-bar-outer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: @primary-bg;
}

.progress-bar .progress-bar-outer .progress-bar-inner {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: block;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.progress-bar-wrap {
  &:nth-child(2n + 2) {
    .progress-bar-outer,
    .progress-bar-description span {
      background-color: @primary-bg;
      &:after {
        border-top-color: @primary-bg;
      }
    }
  }
  &:nth-child(2n + 3) {
    .progress-bar-outer,
    .progress-bar-description span {
      background-color: @green;
      &:after {
        border-top-color: @green;
      }
    }
  }
  &:nth-child(2n + 4) {
    .progress-bar-outer,
    .progress-bar-description span {
      background-color: @light-red;
      &:after {
        border-top-color: @light-red;
      }
    }
  }
  &:nth-child(2n + 5) {
    .progress-bar-outer,
    .progress-bar-description span {
      background-color: @orange;
      &:after {
        border-top-color: @orange;
      }
    }
  }
  &:nth-child(2n + 6) {
    .progress-bar-outer,
    .progress-bar-description span {
      background-color: @dark;
      &:after {
        border-top-color: @dark;
      }
    }
  }
  &:nth-child(2n + 7) {
    .progress-bar-outer,
    .progress-bar-description span {
      background-color: @yellow;
      &:after {
        border-top-color: @yellow;
      }
    }
  }
  &:nth-child(2n + 8) {
    .progress-bar-outer,
    .progress-bar-description span {
      background-color: @purpal;
      &:after {
        border-top-color: @purpal;
      }
    }
  }
}

.fixed:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.m-b-lg,
h2.m-b-lg {
  margin-bottom: 30px;
}

.no-top-margin {
  margin-top: 0 !important;
}

.single-contact-info {
  // margin-top: 180px;
  p {
    margin-bottom: 15px;
  }
  .protfolio-social-icons {
    a.btn-circle {
      margin: 0 -4px;
    }
  }
}

.help-block {
  color: @white;
}

.text-danger,
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
  color: @brand-danger;
  /*font-weight: 300;*/
}

.page-scroll-id {
  padding-top: 70px;
  margin-top: -70px;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif !important;
}

.container-top {
  h1 {
    color: #444;
    font-size: 40px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 20px;
    margin: 0;
  }
}

.contact {
  input,
  textarea,
  select {
  }
}

.bg-white {
  background: #fff;
}

.ui-datepicker {
  z-index: 99999 !important;
}

.img-wrap {
  height: 70px;
  line-height: 70px;
}

.global-reach {
  background: #f8f8fb;
  padding-bottom: 40px;
  h2 {
    padding-bottom: 20px;
    padding-top: 40px;
    font-weight: 400;
  }
  .img-wrap {
    height: auto;
    img {
      height: auto;
    }
  }
  .row,
  .mg-rows {
    .title {
      color: #333;
      font-weight: 400;
      padding: 20px 0px 0px;
      font-size: 22px;
      a {
        color: #333;
      }
    }
    .sub-title {
      color: #757575;
      font-size: 16px;
      font-weight: 400;
    }
  }
  .col-sm-6,
  .mg-row {
    padding: 8px;
    .web-sumit {
      background: #f8f8fb;
      min-height: 280px;
      padding: 20px;
      position: relative;
      p {
        color: #757575;
        padding-top: 20px;
        font-size: 16px;
        text-align: justify;
      }
      .img-wrap {
        margin-top: -10px;
        min-height: 37px;
        img {
          width: 80px;
        }
      }
      &.chain-react img {
        width: 120px;
      }
    }
    .img-wrap {
      img {
        width: 100%;
      }
    }
  }
  .global-reach-casousel {
    padding: 0 30px;
    .item {
      .col-md-4 {
        background: #fff;
      }
    }
    .carousel-control.right,
    .carousel-control.left {
      background: none;
      width: auto;
      i {
        position: absolute;
        top: 50%;
        color: #444;
        font-size: 40px;
        left: 0px;
      }
    }
    .carousel-control.right {
      i {
        right: 0;
        left: auto;
      }
    }
  }
}

.small-font {
  p {
    font-size: 14px;
  }
}

.carousel-control {
  width: 4%;
}

.input-group-addon {
  background-color: #e0e0e0;
  border: 1px solid #cccccc;
}

.onleave {
  float: left;
  .red-small-box,
  .small-sat-sun-box,
  .free-green-background,
  .small-free-project-assigned {
    position: relative;
    margin-left: 30px;
    &:after {
      content: "";
      width: 15px;
      height: 15px;
      margin-top: 3px;
      position: absolute;
      left: -30px;
    }
    &.inline {
      float: left;
      display: inline-block;
      margin-right: 10px;
    }
    span {
      font-weight: 300;
    }
  }
}
.red-small-box:after {
  background-color: red;
}
.green-small-box {
  width: 15px;
  height: 15px;
  margin-top: 3px;
  background-color: #00d55f;
}
.yellow-small-box {
  background-color: #ffecb3;
}
.td-center-text {
  text-align: center;
  padding: 15px !important;
  vertical-align: middle !important;
}
.td-right-text {
  text-align: right;
  padding: 15px !important;
  vertical-align: middle !important;
}
.free-green-background:after {
  background-color: #00d55f;
}
.free-green-background_td {
  background-color: #00d55f;
}
.sat-sun-background {
  background-color: #dfe8fb;
}
.small-sat-sun-box:after {
  background-color: #dfe8fb;
}
.small-free-project-assigned:after {
  background-color: #f0d9d9;
}
.pl0 {
  padding-left: 0;
}
.m-r-15 {
  margin-right: 15px;
}
.on-leave-background {
  background-color: red;
  color: #fff;
}
.free-project-assigned {
  background-color: #f0d9d9;
  color: #fff;
}
.nav {
  &.profile-tabs-container {
    li {
      a {
        text-align: center !important;
      }
    }
  }
}
.search-btn {
  height: 40px;
}
.p-0 {
  padding: 0;
}
.pickerwrap {
  width: 200px;
  display: inline-block;
  float: left;
  margin-right: 15px;
}
.multipicker {
  max-width: 500px;
  margin-bottom: 20px;
}
.p-l-0 {
  padding-left: 0;
}
.p-l-5 {
  padding-left: 5px;
}
.admin-wrapper .btn-success {
  &.filter-btn {
    width: 120px !important;
  }
  &.btn-spinner-lg {
    width: 135px !important;
  }
  &.btn-spinner-md {
    width: 105px !important;
  }
  &.btn-spinner-sm {
    width: 60px !important;
  }
}
.filter-btn {
  width: 120px !important;
}
.panel-default > .panel-heading {
  font-weight: 400;
}
.m-10 {
  margin: 10px;
}
.table {
  td {
    vertical-align: middle !important;
  }
}

//     .redBox{
//         background: #ff646b !important;
//     color: #fff !important;

//     }
// .greenBox{
//     background:#00E2A6 !important;
//     color: #fff !important;
// }

#accordion .panel-primary > .panel-heading .panel-title a:hover {
  color: #fff;
}
#accordion .panel-primary > .panel-heading .panel-title a {
  color: #fff;
}
.seat-arrange {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 53px;
  flex-direction: column;
}
.seat {
  &.col-md-5 {
    padding-left: 0px;
  }
  .individual {
    border: 1px solid @blue-border;
    background: #fff;
    height: 45px;
    margin: 0 -2px -2px 0;
    padding: 0;
    .seat-wrap {
      height: 45px;
      width: 100%;
      align-items: center;
      .img-wrap {
        height: 34px;
        line-height: 1;
        position: relative;
        top: -2px;
      }
      img {
        height: 100%;
        width: auto;
        object-fit: contain;
      }
      .fa {
        font-size: 22px;
      }
      .detail-seat {
        width: 100%;
        justify-content: space-between;
        align-items: left;
        font-size: 14px;
        height: 100%;
        background: #fc2d1d;
        color: #fff;
        flex-direction: column;
        padding-top: 4px;
        padding-bottom: 4px;
        div {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 121px;
        }

        .emp-code {
          font-size: 12px;
        }
      }
      .available-seat {
        width: 100%;
        -ms-flex-pack: center;
        justify-content: center;
        height: 100%;
        background: #93c1e0;
        align-self: center;
        justify-content: center;
        align-items: center;
        color: #333;
      }
      .number {
        background: #526b8a;
        width: 35px;
        height: 45px;
        margin: 0 auto;
        border-radius: 0;
        color: #fff;
        font-size: 12px;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
.entry-gate {
  position: ABSOLUTE;
  right: 100px;
  top: 57px;
  margin-top: 100px;
  font-size: 18px;
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  height: 157px;
  border: 1px solid @blue-border;
  width: 56px;
  text-align: center;
  background: #fff;
  text-transform: uppercase;
}
.panel {
  background: #ffffff !important;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-color: #dce3f3 !important;
}
.modal-input-box {
  height: 40px;
  width: 100%;
  border: 1px solid #dce3f3;
  padding-left: 10px;
}
.assign-input {
  input {
    border: none;
    font-size: 16px;
    font-weight: 300;
  }
}
.release-btn {
  font-size: 14px;
  margin: 0 auto;
  float: none;
  text-align: center;
  display: block;
  width: 120px;
}
.spinner.payslip {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 99;
  .fa {
    font-size: 24px;
    transform: translate(-50%, 50%);
    position: absolute;
    top: 50%;
    left: 40%;
    font-size: 32px !important;
  }
}

table.dataTable,
table.dataTable.no-footer {
  margin: 0 !important;
}
#showcase-fixedcolumns_wrapper {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;

  #showcase-fixedcolumns_filter {
    display: none;
  }
  .table {
    margin-bottom: 0;
  }
  td {
    overflow: hidden;
  }
}

table.dataTable,
table.dataTable th,
table.dataTable td {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
// ============ responsive ===================
@import "responsive";

.user-time-sheet {
  .panel-default > .panel-heading {
    border-bottom: 1px solid;
    h3 {
      font-weight: 300;
    }
  }
}
.detail-date {
  border-bottom: 1px solid #dce3f3;
  align-items: center;
  justify-content: center;
  align-self: center;
  position: relative;
  padding: 15px 0px;
  .spinner {
    position: absolute;
    top: 13px;
    right: -30px;
  }
  .fa-spinner {
    color: #00c39e;
    font-size: 22px;
  }
  h4 {
    font-size: 16px;
    font-weight: 300;
  }

  .description {
    position: relative;
    &:after {
      content: "";
      border-left: 1px solid #dce3f3;
      left: 0;
      position: absolute;
      top: -15px;
      bottom: -15px;
    }
    .form-group {
      margin-bottom: 0 !important;
      input {
        border-radius: 2px;
        margin-bottom: 5px;
        margin-top: 5px;
      }
    }
    .input-group {
      width: 124px;
      input {
        border-radius: 2px;
        box-shadow: none;
        border-color: #dce3f3;
        width: 100px;
        margin-bottom: 5px;
        margin-top: 5px;
      }
    }
    .input-group-btn {
      left: 15px;
      .btn {
        height: 40px;
        border-radius: 2px;
        padding-top: 10px;
        color: #00c5e6;
        margin-right: 15px;
        width: 40px;
      }
    }
    .fa-check-circle {
      position: absolute;
      right: 20px;
      top: 19px;
      color: #00c5e6;
    }
  }
  .categories {
    span {
      writing-mode: vertical-rl;
      -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: vertical-rl;
      transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(-180deg);
      -o-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      top: 0;
      width: 60px;
      height: 100%;
      text-align: center;
      color: #fff;
      position: absolute;
      left: 0;
      justify-content: center;
      align-items: center;
      text-transform: capitalize;
      &.work {
        display: none;
      }
      &.leave {
        background: #00c5e6;
      }
      &.holiday {
        background: #dcdcdc;
        color: #333;
      }
      &.free {
        background: #15a085;
      }
    }
  }
}

.bg-white {
  background: #fff !important;
}
.reprting-managers {
  .panel-default > .panel-heading {
    border-color: @blue-border;
  }
  .panel {
    min-height: 290px;
  }
  .label {
    width: auto;
    font-size: 13px;
    color: #5a5665;
    font-weight: 300;
    border: 1px solid @blue-border;
    border-radius: 20px;
    padding: 7px 10px;
    line-height: 10px;
    margin-bottom: 10px;
  }
}

.fixed-side {
  .select2-container {
    width: 150px !important;
    background: #fff !important;
    border: 1px solid #aaa !important;
    .select2-choice,
    .select2-choices {
      border: none !important;
    }
  }
  .select2-container .select2-choice {
    border: none !important;
  }
  .select2-container-multi .select2-choices {
    z-index: 9999999;
  }
  .dataTables_wrapper tr td:nth-child(3) {
    background: #dfe8fb !important;
  }

  .table {
    margin-bottom: 0;
  }
  .data-table {
    height: 100%;
    tr,
    th,
    td {
      border-color: #f2f2f2 !important;
    }

    td {
      background: #dfe8fb;
      border-color: #f2f2f2 !important;
      &.weekend {
        background: #d9534f;
      }
      textarea {
        border: none;
        background: transparent;
      }
    }
  }
  .data-table td,
  .table > thead > tr > th {
    border-left: 1px solid #f2f2f2 !important;
    text-align: center;
  }

  textarea {
    resize: none;
    overflow: hidden;
  }
}

#assign-task_filter,
#assign-task_info {
  display: none;
}
.disable-input {
  text-align: center;
}

.user-contact {
  h2 {
    font-size: 18px;
    margin: 0;
    padding-top: 10px;
  }
  .input-group-addon {
    background: #fff;
    border-color: #dce3f3 !important;
    button {
      border: none;
      .glyphicon {
        font-size: 18px;
      }
    }
  }
  .select2-container .select2-choice {
    height: auto !important;
    border: none !important;
    line-height: 16px;
  }
  .sort-list {
    padding-top: 10px;
  }
  .panel {
    margin-top: 15px;
  }
  .sort-list {
    label {
      font-size: 12px;
    }
  }
  #sel1 {
    background: #fff;
    border-color: #dce3f3 !important;
  }
  .panel-body {
    flex-direction: column;
    align-items: flex-start;
    .contact-wrap {
      margin-bottom: 15px;
      width: 100%;
    }

    .user-detail {
    }
    .contact-wrap-heading {
      font-size: 16px;
      /* width: 250px; */
      display: flex;
      /* flex: 1; */
      flex-basis: 250px;
      flex-grow: 0;
      flex-shrink: 0;
    }

    .contact-wrap-heading-emer {
      margin-left: 40px;
      /* width: 280px; */
      flex-basis: 228px;
      flex-grow: 0;
      flex-shrink: 0;
      &.last {
        flex-basis: 100px;
        flex-grow: 0;
        flex-shrink: 0;
      }

      .fa {
        padding-right: 10px;
        &.fa-skype {
          color: #00aef4;
        }
        &.fa-bitbucket {
          color: #154c83;
        }
      }
    }
  }
  .flex-header {
    .contact-wrap-heading-emer {
      font-size: 18px;
    }
  }
  .user-img {
    margin-right: 15px;
    .img-container {
      width: 75px;
      height: 75px;
    }
  }
  .user-number {
    color: #1abc9c;
    a {
      color: #1abc9c;
    }
  }
  .main-contact {
    justify-content: left;
    align-items: center;
    height: 75px;
    width: 250px;
  }
}

.table-scroll {
  position: relative;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
  border: 1px solid #f2f2f2;
  td {
    background: #dfe8fb;
    border-color: #f2f2f2 !important;
    &.weekend {
      background: #d9534f;
    }
    textarea {
      border: none;
      background: transparent;
    }
  }
  .select2-choices {
    height: auto !important;
    height: 1%;
    margin: 0;
    padding: 0;
    position: relative;
    border: 1px solid #aaa !important;
    cursor: text;
    overflow: hidden;
    background-color: #fff !important;
    background-image: -webkit-gradient(
      linear,
      0% 0%,
      0% 100%,
      color-stop(1%, #eee),
      color-stop(15%, #fff)
    );
    background-image: -webkit-linear-gradient(top, #eee 1%, #fff 15%);
    background-image: -moz-linear-gradient(top, #eee 1%, #fff 15%);
    background-image: linear-gradient(to bottom, #eee 1%, #fff 15%);
  }
}
.user-leave-table {
  height: 100vh;
  tr {
    th {
      position: sticky;
      left: auto;
      top: 0;
      z-index: 9;
      &.fixed-side,
      &.fixed-side-right {
        top: 0;
        z-index: 999;
      }
    }
    .fixed-side {
      z-index: 99;
      width: 50px !important;
      &:nth-child(2) {
        left: 52px;
        width: 100px !important;
      }
    }
    .fixed-side-right {
      position: sticky;
      padding: 10px;
      padding-left: 10px;
      border-right: 1px solid #dfe8fb;
      right: 0;
      width: 50px;
      top: auto;
      height: 100%;
      background: #d4dce6;
      &:nth-last-child(2) {
        right: 50px;
      }
      &:nth-last-child(3) {
        right: 84px;
      }
    }
    td {
      background: #fff;
      &.holiday {
        background-color: #d7d7d7;
      }
      .col-md-9.name-div {
        background: #ebebeb;
      }
      &.holiday {
        background: #d7d7d7;
        color: #fff;
      }
      &.pl {
        background: #fc2d1d;
        color: #fff;
      }
      &.sl {
        background: #ffb027;
        color: #fff;
      }
      &.mtl {
        background: orange;
        color: #fff;
      }
      &.other {
        background: #dae5fa;
        color: #fff;
      }
      &.other-leave {
        background: #163266;
        color: #fff;
      }
    }
  }
}
.table-wrap,
.user-leave-table {
  width: 100%;
  overflow-x: scroll;

  overflow-y: visible;
  padding-bottom: 1px;
  td {
    border-right: 1px solid #dfe8fb;
    padding-left: 10px;
    padding-top: 10px;
    background: #eee;
    border-right: 1px solid #dfe8fb;
    vertical-align: top;
  }
  th {
    height: 40px;
    background: #d4dce6;
    border-right: 1px solid #dfe8fb;
    padding-left: 10px;
  }
  tr {
    .fixed-side {
      position: sticky;
      padding: 10px;
      padding-left: 10px;
      border-right: 1px solid #dfe8fb;
      width: 200px;
      left: 0;
      top: auto;
      height: 100%;
      background: #d4dce6;
      &.next {
        left: 170px;
      }
    }
  }
}
.table-wrap-resource {
  width: 100%;
  overflow-x: scroll;
  margin-left: 200px;
  overflow-y: visible;
  padding-bottom: 1px;
  th {
    width: 140px;
    white-space: nowrap;
  }

  tr {
    .fixed-side {
      position: absolute;
      padding-top: 10px;
      padding-left: 10px;
      border-right: 1px solid #dfe8fb;

      width: 200px;
      left: 15px;
      top: auto;

      background: #dfe8fb;
    }
  }
}
#showcase-fixedcolumns_wrapper {
  &.dataTables_wrapper {
    padding: 0 !important;
  }
}

.steps-wrap {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  li {
    align-items: center;
    justify-content: center;
    vertical-align: top;
    position: relative;
    display: flex;
    border: 1px solid #e1e1e1;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    font-size: 18px;
    background: #fff;
    &.active {
      background: #faac3d;
      color: #fff;
    }
    &.completed {
      background: #00c21e;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 0px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: #fff;
      border: none;
      &:before {
        content: "\f00c";
        font-size: 28px;
      }
      &:after {
        border: 3px solid #00c21e;
      }
    }
    .bubble {
      position: absolute;
      top: 55px;
      color: #333;
      width: 50px;
      text-align: center;
      left: 0px;
      font-size: 14px;
      line-height: 14px;
    }

    &:after {
      content: "";
      border: 3px solid #e1e1e1;
      height: 3px;
      position: absolute;
      left: 110%;
      right: 0;
      width: 108px;
      top: 25px;
      border-radius: 4px;
    }

    &:last-child {
      &:after {
        display: none;
      }
    }
  }
}

.contact-list {
  th {
    border-bottom: 1px !important;
  }
  td {
    width: 21%;
    vertical-align: top !important;
    &:last-child {
      width: 15%;
    }
    &:nth-child(2) {
      width: 15%;
    }
    &:nth-child(3) {
      width: 25%;
    }
  }
}

.info-table {
  &.reduce-label-width {
    label {
      width: 185px;
    }
  }
}

.goals-current {
  padding: 15px;
}
.goals-search {
  margin-top: -23px;
  margin-left: 25px;
}
.goals-create {
  margin-top: 25px;
  margin-left: 10px;
}
.goals-assign-create {
  margin-left: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
.goals-second-create {
  margin-top: 25px;
}
.goals-create-buttons {
  margin-top: 30px;
  margin-bottom: 30px;
}
.goals-assign-button {
  margin-bottom: 15px;
  text-align: center;
}
.goals-assign {
  margin-top: 25px;
  margin-right: 20px;
}
// .add-on .input-group-btn > .btn {
//     border-left-width:0;left:-2px;
//     -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
//     box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
//   }
.form-control.search-bar-button {
  position: absolute;
}
.input-group-btn.search-bar-input {
  position: relative;
}

.card-remove-button {
  margin-top: 7px;
  margin-right: 15px;
}

.request-loan-note {
  font-weight: 400;
  font-size: 12px;
  padding-top: 5px;
}

.increase-width {
  width: 100%;
  margin-bottom: -10px;
}

.notes-margin {
  margin-top: 10px;
}
.leave-type-duration {
  color: red;
  font-size: 12px;
  margin-left: 14px;
}
.notes-required {
  color: red;
  font-size: 12px;
}
.modal-dialog label.text-weight {
  font-weight: 500;
  font-size: 15px;
}

//--switch css---//

.onoffswitch {
  position: relative;
  width: 75px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #dbd8d8;
  border-radius: 20px;
}
.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 28px;
  padding: 0;
  line-height: 28px;
  font-size: 12px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "On";
  padding-left: 18px;
  background-color: #00c49f;
  color: #ffffff;
}
.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 18px;
  background-color: #ffffff;
  color: #999999;
  text-align: right;
}
.onoffswitch-switch {
  display: block;
  width: 28px;
  margin: 0px;
  background: #ffffff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 56px;
  border: 1px solid #dbd8d8;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}
.goals-current {
  padding: 15px;
}
.goals-search {
  margin-top: -23px;
  margin-left: 25px;
}
.goals-create {
  margin-top: 25px;
  margin-left: 10px;
}
.goals-assign-create {
  margin-left: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
.goals-second-create {
  margin-top: 25px;
}
.goals-create-buttons {
  margin-top: 30px;
  margin-bottom: 30px;
}
.goals-assign-button {
  margin-bottom: 15px;
  text-align: center;
}
.goals-assign {
  margin-top: 25px;
  margin-right: 20px;
}

.goal-users-accordion {
  margin: 20px;
}
.btn-spinner-lg {
  width: 135px !important;
}
.btn-spinner-md {
  width: 105px !important;
}
.btn-spinner-sm {
  width: 60px !important;
}

.mis-report {
  h4 {
    font-size: 20px;
  }
}
#feedback_wrapper {
  thead {
    display: none;
  }
  .table > tbody + tbody {
    border: none !important;
  }

  .table > thead > tr > th,
  .table > tbody > tr > th,
  .table > tfoot > tr > th,
  .table > thead > tr > td,
  .table > tbody > tr > td,
  .table > tfoot > tr > td {
    border-top: none !important;
    border-bottom: 1px solid #dce3f3 !important;
  }
  .spacer {
    margin-bottom: 20px;
  }
  tbody.ng-scope:after {
    content: "";
    display: block;
    height: 24px;
    width: 100%;
  }
}
.feedback-review {
  .add-date {
    width: 220px;
    margin-right: 10px;
  }
}
#feedback_filter input {
  width: 280px;
}
#designationList {
  .form-check-inline {
    position: relative;
    .form-check-input {
      position: absolute;
      left: -20px;
    }
  }
}
.new-project-section {
  .form-horizontal {
    .control-label {
      padding-top: 0px;
    }
  }
  .form-group {
    padding-bottom: 15px;
  }
}
#credential_table {
  .link-wrap {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    white-space: pre-wrap;
  }
}

.carry-leaves + .tooltip {
  font-size: 14px;
  letter-spacing: 0.5px;
}

.tool-tips {
  position: relative;
}

.tool-tips .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 12px;
}

.tool-tips .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tool-tips:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.gray-bg {
  background: #eee;
}
.project-rating-star {
  margin-bottom: 15px;

  div {
    width: 18px;
  }
}

.list-group {
  &.project-rating {
    .panel {
      padding: 0;
      margin: 0;
      border-left: none;
      border-right: none;

      .panel-body {
        padding: 10px 0px;
        div {
          padding: 0;
        }
      }
    }
  }
}

.incident-comment {
  margin-top: 30px;
  .comment-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    .showComment {
      order: 2;
      h4 {
        display: none;
      }
    }
  }
  .comment-box {
    .panel-body {
      div {
        margin: 0;
        padding: 0;
        button {
          margin-top: 15px;
        }
      }
    }
  }
}

.autosave-teaxarea {
  position: relative;
}

.autosave-teaxarea .saving,
.saved {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 20px;
  height: 20px;
  border-radius: 5px 0 5px 0;
  text-align: center;
  line-height: 20px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
}

.autosave-teaxarea .saving {
  color: #f0ad4e;
}

.autosave-teaxarea .saved {
  color: #1abc9c;
}

.overlay {
  position: relative;
  &:after {
    content: "";
    background: rgba(52, 66, 90, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
  &:before {
    color: #fff;
    content: "\f110";
    font-size: 40px;
    top: 50%;
    margin-top: -15px;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 2;
    text-align: center;
    font-family: FontAwesome;
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
  }
}
.incident-wrap {
  font-size: 15px;
  label {
    font-weight: 500;
    width: 140px;
  }
  .col-sm-4 {
    margin-bottom: 7px;
    margin-top: 7px;
  }
}
.divider {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    left: 22%;
    width: 120px;
    height: 2px;
    top: 9px;
    background: #dce3f3;
  }
  &:before {
    content: "";
    position: absolute;
    right: 22%;
    width: 120px;
    height: 2px;
    top: 9px;
    background: #dce3f3;
  }
}
.incident-msg {
  .admin-section-heading,
  p {
    font-size: 14px;
  }
}
.select2-container-multi {
  border: 1px solid #dce3f3;
}
.status-tree {
  li {
    list-style: none;
    padding-bottom: 30px;
    position: relative;
    font-size: 16px;
    left: 15px;
    &:after {
      content: "";
      width: 1px;
      background: #dce3f3;
      top: 15px;
      bottom: -17px;
      position: absolute;
      left: -23px;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
    // &:before{
    //     content:'';
    //     background:#DCE3F3;
    //     left: 11px;
    //     right: 78px;
    //     position: absolute;
    //     /* left: 4px; */
    //     height: 1px;
    //     top: 10px
    // }
  }
  span {
    height: 15px;
    width: 15px;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    left: -30px;
  }
  .warning {
    background: @yellow;
  }
  .primary {
    background: @brand-primary;
  }
  .danger {
    background: @brand-danger;
  }
  .grey {
    background: @gray;
  }
  small {
    display: block;
    font-size: 12px;
  }
}
fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.dataTables_wrapper {
  background: #fff;
}

table.table.table-small {
  tr {
    th {
      font-size: 12px;
    }
    th,
    td {
      padding: 4px;
    }
  }
}

.table-calndar {
  td {
    position: relative;
    width: 100px;
    height: 100px;
    vertical-align: middle;
  }
  th,
  td {
    &:nth-child(6),
    &:nth-child(7) {
      background: #f4f4f4;
    }
  }
  label {
    display: inline-block;
    min-width: 80px;
    font-size: 13px;
    line-height: 16px;
  }
  .label-wrap {
    position: relative;
  }
  .date {
    position: absolute;
    right: 4px;
    top: 0px;
    font-weight: 400;
    color: #666;
  }
}
.user-wrap {
  .panel-group {
    margin-bottom: 0;
    .panel {
      border-top: 0;
      &.user-feedback {
        border-left: 0;
        border-radius: 0;
        border-right: 0;
        .panel-heading {
          background: none;
          .panel-title {
            a {
              display: block;
            }
          }
        }
        .panel-body {
          background: #eff3fa;
        }
      }
      .panel {
        .panel-body {
          background: #fff !important;
        }
      }
    }
  }
  > :nth-child(1) {
    .panel-group {
      .panel {
        border-top: 1px solid #dce3f3;
      }
    }
  }
}

.ui-select-choices-row:hover {
  background: #3875d7 !important;
  color: #fff;
}
.cms-view {
  padding: 10px 0px;
}
.clickable {
  &.add-icon {
    top: -10px;
    bottom: -10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.remove-icon-wrap,
#user_goals {
  .badge {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.table td {
  font-weight: 400 !important;
}
.form-control.small-width {
  width: 100px;
  margin: 0 auto;
}
h4.table-heading-it-saving {
  font-size: 16px;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
.loader-spin.ng-animate {
  -webkit-animation: none 0s;
  animation: none 0s;
}
.loader-spin {
  position: absolute;
  top: 0;
  padding: 5px;
  border-radius: 2px;
  -webkit-animation: spinner 2s infinite linear;
  animation: spinner 2s infinite linear;
}
.loader-spin-relative {
  position: relative;
  top: 0;
  padding: 5px;
  border-radius: 2px;
  -webkit-animation: spinner 2s infinite linear;
  animation: spinner 2s infinite linear;
}
.leave-span {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -17px;
  font-size: 11px;
}
.on-site-status-icon,
.extra-work-status-icon {
  position: absolute;
  top: 5px;
  margin-left: 2px;
}

.small.ui-select-container {
  ul.select2-choices {
    li.ui-select-match-item {
      padding: 2px 2px 2px 10px !important;
      margin: 2px 0 2px 2px !important;
      a.ui-select-match-close {
        left: 1px !important;
        top: 3px !important;
        font-size: 11px !important;
      }
    }
  }
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

// .form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
//     display: inline-block;
// }
// .form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
//     display: none;
// }
// }

// attendance overview
.nav.attendance-overview {
  background: #fff;
  li {
    border-color: transparent !important;

    &.active {
      a {
        color: #333333 !important;
        background: none !important;
        border: none !important;
      }
      &:after {
        content: "";
        border-bottom: 3px solid #2b384e !important;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -3px;
      }
    }
    a {
      color: #333333;
      position: relative;
      border-color: none !important;

      &:hover,
      &:focus,
      &:active,
      &:focus-within {
        color: #333333 !important;
        background: none !important;
        border: none !important;
        &:after {
          content: "";
          border-bottom: 3px solid #2b384e !important;
          position: absolute;
          left: 0;
          right: 0;
          bottom: -3px;
        }
      }
    }
  }
}
/*.first-lavel > a{
  background:#1e282c !important;
 
}*/
/*.second-level{
  a{
    color: #fff;
    background: #1e282c;
    border-left: 2px solid #3c8dbc; 
   }
}*/
.flex-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.flex-column-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-nowrap {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}

.justify-content-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.justify-content-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.justify-content-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.justify-content-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.justify-content-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.align-items-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.align-items-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.align-items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.align-items-baseline {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.align-items-stretch {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.align-content-start {
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.align-content-end {
  -ms-flex-line-pack: end;
  align-content: flex-end;
}

.align-content-center {
  -ms-flex-line-pack: center;
  align-content: center;
}

.align-content-between {
  -ms-flex-line-pack: justify;
  align-content: space-between;
}

.align-content-around {
  -ms-flex-line-pack: distribute;
  align-content: space-around;
}

.align-content-stretch {
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.align-self-auto {
  -ms-flex-item-align: auto;
  align-self: auto;
}

.align-self-start {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.align-self-end {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.align-self-center {
  -ms-flex-item-align: center;
  align-self: center;
}

.align-self-baseline {
  -ms-flex-item-align: baseline;
  align-self: baseline;
}

.align-self-stretch {
  -ms-flex-item-align: stretch;
  align-self: stretch;
}
.ml-0,
.mx-0 {
  margin-left: 0;
}

.ml-auto {
  margin-left: auto;
}

.leave-number {
  background: #fff;
  border: solid 1px #ddd;
  text-align: center;
  display: flex;
  > div {
    padding: 2px 0;
    flex: 1;
    border-right: solid 1px #ddd;
    h4 {
      margin: 5px 0;
      font-size: 20px;
    }
  }
}

.flexbox {
  display: flex;
  > div {
    width: 150px;
    text-align: left;
    padding: 0 15px;
  }
}
.leave-mis {
  .panel-title {
    a {
      font-size: 16px;
      color: #333;
      font-weight: bold !important;
      &.accordion-toggle {
        .fa-chevron-down::before {
          content: "\f077";
        }
        &.collapsed {
          .fa-chevron-down::before {
            content: "\f078";
          }
        }
      }
    }
  }
}
.mis-overview {
  .border-right {
    border-right: 2px solid #dce3f3;
    padding-right: 15px;
    &:last-child {
      border: none;
    }
  }
}

.mis-accordion.collapsed {
  .fa-minus {
    &:before {
      content: "\f067";
    }
  }
}

.nav-tabs.nav-tabs-user {
  > li.active a {
    background: #5470ac !important;
    border-bottom-color: #5470ac !important;
    text-transform: none;
  }
  > li a {
    color: #5470ac;
    text-transform: none;
  }
}

// css for login page - welcome page with google sign in
.login-main-wrapper {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .login-main-wrapper {
    width: 90%;
  }
}
@media (max-width: 767px) {
  .admin-navbar {
    .navbar-nav .open .dropdown-menu {
      position: absolute;
      background: #fff;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
      right: 5px;
      top: 42px;
    }
    .navbar-inverse .navbar-nav > .open > a {
      background-color: transparent;
      color: inherit;
      height: 50px;
      line-height: 50px;
    }
  }
}
@media (max-width: 1010px) {
  .scroll-table {
    display: block;
    overflow-x: scroll;
  }
}

@media (max-width: 450px) {
  .leave-number {
    overflow: scroll;
    div {
      padding: 5px;
      small {
        white-space: nowrap;
      }
      h4 {
        font-size: 15px;
      }
    }
  }
  .leave-entries-tablehead {
    white-space: nowrap;
    overflow: scroll;
  }
}

.DTFC_LeftBodyLiner {
  overflow-y: auto !important;
}

#leave-overview-summary_wrapper {
  .name-div {
    line-height: 38px;
  }
}
@media (min-width: 768px) {
  .nav-tabs-user {
    li {
      a {
        padding-left: 6px;
        padding-right: 6px;
        font-size: 14px !important;
      }
    }
  }
}
