
.dashboard-container {
	padding-right: 15px;
    padding-left: 15px;
    .panel{
        border:1px solid #D5DDF1 !important;
        .panel-heading, th,td{
            border-bottom:1px solid #D5DDF1 !important;
        }
    }
    .panel-heading{
        background:#fff !important;
    }
    .table{
        td, th{
            white-space: nowrap;
        }
    }
	td {
		color: #737D8C;
	}
	.btn-row {
		margin-bottom: 25px;
	}
	.edit-news-head {
		color: #34425A;
	    font-weight: bold;
	    .edit-news-btn {
	    	background: transparent;
            border: 0px solid;
             border: 0px solid;
            position: absolute;
            right: 0;
            top: -4px;
	    	.fa-pencil-square-o {
	    		color: #737D8C;
	    	}
	    }
	}
    .news-date {
    	font-size: 12px;
    }
    .news {
    	padding: 5px 0;
    	color: #647081;
    	font-size: 14px;
    	font-weight: 300;
    	
    }
    .carousel-control {
    	top: 20%;
        color: #f2f2f2;
        background:none;
        
    }
    .label-default {
    	background-color: #D9D9D9;
	    color: #687381;
	    font-weight: 400;
	    font-size: 12px;
	    padding: 3px 6px;
	    border-radius: 0;
    }
    .panel {
    	border-radius: 0;
    }
    // .panel-default {
    // 	border-color: #CFD8EF;
    // }
    th {
    	color: #2E3D53;
    	// border-color: #CFD8EF;
    	border-bottom: 1px solid #ddd !important;
    }
    td {
    	// border-top: 1px solid #CFD8EF !important;
        font-weight: 300;
    }
    .apply-leave-btn {
        width: 100%;
        border-radius: 0;
        padding: 7px 12px;
    }
    .leaves-grid{
        display: grid;
        grid-template-columns: 25% 75%;
        font-weight: 300;
        height:110px;
        .grid-1 {
            border-bottom: 1px solid #D5DDF1;
            border-right: 1px solid #D5DDF1;
            padding: 7px;
            text-align:center;
            display:flex;
            align-items: center;
            justify-content: center;
        }
        .grid-2 {
            border-bottom: 1px solid #D5DDF1;
            padding: 7px 15px;
            display:flex;
            align-items: center;
            span{
                flex:1;
                justify-content: flex-end;
                align-items: flex-start;
                align-self: flex-start;
            }
        }
    }
    .ctc-header {
        padding: 8px;
        line-height: 1.42857143;
        font-weight: bold;
        font-size: 14px;
        border-bottom: 1px solid #D5DDF1;
    }
    .ctc-parts {
        color: #647081;
        padding: 8px 15px;
        line-height: 1.42857143;
        font-weight: bold;
        font-size: 13px;
       
        margin-right: -15px;
    }
    .ctc-parts-value {
        color: #647081;
        padding: 8px;
        line-height: 1.42857143;
        font-weight: bold;
        font-size: 13px;
       
        margin-left: -15px;
    }
    .upcoming-leaves-data-block {
        // padding: 8px 15px;
        // font-weight: bold;
        // color: #647081;
        // font-size: 12px;
    }
    .ptb3 {
        padding-top: 3px;
        padding-bottom: 3px;
    }
    .leave-status-label {
        font-size: 12px;
        font-weight: 100;
        border-radius: 0;
        padding-top: 3px;
    }
    .cancel-leave-btn {
        border-radius: 0;
        margin-top: 15px;
        padding: 5px 25px;
        font-weight: 300;
    }
}
@media (max-width: 992px){
    .task-table textarea.form-control{
        width:200px;
    }
}

@media (min-width: 768px) {
    .profile-image-container {
        width: 125px !important;
        height: 132px;
        padding: 0;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: cover !important;
    }
}
@media (max-width: 767px) {
    .profile-image-container {
        width: 125px!important;
        height: 132px;
        padding: 0;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: cover !important;
    }
    .profile-details-container {
        display: block !important;
    }
    .profile-tabs-container {
        margin: 15px 0;
    }
}


#options{
    &.nav {
        display: flex;
        justify-content: space-between;
        white-space: nowrap;
        overflow: scroll;
         li {
            position: relative;
            display: table-cell;
            float: none !important;
            a {
                font-weight: 300 !important;
                font-size: 14px !important;
                text-align: center;
                border: 2px solid transparent;
                padding: 11px 5px;
                text-transform: none;
                color:#34323b;
            }
        }
    }
}
.user-dashborad-container {
    .carousel {
        height: 85px;
    }
    .table td {
        border: 0 !important;
        padding-left: 15px;
    }
    .panel-default {
        border-color: #D5DDF1;
        background: #fff;
        min-height: 140px;
    }
    .btn-success {
        color: #fff;
        background-color: #00C39E !important;
        border-color: #00C39E !important;
        border-radius: 0px;
        width: 100%;
    }
    .crud-btn {
        background-color: #00C39E !important;
        border-color: #00C39E !important;
    }
    .panel-default > .panel-heading {
        // color: #333;
        background-color: #fff;
        border-color: #D5DDF1;
        // color: #fff;
    }
}
.admin-dashboard {
    .modal-header {
        padding: 15px;
        border-bottom: 1px solid #D5DDF1 !important;
    }
    .modal-title {
        color: #32435C !important;
        font-weight: 400 !important;
    }
    .modal-body {
        #duration-label{
            font-size:16px;
        }
    
    }
   
    .modal-footer {
        border-top: 0px;
       
    }
    .form-group {
        input, textarea {
            border: 1px solid #D5DDF1;
            font-size: 14px;
            color: #32435C;
            box-shadow: none;
        }
    }
    .navbar-default {
        border: 1px solid #D5DDF1 !important;
        border-radius: 0;
    }
    .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
        font-size: 16px;
        box-shadow: none !important;
        color: #5A5665 !important;
        text-shadow: none !important;
    }
    small {
        font-weight: 400 !important;
        color: #5A5665;
    }
    a {
        // color: #fff !important;
        // font-weight: bold !important;
        // font-size: 12px !important;
    }
}

.carousel-inner {
    .item {
        padding: 0 30px;
    }
}
.p-l-0 {
    padding-left: 0;
}
.view-all {
    color: #32435C;
    font-size: 14px;
    font-weight: 400 !important;
}
.table-striped > tbody > tr:nth-of-type(odd) {
    background: #eee !important;
}
.admin-dashboard {
    background: #EFF3FA !important;
    .panel.panel-horizontal {
        border-radius: 0;
        background: #FFFFFF;
        border: 1px solid #DCE3F3;
        box-shadow: none !important;
    }
}
.user-list-view, .user-bonus  {
    td{
    border-top:  1px solid #DCE3F3 !important;
    }
}

.profile-grid, .user-payslip, .apply-leave, .user-skill, .user-timesheet, .user-list-view, .payslip-user,.user-loan,.user-bonus {
    .panel, .leave-stat {
        background: #FFFFFF;
        border: 1px solid #DCE3F3;
        box-shadow: none !important;
        border-radius: 0 !important;
        .panel-heading {
            font-weight: 400;
            background: #FFFFFF;
            /*border: none;*/
        }
    }
    .table {
        th {
            border: 0 !important;
            font-size:14ox;
        }
    }
    .btn-crud {
        color: #fff;
        background-color: #1abc9c !important;
        border-color: #1abc9c !important;
        float: left !important;
        border-radius: 0;
        margin-top: 15px;
        min-width: 140px;
        margin-bottom: 30px;
    }
    .sm-text {
        font-size: 1em;
        color: #5A5665;
    }
}
.m-t-30 {
    margin-top: 30px;
}

.btn {
    border-radius: 0px !important;
}
.profile-grid {
    p {
        &.btn.btn-primary {
            border-radius: 25px !important;
            margin-bottom:10px;
        }
    }
}
.btn-crud, .crud-btn {
    color: #fff;
    background-color: #1abc9c !important;
    border-color: #1abc9c !important;
}
.panel-body{
   font-weight: 300 !important;
}

.admin-wrapper{
    .admin-dashboard{
        background:#EFF2F8 !important;
    }
    .form-control {
    border: 1px solid #DCE3F3;
    box-shadow: none !important;
    }
    select.form-control{
        height:40px;
    }
}
#leave-overview_wrapper{
    td {
        background: #fff;
        &.holiday {
            background-color: #D7D7D7;
        }
        .col-md-9.name-div {
            background: #EBEBEB;
        }
        &.holiday {
            background: #D7D7D7;
            color: #fff;
        }
        &.pl {
            background: #FC2D1D;
            color: #fff;
        }
        &.sl {
            background: #FFB027;
            color: #fff;
        }
        &.other {
            background: #DAE5FA;
            color: #fff;
        }
    }

}
.leave-overview {
    .overview-table {
        border: 1px solid #D5DDF1;
        border-left: 0px;
        border-right: 0px;
        border-radius: 0px !important;
        th {
            border-left: 0px;
            background: #fff;
            border-bottom: 1px solid #D5DDF1;
            &.holiday {
                background-color: #D7D7D7;
            }
        }
        td {
            background: #fff;
            &.holiday {
                background-color: #D7D7D7;
            }
            .col-md-9.name-div {
                background: #EBEBEB;
            }
            &.holiday {
                background: #D7D7D7;
                color: #fff;
            }
            &.pl {
                background: #FC2D1D;
                color: #fff;
            }
            &.sl {
                background: #FFB027;
                color: #fff;
            }
            &.other {
                background: #DAE5FA;
                color: #fff;
            }
        }
    }
    .overview-table {
        overflow-x: scroll;
    }
    .overview-table th, .overview-table td {
        min-width: 160px;
        max-width: 160px;
        border-left: 1px solid #D5DDF1;
    }
    .overview-table td {
       &:after{
           content: "";
            display: inline-block;
            vertical-align: top;
            min-height: 30px;
       }
    }
    .name-div {
        min-height: 40px;
    }
    .PL, .SL, .CL, .UL, .HL, .MTL {
        color: white;
    }
    .PL {
        background-color: #01BF5D;
    }
    .SL {
        background-color: #EF3B40;
    }
    .CL {
        background-color: #00CBE6;
    }
    .UL { 
        background-color: #3b6fb5;
    }
    .HL {
        background-color: #e89f2d;
    }
    .MTL {
        background-color: #cc8ded;
    }
}


.leave-overview {
    .fixed-table-container.overview-table {
        table.overview-table {
            float: left;
        }

        tr {
            position: relative;
            td, th {
                min-width: 60px;
            }
            th {
                font-size: 13px;
                vertical-align: middle;
            }
        }

        tbody.scrollContent, thead.fixedHeader {
            display: block;
            overflow: auto;
            width: 100%;
            padding-left: 240px;
            padding-right:160px;
        }

        .headcol {
          position: absolute;
          min-width: 60px;
          left: 15px;
          top: auto;
          border-top-width: 1px;
          margin-top: -1px;
        }
        .headcol+.headcol {
            left: 75px;
            min-width: 180px;
            border-right: 1px solid #D5DDF1;
        }
        .headcol-right {
          position: absolute;
          min-width: 80px;
          right: 15px;
          top: auto;
          border-top-width: 1px;
          margin-top: -1px;
          &.small {
            min-width: 40px;
          }
        }
        .headcol-right+.headcol-right {
            right: 95px;
        }
        .headcol-right+.headcol-right+.headcol-right {
            right: 175px;
        }
    }
}



.btn-primary.crud-btn{
        background: #34425A !important;
    border: solid 1px #212a3a !important;
}


.btn-default {
    color: #34425A;
    background-color: #fff;
    border-color: #DCE3F3;
}


.profile-grid {
    p.btn.btn-primary {
    border-radius: 25px !important;
    border-color: #B8B7BC !important;
    color: #5A5665 !important;
    }
.two-part-list{
    li{
            color: #5A5665 !important;
    }
}
.profile-grid-item{
    li,p{
         color: #5A5665 !important;
    }
    li{
        position: relative;
        padding-left: 1em;
    }
}
}


.admin-navbar{
    box-shadow:0 5px 5px -5px rgba(0, 0, 0, 0.1);
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: block;


.btn {
  border: 1px solid #D5DDF1;
  color: #32435C;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

 input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
}

.upcoming-leave{
    .table{
        thead{
            tr{
                         border-bottom:  1px solid #DCE3F3 !important;

            }
        }
    }
    
}


.fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-content, .fc-unthemed .fc-popover, .fc-unthemed .fc-list-view, .fc-unthemed .fc-list-heading td {
    border-color: #DCE3F3 !important;
}

 .fc-today-button{
    color: #fff !important;
    background-color: #1abc9c !important;
}


.select2-container{
    width:100% !important;

 .select2-choice{
        border: 1px solid #D5DDF1 !important;
        background:none !important;
        box-shadow:none !important;
        height:40px !important;
        border-radius:0px !important;
        .select2-arrow{
            background:none;
            border:none;
            b{
                    display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                color:#D5DDF1;
                    position: relative;
                    right: 5px;
                    top:5px;
                &:before {
                    content: "\f078";
                }
            }
        }

}
   .select2-choice > .select2-chosen{
        padding-top:7px;
    }
}

.select2-container-multi .select2-choices{
    border:none !important;
    background:none !important;
    box-shadow:none !important;
}

.multipicker {
    max-width: 100% !important;
    margin-bottom: 20px;
    border-radius: 0px !important;
    .select2-container{
        border-radius: 0px !important;
    }
}
.modal-dialog {
//           label{
//     display: inline-block;
//     max-width: 100%;
//     margin-bottom: 5px;
//     font-weight: 300;
//     color: #34425A;
//     font-size: 18px;
// }
    .form-control{
        border:1px solid #DCE3F3;
        box-shadow: none;   
    }
    .error{
            border: 1px solid red !important;   
        }
.modal-body{
    .slack-alert{
        background-color: transparent;
        border-color: transparent;
        color: green;
        margin: 0;
        margin-top: -20px;
        font-weight: bold;
        padding: 0 15px;
    }
    .slack-alert-danger{
        background-color: transparent;
        border-color: transparent;
        color: #a94442;
        margin: 0;
        margin-top: -20px;
        font-weight: bold;
        padding: 0 15px;
    }
}
.modal-footer .btn + .btn{
    min-width:70px;
}
.modal-footer{
      border-top:1px solid #DCE3F3;
}
.modal-header{
    border-bottom:1px solid #DCE3F3;
    
}

}


// .table-fixed{
 
//  table-layout: fixed;
//   border-collapse: collapse;
//  thead {
  
//     tr {
//       display: block;
//       position: relative;
//     }
//   }
//   tbody {
//     display: block;
//     overflow: auto;
//   }
// }


// .table-fixed thead {
 
// }
// .table-fixed tbody {
//   height: 230px;
//   overflow-y: auto;
//   width: 100%;
// }
// .table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
//   display: block;
// }
// .table-fixed tbody td, .table-fixed thead > tr> th {
//   float: left;
//   border-bottom-width: 0;
// }


.stripe{
    &.table{
        margin-bottom:0;
    }
}

    div.dataTables_wrapper {
       
        margin: 0 auto;
        th, td { white-space: nowrap; }
    .DTFC_ScrollWrapper{
        /*height:800px !important;*/
        overflow:hidden;
    }
    /*.dataTables_scrollBody{
        max-height:800px !important;
    }*/
    tr{
        th{
             background:#D4DCE6 !important;
        }
    }
  .DTFC_LeftWrapper, .DTFC_RightWrapper{
    tr{
        td:nth-child(1),  th:nth-child(1){
            background:#D4DCE6 !important;
        }
         td:nth-child(2),  th:nth-child(2){
            background:#D4DCE6 !important;
        }
        td:nth-child(3),  th:nth-child(3){
            background:#D4DCE6 !important;
        }
    }
}

    #example_filter{
        display:none;
    }

    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #C0C0C0  !important;
        font-weight:400 !important;
    }
    ::-moz-placeholder { /* Firefox 19+ */
        color: #C0C0C0 !important;
        font-weight:400 !important;
    }
    :-ms-input-placeholder { /* IE 10+ */
        color: #C0C0C0 !important;
        font-weight:400 !important;
    }
    :-moz-placeholder { /* Firefox 18- */
        color: #C0C0C0 !important;
        font-weight:400 !important;
    }


.select2-container-multi .select2-search-choice-close {
    left: 3px;
    color: #333 !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 12px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    &:after{
         content: "\f00d";
    }
   
}

.valueInput{
    position:relative;
small{
        position: ABSOLUTE;
    right: -5px;
    top: 12px;
}
}
.progress-indicator {
    margin: 0;
    padding: 0;
    font-size: 80%;
    text-transform: uppercase;
    margin-bottom: 1em;
    display:flex;
    li {
    list-style: none;
    text-align: center;
    width: auto;
    padding: 0;
    margin: 0;
    position: relative;
    text-overflow: ellipsis;
    color: #34425A;
    display: block;
    font-weight:400;
    font-size:13px;
        flex: 1;
    &.completed {
    color: #34425A;
    .bubble {
    background-color: #34425A;
    color: #34425A;
    border-color: #34425A;
    &:after, &:before {
    background-color: #34425A;
    border-color: #34425A;
}
}
}
.bubble {
    border-radius: 1000px;
    width: 20px;
    height: 20px;
    background-color: #bbbbbb;
    display: block;
    margin: 0 ;
    border-bottom: 1px solid #888888;
    &:after, &:before {
    display: block;
    position: absolute;
    top: 9px;
    width: 100%;
    height: 3px;
    content: '';
    background-color: #bbbbbb;
}
&:before { left: 0; }
&:after { right: 0; }
}
&:last-child{
    .bubble {
        &:after{
            background:none;
        }
         &:before{
            background:none;
        }
        
    }

}
&:first-child{
    .bubble {
        &:before{
            background:none;
        }
        
    }

}
}
}

.user-profile-details{
    display:flex !important;
    .profile-details-container{
        display:flex !important;
        width:100%;
        // align-items: center;
        .info-right-table{
                float: right;
                justify-content: flex-end;
                flex: 1;
                align-content: flex-end;
                display: flex;
        }
    }
}

.checklist{
    .panel{
        border:1px solid #D5DDF1 !important;
        .panel-heading{
            background:#fff;
            a{
                color:#2E3D53 !important;
                font-size: 16px;
                font-weight: 400 !important;
                display:block;
            }
        }
    
        .panel-heading a:after {
            font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
            content: "\e114";    /* adjust as needed, taken from bootstrap.css */
            float: right;        /* adjust as needed */
            color: #2E3D53;         /* adjust as needed */
        }
        .panel-heading a.collapsed:after {
            content: "\e080";    /* adjust as needed, taken from bootstrap.css */
        }
        .fa-spinner{
            color:#1abc9c
        }
        .panel-body{
            border-top: none !important;
        }
        thead{
            tr{
                th{
                    border-bottom: 1px solid #D5DDF1 !important;
                } 
            }
        }
        tbody{
             border:none !important;
            tr{
                td{
                     border-color: #D5DDF1 !important;
                }
            }
        }
    }
}


.nav-tabs > li {
    &.inline{
    float: none;
    display: inline-block;
    margin-bottom: 20px;
    }
   &.active{
       a{
           background:#B02A23 !important;
           color:#fff !important;
       }
   }
}
.birthday-highlight{
    background-color: #2BA7CF;
}

.ui-select-choices {
   opacity: 1 !important;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 30px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
#conatct_wrapper{
  &.dataTables_wrapper {
      tr{
          td{
              background:#fff;
          }
      }
  }
 
      
     
      
      .emergency-num{
          .fa{
            color:#d9534f;
          }
          a{
              color:#d9534f;

          }
      }
      .last{
          form{
            display: inline-block;
            float: none;
            margin-right: 10px;

          }
      }
      .DTFC_RightWrapper{
          tr{
              td{
                  background:#fff !important;
              }
          }
      }
      .DTFC_LeftWrapper{
        tr{
            td{
                background:#fff !important;
            }
        }
    }
  
    
}

*:focus {
    outline: none !important;
}


    .dataTables_wrapper.no-footer .dataTables_scrollBody{
        border-color:#DFE8FB !important;


    }


    #leave-overview_wrapper{
        &.dataTables_wrapper{
            tr td:nth-child(3){
            background:transparent !important;
            }
        }
        .DTFC_RightWrapper{
            tr td:nth-child(3){
            background:#D4DCE6 !important
            }
        }
    }


    .multipicker .select2-container {
        border-radius: 0px !important;
        border: 1px solid #DCE3F3;
        box-shadow: none !important;
        min-height: 40px;
    }  


    .sm-loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin: 0;
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .admin-apply-leave {
    table th,
    table td {
        border-bottom: 1px solid #DCE3F3;
        padding: 5px;
    }
    
  }
  .user-name, #conatct{
      a{
          color:#1abc9c;
          &.btn{
              color:#fff;
          }
      }
  }

  .admin-apply-leave{
    .left-section{
        .panel{
            border:none;
            margin: 0;
            margin-bottom:15px !important;
            .panel-body{
                padding:0 5px;
                max-height: 100px !important;
                overflow: auto;
                table{
                    tr{
                        th,td{
                            padding-left:10px !important;
                            border-bottom:0px !important;
                        }
                    }
                }
                
            }
        }
        .leaveOverlapping{
            .panel{
                .panel-body{
                    max-height:150px !important;
                    padding-left:15px !important;
                    
                }
            }
        }
    }
    .input-group.date{
        margin-bottom:0px;
    }
    .custom-label{
        margin-bottom:10px;
    }
    .modal-body{
        padding-top:0px;
       border-bottom:0px;
       padding-bottom:0px;
    }
    .modal-footer{
        padding-top: 15px;
    }
    .modal-header{
        padding-right:40px;
        height: 50px;
        .close {
            
            position: absolute;
            right: 15px;
            top: 10px;
            z-index:99;
        }
        h4,label{
            margin:0;
        }
    }
    .left-section{
       
        padding-top:10px;
        height: 550px;
        .row{
         
            height: 100%;
        }
    }
    .right-section{
        border-left: 1px solid #DCE3F3;
        padding-bottom: 15px;
        margin-top: 3px;
        height:550px;
        .ma-top-10{
            margin-top:15px;
        }
    }
    .lg-text{
        font-size: 14px;
    font-weight: 400 !important;
    margin-top: 0px;
    font-weight: 400 !important;
    margin-bottom: 3px;
    }
    .sm-text{
        font-size: 14px;
        font-weight: 400 !important;
    }
      
    
}

/*.input-group{
    &.date{
        position: relative;
        .date-picker{
            position: relative;
            z-index: 99;
            background: transparent;
            padding-right: 39px;
            cursor: pointer;
            border: 1px solid @blue-border;
            box-shadow: none;
            border-radius: 0;
        }
        .input-group-addon{
            position: absolute;
            width: 39px;
            height: 40px;
            right: 0;
            z-index: 9;
            .glyphicon{
                top:6px;
            }
        }
    }
}*/
.cms-dev{
    label{
        font-weight: 500;
        width: 140px;
    }
}
.flex-container{
    display: flex;

}
.flex-center{
    align-items: center;
}
.flex-column{
    flex-direction:column;
}
.justify-right{
    justify-content: flex-end;
}
.justify-space-between{
    justify-content: space-between;
}
select.form-control{
    border:1px solid @blue-border;
    box-shadow: none;
}
.custom-label{
    font-weight:400;
}

.admin-apply-leave {
    .modal{
        .panel{
            border:0px;
        }
    }
  
        table th,
        table td {
            border-bottom: 1px solid #DCE3F3;
            padding: 5px!important;
        }
        .left-section{
            .panel{
                border:none;
                margin: 0;
                .panel-body{
                    padding: 0 5px;
                    max-height: 180px;
                    overflow-y: auto;
                    overflow-x: hidden;
                    
                }
                .table{
                    margin-bottom: 10px;
                }
            }
        }
        
      
}
.table-footer {
    .pagination {
        float:right;
        margin:0;
    }
}
.select2-container-multi {
    &.module-tag{
        .select2-choices{
        border: 1px solid #D5DDF1 !important;
        min-height: 40px !important;
        }
    }
}

.select2-container-multi {
    &.module-tag{
        .select2-choices{
        border: 1px solid #D5DDF1 !important;
        min-height: 40px !important;
        }
    }
 }

 .select2-container-multi {
    &.module-tag2{
        .select2-choices{
        border: 1px solid #D5DDF1 !important;
        min-height: 40px !important;
        }
    }
 }
 .date-select{
    display: flex;
    align-items: center;
    height: 45px;
    .left-section{
        padding-top:15px
    }
 }
 .timelog{
    .nav{
        &.nav-tabs{
        border-radius:0 !important;
        background: #fff;
        margin-bottom: 10px;
        li{

        
        a{
            border-radius:0 !important;
            border:2px solid transparent !important;
            color:#333 !important;
        }
        &.active{
            a{
                background:transparent !important;
                border-bottom:2px solid #5470AC !important;
                color:#5470AC !important;

            }
        }
    }
    }
    }
     /*.table{
         th{
             border:none !important;
             padding:8px 15px !important;
         }
         td{
            padding:8px 15px !important;
         }
     }*/
     .select2-container{
         &.project{
         }

     } 
     .expection {
        border-top:1px solid #D5DDF1;
        padding:10px 0px;
        input{
            width: 38px;
            display: inline-block;
            float: left;
            text-align: center;
        }
        .checkbox{
            margin-left:53px;
        }
     }
     .tab-content{
         .panel{
             padding:0;
         }
     }
 }

 .checkbox {
  padding-left: 20px; }
  .checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
    .checkbox label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 3px;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
    .checkbox label::after {
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      top: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      font-size: 11px;
      color: #555555; }
  .checkbox input[type="checkbox"] {
    opacity: 0; }
    .checkbox input[type="checkbox"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .checkbox input[type="checkbox"]:checked + label::after {
      font-family: 'FontAwesome';
      content: "\f00c"; }
    .checkbox input[type="checkbox"]:disabled + label {
      opacity: 0.65; }
      .checkbox input[type="checkbox"]:disabled + label::before {
        background-color: #eeeeee;
        cursor: not-allowed; }
  .checkbox.checkbox-circle label::before {
    border-radius: 50%; }
  .checkbox.checkbox-inline {
    margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #428bca;
  border-color: #428bca; }
.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-danger input[type="checkbox"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f; }
.checkbox-danger input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de; }
.checkbox-info input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-warning input[type="checkbox"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e; }
.checkbox-warning input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c; }
.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #fff; }
.rating {
    color: #a9a9a9;
    margin: 0;
    padding: 0;
}
ul.rating {
    display: inline-block;
}
.rating li {
    list-style-type: none;
    display: inline-block;
    padding: 1px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    font-size:20px;
}
.rating .filled {
    color: orangered;
}
.clear{
  margin-top:20px;
}

@media (max-width: 500px) {
    .user-profile-details {
        align-items: center;
        
        .profile-details-container{
            flex-direction: column;
            width: auto !important;
            .info-right-table{
                display: block;
                float: none !important;
                margin-top:10px;

                td{
                    small{margin-right: 5px;}
                    text-align: left !important;
                }
            }
        }
    }
    .table-footer{
        white-space: nowrap;
        overflow: scroll;
        .pagination{
            display:flex;
            margin-left: 20px !important;
        }
    }
}
