.mobile-home-page {
	.background {
		margin: 0 auto;
	}
	.background .row {
		margin: 0;
	}
	.header-color{
		background-color: #34435A;
		height: 220px;
		position: fixed;
	    top: 0;
	    right: 0;
	    left: 0;
	}
	.header-title {
		color: #fff;
		font-style: 18px !important;
	}
	.header-icon{
		color: #FFFFFF;
		padding: 10px 7px;
	    font-size: 20px;
		.fa {
			margin-top: 10px;
		}
	}
	.header-refresh-icon{
		background: transparent;
		color: #FFFFFF;
		padding: 5px 10px;
	    font-size: 20px;
		.fa {
			margin-top: 0px;
		}
	}
	.alignment-1{
		color: #FFFFFF;
		padding-left: 10px;
	}
	.white-background{
		background-color: #FFFFFF;
		border-radius: 25px;
		margin: 0 auto;
		margin-top: 20px;
		box-shadow: 2px 2px 2px  #DCDEE3;
		margin: 15px;
	}
	.history h5{
		color: #979697;
	}
	.white-sheet{
		background-color:  #FFFFFF;
		border-radius: 10px;
		margin: 0 auto;
		box-shadow: 2px 2px 2px  #DCDEE3;
		margin-top: 25px;
		padding: 15px 15px;
	}
	.white-sheet p {
		margin: 0;
		font-size: 12px;
		font-weight: 400 !important;
	}
	.white-sheet .col-xs-1 {
		padding: 0;
	}
	.white-sheet .col-xs-2 {
		padding: 0;
	}
	.white-sheet .col-xs-3 {
		padding: 0;
	}
	.white-sheet .col-xs-4 {
		padding: 0;
	}
	.white-sheet-1{
		margin-top: 10px;
	}
	.white-sheet-2{
		border-radius: 10px;
		margin-top: 25px;
		margin-bottom: 15px;
	}
	.green-color {
		background-color: #1BBC9C;
		color: #F8FDFC;
		border: none;
		font-size: 18px;
		text-align: center;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.green-color a{
		border: none;
		color: #FAFEFD;
	}
	.dashboard-leave-details-container {
		top: 325px;
	    bottom: 60px;
	    overflow: auto;
	    position: fixed;
	    right: 0;
	    left: 0;
	}
	.leave-details-container {
		padding-left: 15px;
		padding-right: 15px;
	}
	.leave-card h5{
		color: #2F3F56;
	    margin: 0;
	    padding-top: 5px;
	}
	.radio-button{
		padding-top: 20px;
	}
	.unpaid-leave-container {
		height: 5em;
	    width: 5em;
	    border-radius: 50%;
	    background: #D8E2F4;
	    margin: 0 auto;
	    display: table;
	}
	.sick-leave-down h5{
		color: #546073;
		text-align: center;
		padding-top: 20px;
	}
	.sick-leave-down p{
		color: #4683D6;
		text-align: center;
		margin-top: -10px;
	}
	.numbers {
		color: #CA001A;
	    font-size: 18px;
	    font-weight: bold;
	    display: table-cell;
	    vertical-align: middle;
	}
	.available-color-box {
		height: 13px;
	    width: 13px;
	    border-radius: 50%;
	    display: inline-block;
	    background: #fff;
	    margin-right: 5px;
	    border: 1px solid #ccc;
	}
	.available-text {
		color: #2F3F56;
	    font-weight: 400;
	}
	.consumed-color-box {
		height: 13px;
	    width: 13px;
	    border-radius: 50%;
	    display: inline-block;
	    background: #4683D4;
	    margin-right: 5px;
	    margin-left: 10px;
	}
	.chart-container {
		padding-top: 20px;
	}
	.chart-container .col-xs-4 {
		padding: 0;
	}
	.show-sick-leave{
		color: #5D5D5D;
	}
	.days-of-leave{
		color: #939192;
	}
	.leave{
		color: #5697E5;
	}
	.pending{
		color: #F6AF39;
	}
	.green{
		color: #41C7AD;
	}
	.red {
		color: #DD6A67;
	}
	.apply-btn-form {
		position: absolute;
	    bottom: 0;
	    left: 0;
	    right: 0;
	}
	.footer-btn {
		padding: 15px;
		border: none;
		background: #1AB490;
		position: fixed;
	    bottom: 0;
	    left: 0;
	    right: 0;
		&:focus, &:hover {
			color: #fff;
		}
	}
	.counter-wheel {
		color: #4482D5;
	}
}
.leave-app-container {
	display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    fieldset {
    	height: 100%;
    }
    .leave-body-container {
    	position: fixed;
	    top: 70px;
	    bottom: 50px;
	    right: 0;
	    left: 0;
    }
	.leave-body {
		height: 100%;
		width: 100%;
		overflow: auto;
		// padding-top: 15px;
	}
	.leave-body h3{
		font-size: 21px !important;
		font-weight: 400 !important;
		color: #4a4a4a;
		font-family: 'Roboto' , sans-serif;
		position: relative;
	}
	.hr-verify{
		color: #4a4a4a;
		margin-top: -15px;
		font-size: 12px;
	}
	.checkmark-icon{
		margin-top: 15px;
		p {
			font-size: 12px;
		}
	}
	.app-header {
		height: 70px;
	    background: #2E3B50;
	    color: #F8F8F9;
	    font-size: 16px;
	    font-weight: 400;
	    position: fixed;
	    display: table;
	    width: 100%;
	}
	.btn-left {
		display: table-cell;
	    width: 25%;
	    vertical-align: middle;
	}
	.title {
		display: table-cell;
	    width: 50%;
	    vertical-align: middle;
	}
	.btn-right {
		display: table-cell;
	    width: 25%;
	    vertical-align: middle;
	}
	.btn-cancel, .btn-back {
	    border-radius: 0;
	    background: transparent;
	    font-size: 18px;
	    &:hover, &:focus {
	    	color: #F8F8F9;
	    	opacity: 0.8;
	    }
	}
	.footer-btn {
		padding: 15px;
		border-radius: 0;
		border: none;
		background: #1AB490;
	}
	.card {
		height: 110px;
		width: 125px;
		-webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2);
		-moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2);
		box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2);
		display: inline-block;
		background: #fff;
		margin: 0 7px;
		label {
			margin-bottom: 0;
		}
		.card-inner {
			padding: 20px 5px;
			width: 100%;
			height: 100%;
			border: none;
			background: transparent;
		}
	}
	
	.highlight {
		background: #cecece;
	}
	.type-of-leave-icon {
		color: #505B6C;
		font-size: 35px;
	}
	.type-of-leave-icon-2 {
		width: 38px;
	}
	.type-of-leave {
		color: #505B6C;
		font-size: 14px;
		font-weight: 400 !important;
	    margin-top: 12px;
	}
	.card-btn {
		padding: 0;
		display: block;
		border: none;
		border-radius: 0;
		height: 100%;
	}
	.reason-textarea {
		border: none;
	}
	.top-container {
		height: 100px;
		display: flex;
		flex: 1;
		background: #fff;
	}
	.container-1 {
		display: flex;
		flex: 2;
		align-items: center;
	    justify-content: space-around;
		border-bottom: 1px solid #DFDFDF;
		border-right: 1px solid #DFDFDF;
	}
	.container-2 {
		display: flex;
		flex: 1;
		align-items: center;
	    justify-content: space-around;
		border-bottom: 1px solid #DFDFDF;
	}
	.day {
		font-size: 16px;
		font-weight: 400;
		color: #3D4B61;
	}
	.date {
		font-size: 14px;
		font-weight: 400;
		color: #858182;
	}
	.calendar-icon {
		font-size: 22px;
		color: #838182;
	}
	.second-container {
		background: #fff;
		display: flex;
	    flex: 2;
	    flex-direction: column;
	    padding: 15px;
	    align-items: flex-start;
	}
	.reason-head {
		color: #B3B2B3;
		font-size: 14px;
	    font-weight: 400;
	}
	.reason-text {
		color: #414141;
		font-size: 16px;
	    font-weight: 300;
	    margin-top: 5px;
	}
	.bottom-container {
		display: flex;
		flex: 4;
	}
	.mt15 {
		margin-top: 15px;
	}
	.mr15 {
		margin-right: 15px;
	}
	.ml15 {
		margin-left: 15px;
	}
	.done-button {
	    padding: 15px;
	    border-radius: 0;
	    border: none;
	    background: #1AB490;
	    color: #fff;
	    font-size: 14px;
	    margin-bottom: 0;
	    position: fixed;
	    bottom: 0;
	    width: 100%;
	}
	.confirmation-container {
		display: table;
		width: 100%;
		height: 100%;
		.confirmation-container-cell {
			display: table-cell;
			vertical-align: middle;
		}
		.text {
			font-size: 16px;
		    font-weight: 400;
		    margin-bottom: 10px;
		}
		.confirm-block {
		    display: table;
		    width: 85px;
		    height: 85px;
		    border-radius: 50%;
		    margin: auto;
		    background: #1ABc9c;
		    .confirm-block-cell {
		    	display: table-cell;
			    vertical-align: middle;
			    color: #fff;
			    .fa {
			    	font-size: 35px;
			    }
		    }
		}
	}
}
.apply-btn-mobile {
	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #1ABc9c;
    font-size: 14px;
    font-weight: 300;
    padding: 14px;
    color: #fff;
}
.blue-ground-color{
	width: 100%;
	height: 50vh;
	background-color: #33425b;
}
.white-ground-color{
	width: 100%;
	height: 50Vh;
	background-color: #f0f2fc;
}
.padding-from-top{
	padding-top: 12vh;
}
.geeky-logo h2{
	color: #FFFFFF;
	font-style: 'Roboto' ,'sans-serif'!important;
	font-weight: 500;
}
.input-boxes{
	padding: 15px;
	padding-top: 22vh;
}
.input-group{
	color: #33425b !important;
}
.box-shadow {
	box-shadow: 3px 3px 3px 1px #e2e4ee;
}
.circle-designed {
	width: 26px;
	height: 26px;
	background-color: #ffffff;
	color: #33425b;
}
.circle-designed i{
	padding-top: 8px;
}
.input-group-addon{
	background-color: #33425b;
	border: none;
}
input[type="text"]::-webkit-input-placeholder {
  color: #33425b;
  font-style: 'Roboto' ,'sans-serif'!important;
  font-weight: 1000;
}