.remove-icon-wrap {
    position: relative;
    padding-left: 30px;
    display: block;
    &.add-wrap {
        padding-left: 0;
        margin-right: 45px;
    }
 }
 .remove-icon, .add-icon {
    position: absolute;
    left: -15px;
    top: -10px;
    background-color: #fff;
    border-right: solid 1px #ddd;
    padding:  10px;
    text-align: center;
    color: @brand-danger;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    
    &:hover {
        background: @brand-danger;
        color: #fff;
    }
 }
 .add-icon {
    color: #fff;
    background-color: rgb(26, 188, 156);
    left: auto;
    right: -60px;
    border-left: solid 1px #ddd;
    border-right: 0;
    &:hover {
        background-color: rgb(26, 188, 156);
    }
 }
 
 .custom-panel-group {
    .panel-heading {
        background: #fff;
        >a {
            color: #444;
            div {
                font-weight: 400 !important;
            }
        }
    }
 }
 .goal-assignment{
     .date-picker {
         height:40px;
         border-radius:0px;
     }
     form{
         position:relative;
         .label-name{
        position: absolute;
        right: -16px;
        top: -10px;
         }
     }
     .panel{
         position:relative;
         .label-name{
            position: absolute;
            right: -16px;
            top: -10px;
         }
     }
 }

 .accordion-section{
     .panel {
         .panel{
             border:none;
                padding:0;
             

         }
         .panel-heading{
             .panel-heading{
                 padding:0;
             }
         }
        }
 }
 .goal-edit-section{
     .panel-heading,.panel{
         position:relative;
         .label-name{
            position: absolute;
            right: -1px;
            top: 0;
         }
     }
     .panel{
         .panel{
             border:0;
         }
     }
     .panel-heading{
        .panel-heading{
         padding:0;
         .label-name{
            position: absolute;
            right: -16px;
            top: -10px;

         }
        }
     }

 }