.mobile-login-container {
	height: 100%;
	.half {
		display: table;
		width: 100%;
		height: 50%;
		text-align: center;
		padding: 15px;
		.cell {
			display: table-cell;
			vertical-align: middle;
		}
	}
	.first-half {
		background: #2E3B50;
		color: #fff;
	    font-size: 23px;
	    font-weight: 400;
	    .logo-icon {
	    	width: 80px;
		    margin-bottom: 20px;
	    }
	}
	.second-half {
		background: #EEF1FC;
		color: #374459;
		font-size: 16px;
		font-weight: 400;
		input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
		    background-color: rgb(255, 255, 255) !important;
		}
	}
}