/* Process */
.process-wrap {
	min-height: 280px;
	.circle {
		display:inline-block;
		margin:10px;
		border-radius: 200px;
		width:125px;
		height:125px;
		border:solid 2px #333;
		text-align:center;
		line-height:125px;
		vertical-align: middle;
		position: relative;
		cursor: pointer;
		color: #333;
		span {
			display:inline-block;
			vertical-align: middle;
			line-height: 20px;
			font-size: 16px;
			font-weight: 300;
		}		
		&:before {
			background: url(../images/arrow.png);
			background-repeat: no-repeat;
			background-position: left center;
			content: '';
			position: absolute;
			width: 46px;
			height: 33px;
			right: -36px;
			bottom:-10px;
		}
		&.circle-bottom {
			top:100px;
			margin-right: 0;
			&:before {				
				-moz-transform:rotate(-60deg);
                -webkit-transform:rotate(-60deg);
                -o-transform:rotate(-60deg);
                -ms-transform:rotate(-60deg);
                transform:rotate(-60deg);
                top: 20px;
				right: -50px;
			}
		}
		&.no-arrow-img {
			margin-right: 0;
			&:before {
				display: none;
			}
		}
		&:first-child {
			margin-left:0;
		}
	}
	.tooltip {
		.tooltip-inner {
			background-color: @brand-primary;
			opacity: 1;
			padding: 20px;
			text-align: left;
			max-width: 260px;
			p {
				font-size: 14px;
				line-height: 20px;
				margin-bottom: 20px;
			}
			h2 {
				font-style: normal;
				font-weight: 100;
				margin-bottom: 20px;
				font-size: 22px;
				margin: 0 0 20px 0;
			}
		}
		&.right .tooltip-arrow {
			border-right-color: @brand-primary;
		}
		&.left .tooltip-arrow {
			border-left-color: @brand-primary;
		}
		&.top .tooltip-arrow {
			border-top-color: @brand-primary;
		}
		&.bottom .tooltip-arrow {
			border-bottom-color: @brand-primary;
		}
	}
}
.process-div{
	.accordion.panel-group .accordion-group.panel .accordion-heading.panel-heading {
		font-size: 14px;
	    display: block;
	    font-weight: 400;
	    text-transform: uppercase;
	    border-radius: 0;
	    padding: 0;
	    background: none;
	    transition: all 0.3s ease-in-out;
	    -webkit-transition: all 0.3s ease-in-out;
	    -moz-transition: all 0.3s ease-in-out;
	    -o-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
		a {
		    display: block;
		    color: #3d3d3d;
		    padding: 8px 15px;
		    margin-bottom: -1px;
		    transition: all 0.3s ease-in-out;
		    -webkit-transition: all 0.3s ease-in-out;
		    -moz-transition: all 0.3s ease-in-out;
		    -o-transition: all 0.3s ease-in-out;
		    -ms-transition: all 0.3s ease-in-out;
		    span{
		    	display: inline-block;
			    width: 20px;
			    height: 20px;
			    border-radius: 20px;
		    }
		}
	}
	.accordion.panel-group .accordion-group.panel .accordion-inner{
		border-top: solid 1px #ddd;
    	padding: 15px;
		p{
			font-size: 14px;
	    	line-height: 20px;
		}
	}

}
