.menu-heading {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 900;
  font-family: arial;
  color: #fff;
  padding: 15px;
  top: 0;
  left: 0;
  right: 0;
  background: darken(#3d454e, 2%);
  z-index: 9999;
  position: sticky !important;
  &:before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    bottom: 0;
    width: 4px;
    background: transparent;
  }
  &.info {
    .label-pill, &:before {
      background-color: @brand-info;
    }
  }
  &.light-green {
   .label-pill, &:before {
      background-color: #91ca54;
    }
  }
  &.danger {
    .label-pill, &:before {
      background-color: @brand-danger;
    }
  }
  &.warning {
    .label-pill, &:before {
      background-color: @brand-warning;
    }
  }
  &.success {
    .label-pill, &:before {
      background-color: @brand-success;
    }
  }
  &.yellow {
    .label-pill, &:before {
      background-color: @yellow;
    }
  }
  &.green {
    .label-pill, &:before {
      background-color: @green;
    }
  }
  &.orange {
    .label-pill, &:before {
      background-color: @orange;
    }
  }
  &.pink {
    .label-pill, &:before {
      background-color:@light-red;
    }
  }
  &.purpal {
    .label-pill, &:before {
      background-color: @purpal;
    }
  }
}

.animate-menu-push {
  left: 0;
  position: relative;
  transition: all 0.3s ease; }
  .animate-menu-push.animate-menu-push-right {
    left: 200px; }
  .animate-menu-push.animate-menu-push-left {
    left: -200px; }

.animate-menu {
  position: fixed;
  top: 0;
  width: 200px;
  height: 100%;
  transition: all 0.3s ease; }

.animate-menu-left {
  left: -200px; }
  .animate-menu-left.animate-menu-open {
    left: 0; }

.animate-menu-right {
  right: -200px; 
}
  .animate-menu-right.animate-menu-open {
    right: 0; 
  }

.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #222d32;
 }
  .sidebar-menu > li {
    position: relative;
    margin: 0;
    padding: 0; 

  }
    .sidebar-menu > li > a {
      padding: 12px 5px 12px 15px;
      display: block;
      border-left: 3px solid transparent;
      color: #b8c7ce; }
      .sidebar-menu > li > a > .fa {
        width: 20px; }
    .sidebar-menu > li:hover > a, .sidebar-menu > li.active > a {
      color: #fff;
      background: #1e282c;
      border-left-color: #fff; }
    .sidebar-menu > li .label,
    .sidebar-menu > li .badge {
      margin-top: 3px;
      margin-right: 5px; }
  .sidebar-menu li.sidebar-header {
    padding: 10px 25px 10px 15px;
    font-size: 12px;
    color: #4b646f;
    background: #1a2226; }
  .sidebar-menu li > a > .fa-angle-left {
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 10px;
    margin-top: 3px; }
  .sidebar-menu li.active > a > .fa-angle-left {
    transform: rotate(-90deg); }
  .sidebar-menu li.active > .sidebar-submenu {
    display: block; }
  .sidebar-menu a {
    color: #b8c7ce;
    text-decoration: none; }
  .sidebar-menu .sidebar-submenu {
    display: none;
    list-style: none;
    padding-left: 5px;
    margin: 0 1px;
    background: #2c3b41; }
    .sidebar-menu .sidebar-submenu .sidebar-submenu {
      padding-left: 20px; }
    .sidebar-menu .sidebar-submenu > li > a {
      padding: 5px 5px 5px 15px;
      display: block;
      font-size: 14px;
      color: #8aa4af; }
      .sidebar-menu .sidebar-submenu > li > a > .fa {
        width: 20px; }
      .sidebar-menu .sidebar-submenu > li > a > .fa-angle-left,
      .sidebar-menu .sidebar-submenu > li > a > .fa-angle-down {
        width: auto; }
    .sidebar-menu .sidebar-submenu > li.active > a, .sidebar-menu .sidebar-submenu > li > a:hover {
      color: #fff; }

.sidebar-menu-rtl {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #222d32; }
  .sidebar-menu-rtl > li {
    position: relative;
    margin: 0;
    padding: 0; }
    .sidebar-menu-rtl > li > a {
      padding: 12px 15px 12px 5px;
      display: block;
      border-left: 3px solid transparent;
      color: #b8c7ce; }
      .sidebar-menu-rtl > li > a > .fa {
        width: 20px; }
    .sidebar-menu-rtl > li:hover > a, .sidebar-menu-rtl > li.active > a {
      color: #fff;
      background: #1e282c;
      border-left-color: #fff; }
    .sidebar-menu-rtl > li .label,
    .sidebar-menu-rtl > li .badge {
      margin-top: 3px;
      margin-right: 5px; }
  .sidebar-menu-rtl li.sidebar-header {
    padding: 10px 15px 10px 25px;
    font-size: 12px;
    color: #4b646f;
    background: #1a2226; }
  .sidebar-menu-rtl li > a > .fa-angle-left {
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 10px;
    margin-top: 3px; }
  .sidebar-menu-rtl li.active > a > .fa-angle-left {
    transform: rotate(-90deg); }
  .sidebar-menu-rtl li.active > .sidebar-submenu {
    display: block; }
  .sidebar-menu-rtl a {
    color: #b8c7ce;
    text-decoration: none; }
  .sidebar-menu-rtl .sidebar-submenu {
    display: none;
    list-style: none;
    padding-right: 5px;
    margin: 0 1px;
    background: #2c3b41; }
    .sidebar-menu-rtl .sidebar-submenu .sidebar-submenu {
      padding-right: 20px; }
    .sidebar-menu-rtl .sidebar-submenu > li > a {
      padding: 5px 15px 5px 5px;
      display: block;
      font-size: 14px;
      color: #8aa4af; }
      .sidebar-menu-rtl .sidebar-submenu > li > a > .fa {
        width: 20px; }
      .sidebar-menu-rtl .sidebar-submenu > li > a > .fa-angle-left,
      .sidebar-menu-rtl .sidebar-submenu > li > a > .fa-angle-down {
        width: auto; }
    .sidebar-menu-rtl .sidebar-submenu > li.active > a, .sidebar-menu-rtl .sidebar-submenu > li > a:hover {
      color: #fff; }
.active .menu-open{
  display:block !important;
}

/*.nav{
  &.side-nav{
    margin-top:0px !important;
   li {
      cursor: pointer;
     &.active {
        
       a {
        background:#222d32 !important;
       }
       li.active {
        a {
          background: rgba(0,0,0,0.4) !important;
          &.active {
            border-left-color: #1abc9c !important;
            background: #111 !important;
            color: #fff !important;
          }
        }
       }
     }
     &.second-level{
      a.active {
        border-left-color: #1abc9c !important;
        background: #111 !important;
        color: #fff !important;
      }
     } 
   }
  }
}*/

.side-nav {
  .second-level {
    li {
      a {
        font-size: 13px !important;
      }
    }
  }
}
.side-nav.nav{
  .active{
    .fa-angle-left:before {
      content: '\f107';
    }
    li{
      .fa-angle-left:before {
        content: '\f104';
      }
      &.active{
        a {
          background: rgba(0,0,0,0.1) !important;
        }
        .fa-angle-left:before {
          content: '\f107';
        }
      }
    }
  }
  .sidebar-submenu{
    margin-bottom: 20px;
    li {
      background: rgba(0,0,0,0.1);
      a{
        font-size: 12px !important;
        padding-left: 25px !important;
      }
    }
  }
  .third-lavel{
    padding:0;
    li{
      list-style: none;
      a {
        padding: 10px 15px 10px 45px;
        padding-left: 40px !important;
        font-size:14px !important;
        display: block;

      }
    }
  }
}

.side-nav{
  .search-bar{
    position: relative;
  .form-control{
    border-radius: 0;
    background: #1e282c;
    border-color: rgba(0, 0, 0, 0.1);
    
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(255, 255, 255, 0.4) !important;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.4) !important;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: rgba(255, 255, 255, 0.4) !important;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: rgba(255, 255, 255, 0.4) !important;
  }
  .fa{
    position: absolute;
    right: 10px;
    top: 10px;
  }
}
}
.current li{
  display:block !important;
}
.filterby{

.btn-default:hover {
  color: #34425A;
  background-color: #e6e6e6;
  border-color: #222d32;

}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  color: #34425A;
  text-decoration: none;
  outline: 0;
  background-color: #D4DCE6;
}
}

.styled-select {
  position: relative;
  width: 180px !important;
  left: 0px;
  z-index: 99;
  background: #eee;
  border: 1px solid #ccc;
  overflow: hidden;
  .fa-sort-desc {
    position: absolute;
    top: 0px;
    right: 12px;
    font-size: 24px;
    z-index: -9;
  }
}
.styled-select, .styled-select select { width: 240px;}
select:focus { outline: none; }
.styled-select select {
  height: 34px;
  padding: 5px 0 5px 5px;
  background: transparent;
  border: none;
  width:100%;
  font-weight: 600;
  /*hide default down arrow in webkit */
  -webkit-appearance: none; 
}

@-moz-document url-prefix(){
  .styled-select select { width: 110%; }
}



 select::-ms-expand { display: none; } /* hide default down arrow in IE10*/

/* hack to fall back in opera */
_:-o-prefocus, .selector {
  .styled-select { background: none; }
  }
