// Variables
// @brand-primary: #ca1b00;
@brand-danger: #ca1b00;
@brand-primary: #3498db;
@brand-success: #1abc9c;
@brand-heading: #000;
@gray-darkest: #222;
@primary-bg: #3498db;
@gray: #eaeaea;
@gray-lighter: #B9B9B9;
@placeholder-text: #bbbbbb;
@navbar-custom: rgba(20,20,20,0.94); ;
@white: #fff;
@text-color: #000;
@gray-border: #acacac;
@footer: #343434;
@footer-color: #a99138;
@red-color: #ca1b00;
@body-font:'Roboto', sans-serif;
@light-red : #e74c3c;
@green : #1abc9c;
@yellow : #f1c40f;
@dark: #3d3d3d;
@light-red : #e74c3c;
@orange : #e67e22;
@purpal : #9b59b6;
@blue-border:#DCE3F3;
.grayscale {
	-webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
  	filter: grayscale(100%);
  	filter: gray; /* IE 6-9 */
}
.grayscale-hover {
	-webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -ms-filter: grayscale(0);
    -o-filter: grayscale(0);
  	filter: grayscale(0);
   filter: gray; /* IE 6-9 */
}