<style type="text/css">
    body,
    html {
        height: 100%;
    }
    
    table th,
    table td {
        border-bottom: 1px solid #DCE3F3;
        padding: 5px;
    }
    
    .loader {
        border: 9px solid #f3f3f3;
        border-radius: 50%;
        border-top: 9px solid #3498db;
        width: 80px;
        height: 80px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
        position: ABSOLUTE;
        z-index: 999;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    /* Safari */
    
    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }
    
    .app-loading {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    
    .app-loading .spinner {
        height: 100px;
        width: 100px;
        animation: rotate 2s linear infinite;
        transform-origin: center center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    
    .app-loading .spinner .path {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
        animation: dash 1.5s ease-in-out infinite;
        stroke-linecap: round;
        stroke: #ddd;
    }
    
    @keyframes rotate {
        100% {
            transform: rotate(360deg);
        }
    }
    
    @keyframes dash {
        0% {
            stroke-dasharray: 1, 200;
            stroke-dashoffset: 0;
        }
        50% {
            stroke-dasharray: 89, 200;
            stroke-dashoffset: -35px;
        }
        100% {
            stroke-dasharray: 89, 200;
            stroke-dashoffset: -124px;
        }
    }
</style>
<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="addLeaveModalLabel">Apply Leave</h4>
    </div>
    <form name="userForm" class="form-horizontal" ng-submit="submitForm(userForm)" novalidate>
        <div class="modal-body">
            <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->
            <!-- <div class="app-loading" ng-show="loading">
                <div class="logo"></div>
                <svg class="spinner" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
            </svg>
            </div> -->
            <div class="loader" ng-show="loading"></div>
            <div class="row" style="margin-top:12px;">
                <div class="col-md-11 ma-bot-10">
                    <div class="form-group ma-bot-10">
                        <label for="name" class=" col-sm-3 control-label text-weight">Name</label>
                        <div class="col-sm-9">
                            <ui-select ng-model="selected_user" on-select="select_user($select.selected)" theme="select2" name="name" id="name" ng-style="selected_user_error && {border: '1px solid red'}">
                                <ui-select-match>%%$select.selected.name%%</ui-select-match>
                                <ui-select-choices repeat="user.id as user in userList | filter: $select.search">
                                    %%user.name%%
                                </ui-select-choices>
                            </ui-select>
                            <!-- <p ng-if="selected_user_error && submitted" class="help-block" style="color: red; font-size:11px; margin:0;">User is required</p>    -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- USERNAME -->
            <div class="row">
                <div class="col-md-11 ma-bot-10">
                    <div class="form-group ma-bot-10">
                        <label for="name" class=" col-sm-3 control-label text-weight">Select Leave Type</label>
                        <div class="col-sm-9">
                            <select name="type" id="name" class="form-control" ng-model="type" required ng-style="userForm.type.$invalid && submitted && {border: '1px solid red'}">
                            <option value="" selected>Select Leave type</option>
                            <option value="sick" >Sick Leave</option>
                            <option value="unpaid" >Unpaid Leave</option>
                            <option value="paid" >Paid Leave</option>
                            <option value="half" >Half-day Leave</option>
                            <option value="compoff" >Comp-Off</option>
                        </select>
                            <!-- <p ng-show="userForm.type.$invalid && submitted" class="help-block" style="color: red; font-size:11px; margin:0;">Type is required</p> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-11 ma-bot-10" ng-show="type == 'half'" style="margin-top:-15px">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9">
                        <div class="radio">
                            <label class="text-weight">
                            <input type="radio" ng-model="half" name="optionsRadios" id="first" value="first">
                            First Half
                        </label>
                        </div>
                        <div class="radio radio-secondhalf">
                            <label class="text-weight">
                            <input type="radio" ng-model="half" name="optionsRadios" id="second" value="second" checked>
                            Second Half
                        </label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Date -->
            <div class="row">
                <div class="col-md-11 ma-bot-10">
                    <div class="form-group">
                        <label for="" class=" col-sm-3 control-label text-weight">Date Range</label>

                        <div class="col-sm-6">
                            <div class='input-group date' id='datetimepickerStart' ng-style="userForm.dates.$invalid && submitted && {border: '1px solid red'}">
                                <input name="dates" date-range-picker class="form-control date-picker" type="text" ng-model="datePicker.date" min="datePicker.min" options="datePicker.options" required ng-style="type_error && {border: '1px solid red'}" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            <!-- <p ng-show="userForm.dates.$invalid && submitted" class="help-block" style="color: red; font-size:11px; margin:0;">Dates is required</p> -->
                        </div>
                        <!-- <p ng-show="userForm.dates.$invalid && submitted" class="help-block" style="color: red">Dates is required</p> -->
                    </div>
                </div>
            </div>
            <!-- Status -->
            <div class="row">
                <div class="col-md-11 ma-bot-10" style="margin-top:-10px;">
                    <div class="form-group">
                        <label for="" class=" col-sm-3 control-label text-weight">Status</label>
                        <div class="col-sm-9">
                            <select id="status" name="status" class="form-control" ng-model="status" required ng-style="userForm.status.$invalid && submitted && {border: '1px solid red'}">
                            <option value="approved" selected>Approved</option>
                            <option value="pending" >Pending</option>
                        </select>
                            <!-- <p ng-show="userForm.type.$invalid && submitted" class="help-block" style="color: red; font-size:11px; margin:0;">status is required</p> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-11 ma-bot-10">
                    <div class="form-group">
                        <label for="reason" class=" col-sm-3 control-label text-weight">Notes</label>
                        <div class="col-sm-9">
                            <textarea name="reason" id="reason" class=" form-control" rows="5" placeholder="Please enter reason for applying leave" 
                                      ng-model="reason"></textarea>
                            <!-- <p ng-show="userForm.type.$invalid && submitted" class="help-block" style="color: red; font-size:11px;margin:0;">reason is required</p> -->
                        </div>
                    </div>
                </div>
            </div>
            <p ng-if="error" class="help-block" style="color: red; font-size:11px;margin:0;">%%error_message%%</p>

            <!-- SUBMIT BUTTON -->

            <!--<button type="submit" class="btn btn-primary">Submit</button>-->
        </div>
        <div class="modal-footer">
            <button type="button" style="margin-top:10px;" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">
                    Close
                </button>&nbsp;
            <span class="pull-right">
                    <button type="submit" style="margin-top:10px;" class="btn btn-primary">
                        Apply
                    </button>

                    <i ng-show="loading" class="fa fa-spinner fa-spin"></i>
                </span>
        </div>
    </form>
</div>