<div>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="addLeaveModalLabel">Apply Leave</h4>
  </div>
  <form name="userForm" class="form-horizontal" ng-submit="form.submit(userForm)" novalidate>
    <div class="modal-body">
      <div class="loader" ng-show="loading"></div>
      <div class="form-group">
        <div class="col-md-8 col-sm-offset-2">
          <div ng-show="form.leave_info_fetched" class="form-group">
            <div class="col-sm-6">
              <div class="leave-stat">
                <div class="num">
                    <span>%%userLeaveInfo.sickLeavesTaken%%</span>
                    <span class="devider">/</span>
                    <span>%%userLeaveInfo.maxSickLeaves%%</span>
                </div>
                <div class="text">
                    <div class="stat-heading">Sick Leave</div>
                    <div class="stat-info">
                        <div><b>%%userLeaveInfo.sickLeavesTaken%%</b> Consumed</div>
                        <div><b>%%userLeaveInfo.maxSickLeaves - userLeaveInfo.sickLeavesTaken%%</b> Available</div>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="leave-stat">
                <div class="num">
                    <span>%%userLeaveInfo.paidLeavesTaken%%</span>
                    <span class="devider">/</span>
                    <span>%%userLeaveInfo.maxPaidLeaves%%</span>
                </div>
                <div class="text">
                    <div class="stat-heading">Paid Leave</div>
                    <div class="stat-info">
                        <div><b>%%userLeaveInfo.paidLeavesTaken%%</b> Consumed</div>
                        <div>
                          <b>%%userLeaveInfo.maxPaidLeaves - userLeaveInfo.paidLeavesTaken%%</b> Available 
                          <span ng-if="userLeaveInfo.carryForward"><b>(%%userLeaveInfo.carryForward%%</b> Carry)</span>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <label>Name</label>
              <div>
                <ui-select ng-model="form.selected_user" on-select="form.select_user($select.selected)" theme="select2"
                  name="name" id="name" ng-style="form.errors.selected_user && {border: '1px solid red'}">
                  <ui-select-match>%%$select.selected.name%%</ui-select-match>
                  <ui-select-choices repeat="user.id as user in userList | filter: $select.search">
                    %%user.name%%
                  </ui-select-choices>
                </ui-select>
                <!-- <p ng-if="selected_user_error && submitted" class="help-block" style="color: red; font-size:11px; margin:0;">User is required</p>    -->
              </div>
            </div>
            <div class="col-sm-6">
              <label>Select Leave Type</label>
              <div>
                <select class="form-control" name="leave_type" ng-model="form.type" required ng-style="userForm.leave_type.$invalid && form.submitted && {border: '1px solid red'}">
                  <option 
                    ng-repeat="leaveCategories in form.leave_categories" value="%%leaveCategories.code%%">
                    %%leaveCategories.title%%
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <div ng-show="form.type != null && form.type != 'sick' && form.type != 'paid' && form.type != 'optional-holiday'" class="well well-sm m-t-10 m-b-5">
                <div class="row">
                  <div class="radio col-sm-6" ng-repeat="leaveType in form.leave_types" ng-hide="leaveType.code == 'sick' || leaveType.code == 'paid' || leaveType.code == 'optional-holiday' ">
                    <label>
                      <input type="radio" ng-model="form.leave_type_id" name="optionsRadios" id="first" value="%%leaveType.id%%"  />
                      %%leaveType.title%%
                    </label>
                  </div>
                </div>
              </div>
              <div ng-show="form.half_day_flag" class="well well-sm m-t-10 m-b-5">
                <div class="radio">
                  <label>
                    <input type="radio" ng-model="form.half" name="optionsRadios" id="full" value="full" />
                    Full Day
                  </label>
                </div>
                <div class="radio radio-secondhalf">
                  <label>
                    <input type="radio" ng-model="form.half" name="optionsRadios" id="first" value="first" />
                    First Half

                  </label>
                </div>
                <div class="radio radio-secondhalf">
                  <label>
                    <input type="radio" ng-model="form.half" name="optionsRadios" id="second" value="second" checked />
                    Second Half

                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group" ng-show="form.type == 'optional-holiday'">
            <div class="col-sm-12">
              <label>Select an Optional Holiday</label>
              <div class="well well-sm m-t-10 m-b-5">
                      <div class="row">
                          <!-- <div ng-repeat="optionalLeave in form.optional_holidays">
                          <label class="col-sm-12 m-t-5">
                              <input type="radio" name="optional_date" ng-model="form.data.start_date " ng-value="optionalLeave.date" ng-disabled="formatDate(optionalLeave.date) < todayDate"  />
                              <span class="text-muted">%%optionalLeave.date | dateFormat %%<strong> %%optionalLeave.reason%% </strong></span>
                          </label> -->

                          <div class="radio col-sm-6" ng-repeat="optionalLeave in form.optional_holidays" ng-hide="leaveType.code == 'sick' || leaveType.code == 'paid' || leaveType.code == 'optional-holiday' ">
                            <label>
                              <input type="radio" ng-model="form.start_date" name="start_date" id="first" value="%%optionalLeave.date%%" />
                              %%optionalLeave.date | dateFormat %%<strong> %%optionalLeave.reason%%
                            </label>
                          </div>
                      
                  </div>
                  </div>

                  <!-- Incase user has taken one of the leaves from option leave -->
                  <strong ng-if="form.data.type == 'optional-holiday'" class="text-warning small">Only one optional leave can be taken in a calender year</strong>
                  <strong ng-if="user.optional" class="text-warning small">You have already used one of the optional leaves.</strong>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-6" ng-if="form.type !== 'optional-holiday'">
              <label>Date Range</label>
              <div>
                <div class="input-group date" id="datetimepickerStart" ng-style="userForm.dates.$invalid && form.submitted && {border: '1px solid red'}">
                  <input name="dates" date-range-picker class="form-control date-picker" type="text" ng-model="datePicker.date"
                    min="datePicker.min" options="datePicker.options" required ng-style="type_error && {border: '1px solid red'}" />
                  <span name="dates" date-range-picker class="input-group-addon date-picker" ng-model="datePicker.date"
                  min="datePicker.min" options="datePicker.options" >
                    <span class="glyphicon glyphicon-calendar"></span>
                  </span>
                </div>
                <!-- <p ng-show="userForm.dates.$invalid && submitted" class="help-block" style="color: red; font-size:11px; margin:0;">Dates is required</p> -->
                <!-- <p ng-show="userForm.dates.$invalid && submitted" class="help-block" style="color: red">Dates is required</p> -->
              </div>
            </div>
            <div class="col-sm-6">
              <div>
                <label>Status</label>
                <div>
                  <select id="status" name="status" class="form-control" ng-model="form.status" required ng-style="userForm.status.$invalid && form.submitted && {border: '1px solid red'}">
                    <option value="approved" selected>Approved</option>
                    <option value="pending">Pending</option>
                  </select>
                  <!-- <p ng-show="userForm.type.$invalid && submitted" class="help-block" style="color: red; font-size:11px; margin:0;">status is required</p> -->
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <label>Notes</label>
              <span ng-show="form.duration != 0" class="pull-right">
                <label class="label label-info custom-label m-t-5">%%form.duration%% working days</label>
              </span>
              <div>
                <textarea name="reason" id="reason" class=" form-control" rows="5" placeholder="Please enter reason for applying leave"
                  ng-model="form.reason"></textarea>
                  <p ng-if="form.warning != null" class="small     text-warning">
                    Warning: %%form.warning%%
                    </p>
                <p ng-if="error && error_message != null" class="help-block small text-danger">
                  Error: %%error_message%%
                </p>
                <!-- <p ng-show="userForm.type.$invalid && submitted" class="help-block" style="color: red; font-size:11px;margin:0;">reason is required</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer text-right">
      <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Close</button>
      <button type="submit" class="btn btn-primary">Apply</button>
      <i ng-show="loading" class="fa fa-spinner fa-spin"></i>
    </div>
  </form>
</div>