<div>
		<h4 class="admin-section-heading">Add User</h4>
	<div class="panel panel-default">
			<div class="panel-body">
				<div ng-show="listLoading" class="loader"></div>
					<div class="form-group row" ng-show="!listLoading">
							<div class="col-sm-3">
									<ui-select ng-model="selected_user" on-select="select_user($select.selected)" theme="select2" name="name" id="name" allow-clear="true" ng-style="selected_user_error && {border: '1px solid red'}" >
											<ui-select-match allow-clear="true" placeholder="User">%%$select.selected.name%%</ui-select-match>
											<ui-select-choices repeat="user.id as user in allUsers | filter: $select.search">
													%%user.name%%
											</ui-select-choices>
									</ui-select>
							</div>
							<div class="col-sm-2 p-l-0">
								<ui-select  ng-model="selected_type" on-select="select_type($select.selected)" theme="select2" name="name" id="name" allow-clear="true" ng-style="selected_type_error && {border: '1px solid red'}">
										<ui-select-match allow-clear="true" placeholder="Type">%%$select.selected.type%%</ui-select-match>
										<ui-select-choices repeat="type.id as type in allTypes | filter: $select.search">
												%%type.type%%
										</ui-select-choices>
								</ui-select>
							</div>
							<div class="col-sm-3" style="padding-right:0">
								<div style="display:inline-block; ">
									<div>
										<input name="start_date" type="text" class="form-control" uib-datepicker-popup="dd-MMM-yyyy" ng-model="start_date"
											is-open="form.isOpen" datepicker-options="endsOnDateOptions" ng-required="true"
											close-text="Close" ng-style="selected_start_date_error && start_date == null && {border: '1px solid red'}"/>
										<span class="input-group-btn">
											<button type="button" style="padding: 9px 12px" class="btn btn-default" ng-click="form.isOpen = !form.isOpen">
												<i class="glyphicon glyphicon-calendar"></i>
											</button>
										</span>
									</div>
								</div>
							</div>
							<div class="col-sm-3 " style="padding-right:0">
									<div style="display:inline-block; ">
										<div>
											<input name="end_date" type="text" class="form-control" uib-datepicker-popup="dd-MMM-yyyy" ng-model="end_date"
												is-open="form.isOpen2" datepicker-options="endsOnDateOptions" ng-required="true"
												close-text="Close" />
											<span class="input-group-btn">
												<button type="button" style="padding: 9px 12px" class="btn btn-default" ng-click="form.isOpen2 = !form.isOpen2">
													<i class="glyphicon glyphicon-calendar"></i>
												</button>
											</span>
										</div>
									</div>
							</div>
							<div class="col-sm-1  pull-right">
									<button class="btn btn-primary pull-right" ng-click="addUser()"><i class="fa fa-plus"></i></button>
							</div>
					</div>
					<div class="panel panel-default">
					<table class="table table-striped">
							<tr ng-repeat="existingResource in existingResources track by $index">
									<td class="td-text">
											<ui-select ng-show="editable[$index]" ng-model="existingResource.user_id"  theme="select2" name="name" id="name" >
											<ui-select-match>%%$select.selected.name%%</ui-select-match>
											<ui-select-choices repeat="user.id as user in allUsers | filter: $select.search">
													%%user.name%%
											</ui-select-choices></ui-select>
											<span ng-hide="editable[$index]">%%existingResource.user_data.name%%</span>
									</td>
									<td class="td-text" style="width:130px">
											<ui-select ng-show="editable[$index]" ng-model="existingResource.resource_price_id"  theme="select2" name="name" id="name" >
											<ui-select-match placeholder="Type">%%$select.selected.type%%</ui-select-match>
											<ui-select-choices repeat="type.id as type in allTypes | filter: $select.search">
													%%type.type%%
											</ui-select-choices>
											</ui-select>
											<span ng-hide="editable[$index]"><span class="label label-primary custom-label">%%existingResource.resource_type.type%%</span></span>
									</td>
									<td class="td-text">
										<div ng-show="editable[$index]">
											<input  name="start_date" type="text" class="form-control" uib-datepicker-popup="dd-MMM-yyyy" ng-model="edit_start_date[$index]"
												is-open="form.isOpen" datepicker-options="endsOnDateOptions" 
												close-text="Close" />
											<span  class="input-group-btn">
												<button type="button" style="padding: 9px 12px" class="btn btn-default" ng-click="form.isOpen = !form.isOpen">
													<i class="glyphicon glyphicon-calendar"></i>
												</button>
											</span>
										</div>
										<span ng-hide="editable[$index]">%%existingResource.start_date | date : 'mediumDate'%%</span>
										<div ng-show="editable[$index]">
											<input  ame="end_date" type="text" class="form-control" uib-datepicker-popup="dd-MMM-yyyy" ng-model="edit_end_date[$index]"
												is-open="form.isOpen2" datepicker-options="endsOnDateOptions" 
												close-text="Close" />
											<span  class="input-group-btn">
												<button type="button" style="padding: 9px 12px" class="btn btn-default" ng-click="form.isOpen2 = !form.isOpen2">
													<i class="glyphicon glyphicon-calendar"></i>
												</button>
											</span>
										</div>
											<span ng-hide="editable[$index] || !existingResource.end_date"> to %%existingResource.end_date | date : 'mediumDate'%%</span>
											</div>
									</td>
									<td class="td-text" style="width:110px;">
											<span ng-show="checkEndDateCondition(edit_end_date[$index].date)">
													<button class="btn btn-danger pull-right tool-tips btn-xs" ng-click="removeResourceRow($index, existingResource)" ><i class="btn-icon fa fa-trash"></i><span class="tooltiptext">Delete User</span></button>
													<button ng-show="!editable[$index]" class="btn btn-info pull-right tool-tips btn-xs" ng-click="editResourceRow($index)" ><i class="btn-icon fa fa-edit"></i><span class="tooltiptext">Edit User</span></button>
													<button ng-show="editable[$index]" class="btn btn-success pull-right tool-tips btn-xs" ng-click="saveResourceRow($index, existingResource)" ><i class="btn-icon fa fa-save"></i><span class="tooltiptext">Save User</span></button>
													<button class="btn btn-warning pull-right tool-tips btn-xs" ng-click="releaseResourceRow($index, existingResource)"  tooltip="Release" tooltip-placement="top"><i class="btn-icon fa fa-thumbs-up "></i>
														<span class="tooltiptext">Release User</span>
													</button>
											</span>
											<span ng-hide="checkEndDateCondition(edit_end_date[$index].date)">
													<button ng-disabled="true" class="btn btn-danger pull-right btn-xs" ng-click="removeResourceRow($index, existingResource)" ><i class="btn-icon fa fa-trash"></i></button>
													<button ng-disabled="true" ng-show="!editable[$index]" class="btn btn-info pull-right btn-xs" ng-click="editResourceRow($index)" ><i class="btn-icon fa fa-edit"></i> </button>
													<button ng-disabled="true" ng-show="editable[$index]" class="btn btn-success pull-right btn-xs" ng-click="saveResourceRow($index, existingResource)" ><i class="btn-icon fa fa-save"></i></button>
													<a href="#" ng-disabled="true"  class="tooltip" data-tip="this is the tip!" class="btn btn-warning pull-right btn-xs" ng-click="releaseResourceRow($index, existingResource)" ><i class="btn-icon fa fa-thumbs-up" tooltip="Release"></i></a>
											</span>
									</td>
							</tr>
							<tr ng-if="!existingResources.length">
									<td colspan="8">No records</td>
							</tr>
					</table>
			</div>
					<!--<div class="form-group" ng-repeat="existingResource in existingResources track by $index">
							<div class="col-sm-3">
									<ui-select ng-disabled="!editable[$index]" ng-model="existingResource.user_id"  theme="select2" name="name" id="name" >
											<ui-select-match>%%$select.selected.name%%</ui-select-match>
											<ui-select-choices repeat="user.id as user in allUsers | filter: $select.search">
													%%user.name%%
											</ui-select-choices>
									</ui-select>
							</div>
							<div class="col-sm-2">
									<ui-select ng-disabled="!editable[$index]" ng-model="existingResource.resource_price_id"  theme="select2" name="name" id="name" >
											<ui-select-match>%%$select.selected.type%%</ui-select-match>
											<ui-select-choices repeat="type.id as type in allTypes | filter: $select.search">
													%%type.type%%
											</ui-select-choices>
									</ui-select>
							</div>
							<div class="col-sm-2 " style="padding-right:0">
									<div>
											<div class='input-group date'>
													<input ng-disabled="!editable[$index]" name="date_range" date-range-picker class="form-control date-picker" type="text" ng-model="edit_end_date[$index].date" 
																					options="edit_start_date[$index].options" placeholder="Start Date"/>
													<span class="input-group-addon">
															<span><i class="fa fa-calendar" aria-hidden="true"></i></span>
													</span>
											</div>
									</div>
							</div>
							<div class="col-sm-2 " style="padding-right:0">
									<div>
											<div class='input-group date'>
													<input ng-disabled="!editable[$index]" name="date_range" date-range-picker class="form-control date-picker" type="text" ng-model="edit_end_date[$index].date" 
																					options="edit_end_date[$index].options" placeholder="End Date"/>
													<span class="input-group-addon">
															<span><i class="fa fa-calendar" aria-hidden="true"></i></span>
													</span>
											</div>
									</div>
							</div>
							<div class="col-sm-3" ng-show="checkEndDateCondition(edit_end_date[$index].date)">
									<button class="btn btn-danger pull-right" ng-click="removeResourceRow($index, existingResource)" ><i class="btn-icon fa fa-trash"></i></button>
									<button ng-show="!editable[$index]" class="btn btn-primary pull-right" ng-click="editResourceRow($index)" ><i class="btn-icon fa fa-edit"></i></button>
									<button ng-show="editable[$index]" class="btn btn-success pull-right" ng-click="saveResourceRow($index, existingResource)" ><i class="btn-icon fa fa-save"></i></button>
									<button class="btn btn-warning pull-right" ng-click="releaseResourceRow($index, existingResource)"  tooltip="Release" tooltip-placement="top"><i class="btn-icon fa fa-thumbs-up"></i></button>
							</div>
							<div class="col-sm-3" ng-hide="checkEndDateCondition(edit_end_date[$index].date)">
									<button ng-disabled="true" class="btn btn-danger pull-right" ng-click="removeResourceRow($index, existingResource)" ><i class="btn-icon fa fa-trash"></i></button>
									<button ng-disabled="true" ng-show="!editable[$index]" class="btn btn-primary pull-right" ng-click="editResourceRow($index)" ><i class="btn-icon fa fa-edit"></i></button>
									<button ng-disabled="true" ng-show="editable[$index]" class="btn btn-success pull-right" ng-click="saveResourceRow($index, existingResource)" ><i class="btn-icon fa fa-save"></i></button>
									<a href="#" ng-disabled="true"  class="tooltip" data-tip="this is the tip!" class="btn btn-warning pull-right" ng-click="releaseResourceRow($index, existingResource)" ><i class="btn-icon fa fa-thumbs-up" tooltip="Release"></i></a>
							</div>
					</div>  -->
			</div>
	</div>
</div>