<div class="user-list-view">
    <div class="panel panel-default " style="overflow-x: scroll;width:100%">
        <table id="example" class="stripe  order-column table table table-striped" cellspacing="0" width="100%" height="800">
            <thead>
                <th>Ant Id</th>
                <th>Employee Name</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Remaining</th>
                <th>EMI</th>
                <th>Deduction Amount</th>
            </thead>
            <tr ng-repeat="loan in loans.list" ng-hide="loans.empty" ng-class="{incomplete:loans.incomplete[$index]}">
                <td>%%loan.employee_id%%</td>
                <td>%%loan.name%%</td>
                <td>%%loan.date%%</td>
                <td>%%loan.loan_amount%%</td>
                <td>%%loan.remaining%%</td>
                <td>%%loan.emi%%</td>
                <td>
                    <input ng-model="loan.amount" ng-change="loans.update(loan.employee_id, loan.amount, $index)"/>
                    <small ng-if="loans.error[$index] == 'error'" style="color:red">
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                    </small>
                    <small ng-if="loans.error[$index] == 'success'" style="color:green;margin-top:10px">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </small>
                </td>
            </tr>
            <tr ng-show="loans.empty">
                <td colspan="8">No Loans for this month</td>
            </tr>
        </table>
    </div>
</div>
<style>
    .incomplete{
        border: 2px solid red;
    }
</style>