<div class="user-list-view">
    <div class="panel panel-default " style="overflow-x: scroll;width:100%">
        <table id="example" class="stripe  order-column table table table-striped" cellspacing="0" width="100%" height="800">
            <thead>
                <th>Employee Code</th>
                <th>Employee Name</th>
                <th>Amount</th>
                <th>Added On</th>
                <th>Notes</th>
            </thead>
            <tr ng-hide="bonuses.empty" ng-repeat="appraisal in bonuses.list" style="max-height:1em;line-height:2em;height:1em">
                <td ng-repeat="key in appraisal">%%key%%</td>
            </tr>
            <tr ng-show="bonuses.empty">
                <td colspan="5">No Bonuses this month</td>
            </tr>
        </table>
    </div>
</div>