<div>
  <h4>Assign Asset</h4>
  <div class="panel panel-default">
    <div class="loader" ng-show="form.loading"></div>
    <div class="" ng-hide="form.loading">
      <div class="alert alert-danger" ng-show="form.assignError">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <span>%%form.assignErrorMsg%%</span>
      </div>
      <form name="assignAssetForm" ng-submit="form.submit(assignAssetForm)" ng-show="!form.isAssigned" novalidate>
        <div class="form-group">
          <div class="col-sm-4">
            <ui-select ng-model="form.selected_user" on-select="form.select_user($select.selected)" theme="select2" name="user_name"
              ng-required="true" id="name" allow-clear="true" ng-style="form.error && !assignAssetForm.user_name.$valid && {border: '1px solid red'}">
              <ui-select-match allow-clear="true">%%$select.selected.name%%</ui-select-match>
              <ui-select-choices repeat="user.id as user in allUsers | filter: $select.search">
                %%user.name%%
              </ui-select-choices>
            </ui-select>
          </div>
          <div class="col-sm-3">
            <div style="display:inline-block; ">
              <div class="input-group" style="width:200px">
                <input type="text" name="start_date" class="form-control" uib-datepicker-popup="dd-MMM-yyyy" ng-model="form.model.from_date"
                  is-open="form.startDate.isOpen" datepicker-options="form.startDate.datepickerOptions" ng-required="true"
                  close-text="Close" alt-input-formats="altInputFormats" ng-style="form.error && !assignAssetForm.start_date.$valid && {border: '1px solid red'}"
                  placeholder="Start Date" />
                <span class="input-group-btn">
                  <button type="button" style="padding: 9px 12px" class="btn btn-default" ng-click="form.startDate.isOpen = !form.startDate.isOpen">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
              </div>
              </p>
            </div>
          </div>
          <div class="col-sm-4 pull-right">
            <button class="btn btn-primary" type="submit"ng-disabled="form.submitted">
              Add
            </button>
          </div>
        </div>
      </form>
      <span class="form-group" ng-if="!form.data.length==0">
        <table class="table table-striped no-margin">
          <tr>
            <th width="12%">User Name</th>
            <th width="12%">Assigned</th>
            <th width="20%">Released</th>
            <th width="56%"></th>
          </tr>

          <tr ng-repeat="item in form.data track by $index">
            <td>
              <span>%%item.user.name%%</span>
            </td>
            <td>
              <span>%%item.from_date | date:'mediumDate'%%</span><br />
              <span class="small"> by - %%item.assignee.name%%</span>
            </td>

            <td>
              <div ng-show="item.editing">
                <div class="input-group input-group-sm">
                  <input name="edit_end[$index]" type="text"  class="form-control" uib-datepicker-popup="dd-MMM-yyyy"
                  ng-model="item.to_date"  is-open="item.fromDate.isOpen" datepicker-options="item.fromDate.datepickerOptions" close-text="Close"
                  ng-style="item.error && {border: '1px solid red'}" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default"  ng-click="item.fromDate.isOpen = !item.fromDate.isOpen">
                      <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                  </span>
                  <span class="input-group-btn">
                    <a class="btn btn-success" ng-disabled="item.loading" ng-click="item.update(item)">
                      Save
                    </a>
                  </span>
                </div>
                <span ng-if="item.loading"><br/>saving..</span>
              </div>

              <span ng-if="!item.to_date && !item.editing">
                <a class="btn btn-danger btn-sm" ng-show="!item.editing" ng-if="!item.to_date" ng-click="form.enableEditing(item)">
                  Release Asset
                </a>
              </span>

              <div ng-if="item.to_date != '0000-00-00' || !item.to_date">
                <span ng-hide="item.editing">%%item.to_date | date:'mediumDate'%%</span><br />
                <span class="small">%%item.released_by.name%%</span>
                
              </div>
            </td>

            <td>
              <div class="row row-sm">
                <div ng-repeat="meta in item.asset.metas">
                  <div ng-if="!item.to_date && meta.key == 'WIFI-MAC'" class="col-sm-6">
                    <div class="row row-sm">
                      <div class="col-sm-3">
                        <label class="m-t-10">%%meta.key%%: </label>
                      </div>
                      <div class="col-sm-9">
                        <span ng-show="!meta.enableAssigning"> %%meta.ip_mapper.user_ip.ip_address%%</span>
                        <a class="btn btn-danger" ng-show="meta.ip_mapper" ng-click="form.releaseIP(meta)">
                          Release IP
                        </a>
                        <div class="input-group input-group-sm">
                          <ui-select ng-show="meta.enableAssigning" ng-model="meta.ip_mapper.user_ip" on-select="form.select_ip($select.selected, meta)" theme="select2" style="width: 200px !important; height:26px; display: table-cell;"
                          name="ip" id="ip" allow-clear="true" ng-style="item.error && {border: '1px solid red'}" required>
                            <ui-select-match allow-clear="true">%%$select.selected.ip_address%%</ui-select-match>
                            <ui-select-choices repeat="ip in form.userFreeIpList | filter: $select.search">
                              %%ip.ip_address%%
                            </ui-select-choices>
                            <ui-select-no-choice>No Free IP</ui-select-no-choice>
                          </ui-select>
                          <span class="input-group-btn">
                            <a ng-show="meta.enableAssigning" class="btn btn-default" ng-click="meta.enableAssigning = !meta.enableAssigning">
                            <i class="fa fa-remove"></i>
                            </a>
                          </span>
                        </div>

                        <a class="btn btn-primary btn-sm" ng-hide="meta.enableAssigning || meta.ip_mapper" ng-click=" meta.enableAssigning = !meta.enableAssigning; form.enableAssigning(item)">
                          Assign IP
                        </a>
                      </div>
                    </div>
                  </div>
                  <div ng-if="!item.to_date && meta.key == 'LAN-MAC'" class="col-sm-6">
                    <div class="row row-sm">
                      <div class="col-sm-3">
                        <label class="m-t-10">%%meta.key%%: </label>
                      </div>
                      <div class="col-sm-9">
                        <span ng-show="!meta.enableAssigning">%%meta.ip_mapper.user_ip.ip_address%%</span>
                        <a class="btn btn-danger btn-sm" ng-show="meta.ip_mapper"  ng-click="form.releaseIP(meta)">
                          Release IP
                        </a>
                        <div class="input-group input-group-sm">
                          <ui-select ng-show="meta.enableAssigning" ng-model="meta.ip_mapper.user_ip" on-select="form.select_ip($select.selected, meta)" theme="select2" style="width: 200px !important; display: table-cell;" name="ip" id="ip" allow-clear="true" ng-style="item.error && {border: '1px solid red'}" required>
                            <ui-select-match allow-clear="true">%%$select.selected.ip_address%%</ui-select-match>
                            <ui-select-choices repeat="ip in form.userFreeIpList | filter: $select.search">
                              %%ip.ip_address%%
                            </ui-select-choices>
                            <ui-select-no-choice>No Free IP</ui-select-no-choice>
                          </ui-select>
                          <span class="input-group-btn">
                            <a class="btn-default btn" ng-show="meta.enableAssigning" ng-click="meta.enableAssigning = !meta.enableAssigning">
                              <i class="fa fa-remove"></i>
                            </a>
                          </span>
                        </div>
                        <a class="btn btn-primary btn-sm" ng-hide="meta.enableAssigning || meta.ip_mapper"  ng-click="form.enableAssigning(item); meta.enableAssigning = !meta.enableAssigning">
                          Assign IP
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>  