<div class="loader" ng-if="!loaded">
</div>
<div ng-if="loaded">
    <div class="modal-header">
        <h4 ng-show="!form.model.id"> Create New Expense </h4>
        <h4 ng-show="form.model.id"> Vendor # %%form.model.id%% <span class="pull-right text-right" style="font-size:14px; margin-right:20px;"><span ng-if="form.model.created_at">%%form.model.created_at | dateToISO %%</span></span> </h4>
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form class="form-horizontal row">
            <div class="col-sm-5">
                <div class="form-group">
                        <label class="col-sm-4 control-label">Do you have a PO?</label>
                        <div class="col-sm-8">
                            <input type="radio" ng-model="form.model.po" value="yes">Yes
                            <input type="radio" ng-model="form.model.po" value="no">No
                            <!-- <small ng-if="type_error" style="color: red">Please select a type</small> -->
                        </div>
                    </div>
                <div class="form-group" ng-if="form.model.po == 'yes'">
                    <label class="col-sm-4 control-label">Please Enter PO Number</label>
                    <div class="col-sm-8">
                        <input type="text" placeholder="PO Number" class="form-control" ng-model="form.model.po_number"required="true">
                    </div>
                </div>
                <div class="form-group" >
                    <label class="col-sm-4 control-label">Purchase Order</label>
                    <div class="col-sm-8">
                        <ui-select ng-model="form.model.po_id" on-select="form.select_po($select.selected)" theme="select2"
                            name="name" id="name" ng-style="form.errors.po_id  && {border: '1px solid red'}">
                            <ui-select-match>%%$select.selected.id%%</ui-select-match>
                            <ui-select-choices repeat="po.id as po in purchaseOrderList | filter: $select.search">
                                %%po.id%%
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Expense Head</label>
                    <div class="col-sm-8">
                        <ui-select ng-model="form.model.expense_head_id" on-select="form.select_expense_head($select.selected)"
                            theme="select2" name="name" id="name">
                            <ui-select-match>%%$select.selected.title%%</ui-select-match>
                            <ui-select-choices repeat="expenseHead.id as expenseHead in expenseHeads | filter: $select.search">
                                %%expenseHead.title%%
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Amount</label>
                    <div class="col-sm-8">
                        <input type="number" placeholder="0.00" step="0.01" class="form-control" ng-model="form.model.amount">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Payment Status</label>
                    <div class="col-sm-8">
                        <select class="form-control" ng-model="form.model.payment_status">
                            <option ng-repeat="x in status_list" value="%%x.value%%">%%x.name%%</option>
                        </select>
                        <small ng-if="status_error" style="color: red">Please select a status</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Payment Method</label>
                    <div class="col-sm-8">
                        <ui-select ng-model="form.model.payment_method_id" on-select="form.select_payment_method($select.selected)"
                            theme="select2" name="name" id="name">
                            <ui-select-match>%%$select.selected.name%%</ui-select-match>
                            <ui-select-choices repeat="paymentMethod.id as paymentMethod in paymentMethodList | filter: $select.search">
                                %%paymentMethod.name%% <span>(%%paymentMethod.account_number%%)</span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Invoice Number</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" ng-model="form.model.invoice_number">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Invoice Date</label>
                    <div class="col-sm-8">
                        <div class="input-group" style="width:200px">
                            <input type="text" class="form-control" uib-datepicker-popup="dd-MMM-yyyy" ng-model="form.model.invoice_date"
                                is-open="form.isOpen2" datepicker-options="endsOnDateOptions" ng-required="true"
                                close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" style="padding: 9px 12px" class="btn btn-default" ng-click="form.isOpen2 = !form.isOpen2">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Expense By</label>
                    <div class="col-sm-8">
                        <ui-select ng-model="form.model.expense_by" on-select="form.select_user($select.selected)" theme="select2"
                            name="name" id="name">
                            <ui-select-match>%%$select.selected.name%%</ui-select-match>
                            <ui-select-choices repeat="user.id as user in userList | filter: $select.search">
                                %%user.name%%
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Payment Reference Number</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" ng-model="form.model.payment_reference_number">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Payment Date</label>
                    <div class="col-sm-8">
                        <div class="input-group" style="width:200px">
                            <input type="text" class="form-control" uib-datepicker-popup="dd-MMM-yyyy" ng-model="form.model.payment_date"
                                is-open="form.isOpen" datepicker-options="endsOnDateOptions" ng-required="true"
                                close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" style="padding: 9px 12px" class="btn btn-default" ng-click="form.isOpen = !form.isOpen">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Other Info</label>
                    <div class="col-sm-8">
                        <textarea rows="4" class="form-control" ng-model="form.model.other_info"></textarea>
                    </div>
                </div>
            </div>
        </form>
        <div ng-show="form.errors.error_message != null " class="alert alert-danger" role="alert">
            <a href="#" class="alert-link">%%form.errors.error_message%%</a>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-disable="form.loading" type="button" style="margin-top:10px;" class="btn btn-default" data-dismiss="modal"
            ng-click="cancel()">
            Cancel</button>&nbsp;
        <span class="pull-right">
            <button ng-disabled="form.loading" type="submit" style="margin-top:10px;" ng-click="form.submit()" class="btn btn-primary">
                <i ng-show="form.loading" class="fa fa-spinner fa-spin"></i>
               <span ng-show="!form.loading">Save</span> 
            </button>  
        </span>
    </div>
</div>