<div>
  <div class="modal-header">
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      ng-click="form.cancel()"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="addLeaveModalLabel">Add new Expense </h4>
  </div>
  <form name="expenseForm" ng-submit="form.submit(expenseForm)" novalidate class="form-horizontal">
    <div class="loader" ng-show="!loaded"></div>
    <div class="modal-body" ng-show="loaded">
      <div>
        <div class="row m-b bg-light" style="margin-top: -15px;">
          <div class="col-sm-12">
            <div class="panel-body text-center">
              <big>
                <label class="m-r-15 text-muted">Do you have a PO?</label>
                <label class="form-check btn btn-default">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="po"
                    value="yes"
                    ng-model="form.po.is_available"
                  />
                  Yes
                </label>
                <label class="form-check  btn btn-default">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="po"
                    value="no"
                    ng-model="form.po.is_available"
                    ng-change="form.po.change()"
                  />
                  No
                </label>
              </big>
            </div>
          </div>
        </div>
        <div>
          <div class="form-group" ng-if="form.po.is_available == 'yes'">
            <label class="col-sm-3 control-label">Please enter the PO Number</label>
            <div class="col-sm-8">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  id="po_number"
                  name="po_number"
                  ng-model="form.po.number"
                  ng-style="form.error && !expenseForm.po_number.$valid && {border: '1px solid red'}"
                  ng-disabled="form.po.loaded && form.po.isValid"
                  required
                /> 
                <span class="input-group-btn">
                  <a href="#" ng-hide="form.po.loaded && form.po.isValid" class="btn btn-primary" name="check" ng-click="form.getPODetail()">Validate PO Number </a>
                  <a href="#" ng-show="form.po.loaded && form.po.isValid" class="btn btn-info" name="check" ng-click="form.po.change()">Reset PO Nmber</a>
                </span>
              </div>
              <p ng-show="form.po.loaded && !form.po.isValid"  class="text-danger small">
                Invalid PO number
              </p>
            </div>
          </div>
          <div class="bg-light panel-body m-b row" ng-if="form.po.isValid">
            <label class="col-sm-12">Vendor Details</label>
            <div class="col-sm-4">
              <div><i class="fa fa-user"></i> <big>%%form.po.data.vendor.name%%</big></div>
            </div>
            <div class="col-sm-8">
              <address class="no-margin"><i class="fa fa-map-marker"></i> %%form.po.data.vendor.address%%</address>
            </div>
            <div>
              <!-- <input
                type="text"
                class="form-control"
                id="payment_terms"
                name="payment_terms"
                ng-model="form.model.payment_terms"
                ng-style="form.error && !expenseForm.payment_terms.$valid && {border: '1px solid red'}"
                required
              /> -->
            </div>
          </div>
        </div>
        <div>
          <div class="row" ng-if="form.po.is_available == 'no' || (form.po.is_available == 'yes' && form.po.isValid)">
              <div class="col-sm-6">
                  <div class="m-b">
                      <label>Expense Head*</label>
                      <div>
                          <ui-select ng-model="form.model.expense_head_id" on-select="form.select_expense_head($select.selected)"
                              theme="select2" name="expense_head" id="name" ng-style="form.submitted && !expenseForm.expense_head.$valid && {border: '1px solid red'}" required="true">
                              <ui-select-match>%%$select.selected.title%%</ui-select-match>
                              <ui-select-choices repeat="expenseHead.id as expenseHead in expenseHeads | filter: $select.search">
                                  %%expenseHead.title%%
                              </ui-select-choices>
                          </ui-select>
                      </div>
                  </div>
                  <div class="m-b">
                      <label>Payment Method*</label>
                      <div>
                          <ui-select ng-model="form.model.payment_method_id" on-select="form.select_payment_method($select.selected)"
                          theme="select2" name="payment_method" id="payment_method" ng-style="form.submitted && !expenseForm.payment_method.$valid && {border: '1px solid red'}" required="true">
                          <ui-select-match>%%$select.selected.name%%</ui-select-match>
                          <ui-select-choices repeat="paymentMethod.id as paymentMethod in paymentMethodList | filter: $select.search">
                              %%paymentMethod.name%% <span>(%%paymentMethod.account_number%%)</span>
                          </ui-select-choices>
                      </ui-select>
                      </div>
                  </div>
                  <div class="m-b">
                      <label>Payment Status*</label>
                      <div>
                          <ui-select ng-model="form.model.payment_status" on-select="form.select_payment_status($select.selected)" name="payment_status"
                              theme="select2" name="payment_status" id="payment_status" ng-style="form.submitted && !expenseForm.payment_status.$valid && {border: '1px solid red'}" required="true">
                              <ui-select-match>%%$select.selected.name%%</ui-select-match>
                              <ui-select-choices repeat="status.value as status in status_list | filter: $select.search">
                                  %%status.name%%
                              </ui-select-choices>
                          </ui-select>
                      </div>
                  </div>
                  <div class="m-b">
                      <label>Payment Date*</label>
                      <div class="input-group">
                        <input name="payment_date" type="text" class="form-control" uib-datepicker-popup="dd-MMM-yyyy" ng-model="form.model.payment_date"
                            is-open="form.isOpen" datepicker-options="endsOnDateOptions" ng-required="true"
                            close-text="Close" ng-style="form.submitted && !expenseForm.payment_date.$valid && {border: '1px solid red'}" required="true"/>
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-default" ng-click="form.isOpen = !form.isOpen">
                              <i class="glyphicon glyphicon-calendar"></i>
                          </button>
                        </span>
                      </div>
                  </div>
                  <div class="m-b">
                    <label>Amount*</label>
                    <div>
                      <input
                        class="form-control"
                        id="amount"
                        name="amount"
                        ng-model="form.model.amount"
                        ng-style="form.submitted && !expenseForm.amount.$valid && {border: '1px solid red'}"
                        required
                      />
                    </div>
                  </div>
              </div>
              <div class="col-sm-6">
                  <div class="m-b">
                      <label>Invoice Number*</label>
                      <div>
                          <input type="text" name="invoice_number" class="form-control" ng-model="form.model.invoice_number" required="true" 
                          ng-style="form.submitted && !expenseForm.invoice_number.$valid && {border: '1px solid red'}">
                      </div>
                  </div>
                  <div class="m-b">
                      <label>Invoice Date*</label>
                      <div class="input-group">
                          <input name="invoice_date" type="text" class="form-control" uib-datepicker-popup="dd-MMM-yyyy" ng-model="form.model.invoice_date"
                              is-open="form.isOpen2" datepicker-options="endsOnDateOptions" ng-required="true"
                              close-text="Close" ng-style="form.submitted && !expenseForm.invoice_date.$valid && {border: '1px solid red'}"/>
                          <span class="input-group-btn">
                              <button type="button" class="btn btn-default" ng-click="form.isOpen2 = !form.isOpen2">
                                  <i class="glyphicon glyphicon-calendar"></i>
                              </button>
                          </span>
                      </div>
                  </div>
                  <div class="m-b">
                      <label>Expense By*</label>
                      <div>
                          <ui-select name="expense_by" ng-model="form.model.expense_by" on-select="form.select_user($select.selected)" theme="select2"
                          ng-style="form.submitted && !expenseForm.expense_by.$valid && {border: '1px solid red'}" required="true">
                          <ui-select-match>%%$select.selected.name%%</ui-select-match>
                          <ui-select-choices repeat="user.id as user in userList | filter: $select.search">
                              %%user.name%%
                          </ui-select-choices>
                      </ui-select>
                      </div>
                  </div>
                  <div class="m-b">
                      <label>Payment By</label>
                      <div>
                          <ui-select name="payment_by" ng-model="form.model.payment_by" on-select="form.select_payment_by($select.selected)" theme="select2">
                          <ui-select-match>%%$select.selected.name%%</ui-select-match>
                          <ui-select-choices repeat="payer.id as payer in userList | filter: $select.search">
                              %%payer.name%%
                          </ui-select-choices>
                      </ui-select>
                      </div>
                  </div>
                  <div class="m-b">
                    <label>Payment Reference Number*</label>
                    <div>
                      <input
                        class="form-control"
                        name="payment_reference_number"
                        id="payment_reference_number"
                        ng-model="form.model.payment_reference_number"
                        ng-style="form.submitted && !expenseForm.payment_reference_number.$valid && {border: '1px solid red'}"
                        required="true"
                      />
                    </div>
                  </div>
                  
              </div>
              <div class="col-sm-12">
                <label>Other Info</label>
                <div>
                  <textarea
                    class="form-control"
                    id="other_info"
                    name="other_info"
                    ng-model="form.model.other_info"> </textarea>
                </div>
              </div>
          </div>

          <!--<div class="row">
              <div class="col-sm-12">
                  <div class="form-group">
                    <label>Other Info</label>
                    <div>
                      <textarea
                        class="form-control"
                        id="other_info"
                        name="other_info"
                        ng-model="form.model.other_info"
                        ng-style="form.error && !expenseForm.other_info.$valid && {border: '1px solid red'}"
                        required
                      ></textarea>
                    </div>
                  </div>
              </div>
          </div> -->
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <span ng-if="form.loading">Loading</span>
      <button
        ng-disable="form.loading"
        type="button"
        style="margin-top:10px;"
        class="btn btn-default"
        data-dismiss="modal"
        ng-click="form.cancel()"
      >
        Cancel</button
      >&nbsp;
      <span class="pull-right" ng-if="form.po.is_available == 'no' || (form.po.is_available == 'yes' && form.po.isValid)">
        <button
          ng-disabled="form.loading"
          type="submit"
          style="margin-top:10px;"
          class="btn btn-success"
        >
          Submit
        </button>
        <i ng-show="loading" class="fa fa-spinner fa-spin"></i>
      </span>
    </div>
  </form>
</div>
