<div>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" ng-click="from.cancel()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title" >
        <span >Share Incident</span>
      </h4>
    </div>
    <form class="form-horizontal" name="incidentForm" ng-submit="form.submit(incidentForm)" novalidate>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="col-sm-3 control-label">Shared Users</label>
              <div class="col-sm-9">
                  <ui-select name="shared_users" multiple ng-model="form.model.shared_users" on-select="form.model.select_users($select.selected)" theme="select2" style="border: 1px solid #D5DDF1 !important">
                      <ui-select-match>%%$item.name%%</ui-select-match>
                      <ui-select-choices repeat="user.id as user in form.users | filter: $select.search">
                          %%user.name%%
                      </ui-select-choices>
                  </ui-select>
              </div>
           </div>
            <div>
              <div ng-show="form.error" class="alert alert-danger" role="alert">
                Error: <a href="#" class="alert-link">%%form.message%%</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <span ng-if="form.loading">Saving...</span>
        <button ng-disabled="form.loading" type="button" style="margin-top:10px;" class="btn btn-default" data-dismiss="modal"
          ng-click="form.cancel()">
          Cancel</button>&nbsp;
        <span class="pull-right">
          <button ng-disabled="form.loading" type="submit" style="margin-top:10px;" class="btn btn-success">
            Submit
          </button>
          <i ng-show="loading" class="fa fa-spinner fa-spin"></i>
        </span>
      </div>
    </form>
  </div>