<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      Mini Projects
      <input
        type="checkbox"
        class="pull-right"
        ng-model="form.checkbox"
        ng-click="form.checkboxUpdate()"
      />
    </h4>
  </div>
  <div class="panel-body">
    <form id="form-add-achivements" class="form-add-achivements">
      <div class="m-b">
        <label>Title</label>
        <input
          type="text"
          name="title"
          class="form-control"
          id=""
          placeholder="Title"
          ng-model="form.model.title"
          ng-style="form.errors.title && form.model.title == null && {border: '1px solid red'}"
          required
        />
      </div>
      <div class="m-b">
        <label>Description</label>
        <textarea
          type="text"
          class="form-control"
          id=""
          placeholder="Description"
          ng-model="form.model.description"
          ng-style="form.errors.description && form.model.description == null && {border: '1px solid red'}"
          required
        ></textarea>
      </div>
      <button
        type="submit"
        id="add-achivements-item"
        class="btn btn-success add-achivements-item pull-right btn-sm"
        ng-click="form.submit()"
      >
        <i class="fa fa-plus"></i> Add
      </button>

      <div
        ng-show="form.errors.error_message != null "
        class="alert alert-danger"
        role="alert"
      >
        <a href="#" class="alert-link"
          ><small>%%form.errors.error_message%%</small></a
        >
      </div>
      <div
        ng-show="form.model.message != null "
        class="alert alert-success"
        role="alert"
      >
        <a href="#" class="alert-link"><small>%%form.model.message%%</small></a>
      </div>
    </form>
  </div>
  <!-- <form id="form-achivements-list"> -->
  <div ng-repeat="x in form.data track by $index">
    <ul
      id="achivements-list"
      class="achivements-list list-group no-margin"
      ng-show="form.data[$index] != null "
    >
      <li class="list-group-item">
        <a
          ng-click="form.delete($event)"
          data="%%x.id%%"
          id="%%$index%%"
          class="achivements-item-delete pull-right text-danger"
          ><i class="fa fa-trash"></i
        ></a>
        <h4>%%x.title%%</h4>
        <h5>%%x.description%%</h5>
      </li>
    </ul>
  </div>
  <!-- </form> -->
</div>
