<div>
        <h4 class="admin-section-heading">Required Resource</h4>
        <div class="panel panel-default">
           <div class="panel-body">
              <div class="form-group row" >
                 <div class="col-sm-6">
                    <input type="text" class="form-control" ng-model="newResouceObj.type" placeholder="Resource Name" ng-style="resourceError  && newResouceObj.type == '' && {border: '1px solid red'}"/>
                 </div>
                 <div class="col-sm-3">
                    <input type="text" class="form-control" ng-model="newResouceObj.price" placeholder="$" ng-style="priceError && newResouceObj.price == '' && {border: '1px solid red'}"/>
                 </div>
                 <div class="col-sm-3">
                    <button class="btn btn-primary" ng-click="addResourceRow()"><i class="fa fa-plus"></i></button>
                 </div>
              </div>
              <div class="form-group m-t-15 " >
                 <div class="panel panel-default">
                    <table class="table table-striped" >
                       <tr ng-repeat="oldResource in oldResources track by $index">
                          <td class="td-text" style="width:130px">
                             <input type="text" ng-hide="!editable[$index]" class="form-control" ng-model="oldResource.type" placeholder="Resource Name" ng-style="resourceError[$index]  && oldResource.type == '' && {border: '1px solid red'}"/>
                             <div ng-hide="editable[$index]" >%%oldResource.type%%</div>
                          </td>
                          <td class="td-text">
                             <input type="text" ng-hide="!editable[$index]" class="form-control" ng-model="oldResource.price" placeholder="$" ng-style="priceError[$index] && oldResource.price == '' && {border: '1px solid red'}"/>
                             <div ng-hide="editable[$index]" >%%oldResource.price%%</div>
                          </td>
                          <td class="td-text" style="width:100px">
                             <div >
                                <button class=" btn btn-danger pull-right btn-xs" ng-click="removeResourceRow($index, oldResource)"><i class="btn-icon fa fa-trash"></i></button>
                                <button ng-show="!editable[$index]" class=" btn btn-info pull-right btn-xs" ng-click="editResourceRow($index)"><i class="btn-icon fa fa-edit"></i></button>
                                <button ng-show="editable[$index]" class=" btn btn-success pull-right btn-xs" ng-click="saveResourceRow($index, oldResource)"><i class="btn-icon fa fa-save"></i></button>
                             </div>
                          </td>

                       </tr>
                    </table>
                 </div>
                 <!-- <div class="col-sm-6">
                    <input type="text" ng-disabled="!editable[$index]" class="form-control" ng-model="oldResource.type" placeholder="Resource Name" ng-style="resourceError[$index]  && oldResource.type == '' && {border: '1px solid red'}"/>
                    </div>
                    <div class="col-sm-3">
                    <input type="text" ng-disabled="!editable[$index]" class="form-control" ng-model="oldResource.price" placeholder="$" ng-style="priceError[$index] && oldResource.price == '' && {border: '1px solid red'}"/>
                    </div>
                    <div class="col-sm-3">
                    <button class="btn btn-danger pull-right" ng-click="removeResourceRow($index, oldResource)"><i class="btn-icon fa fa-trash"></i></button>
                    <button ng-show="!editable[$index]" class="btn btn-info pull-right" ng-click="editResourceRow($index)"><i class="btn-icon fa fa-edit"></i></button>
                    <button ng-show="editable[$index]" class="btn btn-success pull-right" ng-click="saveResourceRow($index, oldResource)"><i class="btn-icon fa fa-save"></i></button>
                    </div> -->
              </div>
           </div>
        </div>
     </div>