<div class="comment-wrap">
                <div ng-show="showList" class="showComment">
                   <h4 class="admin-section-heading">Comments</h4>
                   <div class="list-group comment-box flex-container flex-column" >
                      <a href="#" class="list-group-item list-group-item-action  align-items-start col-sm-12" ng-repeat="comment in commentObj.comments" >
                         <div class="flex-container w-100 justify-content-between">
                            <div class="col-sm-6 p-0">
                               <h5 class="mb-1">%%comment.user.name%%</h5>
                            </div>
                            <div class="col-sm-6 pull-right text-right p-0"><small class="pull-right"> %%comment.created_at | dateToISO %%</small></div>
                         </div>
                         <p class="mb-1" style="white-space: pre-line"> %%comment.message%%</p>
                      </a>
                      <div class="flex-container col-sm-12 m-t-15 justify-right p-0">
                      <button ng-click="toggleCommentList()" ng-show="showList && commentCount > 0" class="btn btn-success btn-sm  " style="margin-right:10px; ">
                         <div>Hide Comments</div>
                      </button>
                      <button ng-click="loadMoreComments()" ng-show="showList && !noCommentsToLoad" class="btn btn-info btn-sm  " >
                         <div ng-if="!listLoading">Load more...</div>
                         <div ng-if="listLoading"><i class="fa fa-spinner fa-spin fa fa-fw"></i></div>
                      </button>
                </div>
                      <div class="text-center" ng-show="showList && noCommentsToLoad && loadMoreFlag" style="margin-right:10px;">No more comments</div>
                      <div class="text-center" ng-show="commentCount == 0" style="margin-right:10px;">No comments</div>
                   </div>
                </div>
                <div class="form-group row comment-area">
                   <div class="col-sm-12">
                      <textarea ng-hide="isDisabled == 'true'" class="form-control" rows="3" id="comment" name="comment" placeholder="add comment" ng-model="commentObj.newComment"></textarea>
                      <div class="pull-right" ng-hide="isPrivatable != 'true'">
                         <input
                            type="checkbox"
                            ng-model="commentObj.isPrivate"
                            ng-click="checkboxClicked(commentObj)"
                            >
                         <label>Is Private</label>
                      </div>
                      <button ng-hide="commentCount == 0 || showList " ng-click="toggleCommentList()" ng-show="!showList" class="btn btn-success btn-sm crude-btn pull-right m-t-10 btn-spinner-md">
                         <div>Show Comments</div>
                      </button>
                      <button ng-hide="isDisabled == 'true'" ng-click="postComment()" class="btn btn-primary btn-sm crude-btn pull-right m-t-10" style="margin-right:10px; ">
                         <div ng-if="!addLoading">Add Comment</div>
                         <div ng-if="addLoading"><i class="fa fa-spinner fa-spin fa fa-fw"></i></div>
                      </button>
                   </div>
                </div>
             </div>