<div>
    <h4 class="admin-section-heading">Billing Schedule</h4>
    <div class="panel panel-default">
        <div class="info-table">
            <label>Billing Type: </label>
            <span style="text-transform: capitalize;">%%billScheduleData.event_type%%</span>
        </div>
        <div class="info-table">
            <label>Billing cycle: </label>
            <span style="text-transform: capitalize;">%%billScheduleData.event_term%%</span>
        </div>
        <div class="info-table">
            <label>Milestones: </label>
            <span style="text-transform: capitalize;">
                %%billScheduleData.title%%
                <br />
                <span ng-if="billScheduleData.end_date">Due date: %%filteredDate(billScheduleData.end_date) | date : 'mediumDate' %%</span>
            </span>
        </div>
    </div>
</div>