<div class="info-table ">
    <h4 class="admin-section-heading">Last Month Timelog</h4>
    <div class="panel panel-default">
        <table class="table table-bordered bg-white">
            <tr>
                <th class="text-center">Name</th>
                <th width="120" class="text-center">Employee Hrs</th>
                <th width="120" class="text-center">Approved Hrs</th>
            </tr>
            <tr ng-repeat="item in timelog">
                <td class="text-center">%%item.name%%</td>
                <td class="text-center">%%item.employee_hours%%</td>
                <td class="text-center">%%item.approved_hours%%</td>
            </tr>
            <tr ng-if="!timelog">
                <td colspan="3">No Records</td>
            </tr>
        </table>
    </div>
</div>