<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="addLeaveModalLabel">Send Slack Notification</h4>
    </div>
    <div class="modal-body">
            <h3><b>Are you sure</b></h3>
    </div>
    <div class="modal-footer">
            <span ng-if="form.loading">Loading</span>
            <button ng-disable="form.loading" type="button" style="margin-top:10px;" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">
                    Cancel
                </button>&nbsp;
            <span class="pull-right">
                    <button ng-disabled="form.loading" type="submit" style="margin-top:10px;"  ng-click="form.notifyOnSlack()" class="btn btn-primary">
                        Send
                    </button>
                    <i ng-show="loading" class="fa fa-spinner fa-spin"></i>
                </span>
        </div>
</div>