<section class="panel">
    <header class="panel-heading">
        <div class="row">
            <div class="col-sm-3 text-small">
                Show
                <select class="input-sm input-block" ng-model="requestParams.perPage" ng-change="perPageChange()">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="500">500</option>
                </select>
                Entries
            </div>
            <div class="col-sm-9">
                <div class="row" ng-show="showDateRange || showSearch || showDate">
                    <div class="col-sm-6 pull-right" ng-show="showSearch">
                        <form ng-submit="doSearch()">
                            <input class="form-control input-sm" type="text" value="" placeholder="Search by anything" ng-model="requestParams.q" />
                        </form>
                    </div>

                    <div class="col-sm-6 pull-right" ng-show="showDateRange">
                        <span class="input-group" style="width: 160px; float: left;">
                            <input type="text" class="form-control  input-sm" datepicker-popup="dd-MMMM-yyyy" datepicker-options="dateOptions" ng-model="requestParams.fromDate"
                                close-text="Close" placeholder="Booking From Date" is-open="openFromDate" />

                            <span class="input-group-btn">
                                <button class="btn btn-default btn-sm" ng-click="openFromDateAction()">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>
                        </span>

                        <span style="display: inline-block; float: left; line-height: 30px;">&nbsp;&nbsp;to&nbsp;&nbsp;</span>
                        <span class="input-group" style="width: 160px; float: left;">
                            <input type="text" class="form-control  input-sm" datepicker-popup="dd-MMMM-yyyy" datepicker-options="dateOptions" ng-model="requestParams.toDate"
                                close-text="Close" placeholder="Booking To Date" is-open="openToDate" />

                            <span class="input-group-btn">
                                <button class="btn btn-default btn-sm" ng-click="openToDateAction()">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>
                        </span>
                        </a>
                    </div>

                    <div class="col-sm-6">
                        <div class="row" style="padding-left:5px">
                            <span class="col-sm-7 input-group" style="margin-top:35px">
                                <input type="text" class="form-control  input-sm" datepicker-popup="dd-MMMM-yyyy" datepicker-options="dateOptions" ng-model="requestParams.startDate"
                                    close-text="Close" placeholder="Checkin From Date" is-open="openStartDate" ng-change="resetDownloads()"
                                />
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-sm" ng-click="openStartDateAction()">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </span>
                            <timepicker class="col-sm-5 pull-right" style="margin:-67px 0 0 20px;" mousewheel="false" ng-model="requestParams.startTime"
                                ng-change="resetDownloads()"></timepicker>
                        </div>
                    </div>
                    <div class="col-sm-6 pull-right">
                        <span class="col-sm-7 input-group" style="margin-top:35px">
                            <input type="text" class="form-control  input-sm" datepicker-popup="dd-MMMM-yyyy" datepicker-options="dateOptions" ng-model="requestParams.endDate"
                                close-text="Close" placeholder="Checkin To Date" is-open="openEndDate" min-date="requestParams.startDate"
                                ng-change="resetDownloads()" />
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-sm" ng-click="openEndDateAction()">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>
                        </span>
                        <timepicker class="col-sm-5 pull-right" style="margin:-67px 0 0 20px;" mousewheel="false" ng-model="requestParams.endTime"
                            show-meridian="true" ng-change="resetDownloads()"></timepicker>
                    </div>
                </div>
                <div class="row">
                </div>

                <div class="row" ng-show="showDownloadCsv || extraSearchFieldsData">
                    <div class="col-sm-4 pull-right" ng-show="showDownloadCsv && data.length!=0" style="margin-top: 15px; margin-right: -10px;">
                        <a href="javascript:;" class="btn btn-default" ng-click="downloadPdf()" ng-if="!pdfLocation">
                            <span class="btn btn-primary" ng-hide="generatingPdf">Generate PDF</span>
                            <span ng-show="generatingPdf">Generating</span>
                        </a>
                        <a href="{{pdfLocation}}" class="btn btn-info" ng-click="downloadPdfAction()" ng-if="pdfLocation" download>Download
                            <i class="icon-download-alt"></i>
                        </a>
                        <a href="javascript:;" class="btn btn-default" ng-click="exportCsvAction()" ng-if="!csvLocation">
                            <span ng-hide="exportingCsv" class=" btn btn-success">Export CSV</span>
                            <span ng-show="exportingCsv">Exporting</span>
                        </a>
                        <a href="{{csvLocation}}" class="btn btn-info" ng-click="downloadCsvAction()" ng-if="csvLocation" download>Download
                            <i class="icon-download-alt"></i>
                        </a>
                        <p style="color:red; padding:5px" ng-show="noRecords">
                            <i class="fa fa-exclamation-circle"></i>Unable to get records</p>
                    </div>
                    <div class="col-sm-10 pull-right" ng-repeat="ex in extraSearchFieldsData">
                        <div class="text-right">
                            {{ex.title}} &nbsp;
                            <span ng-if="ex.type=='select'">
                                <select class="input-sm" ng-model="requestParams[ex.paramName]" ng-change="doSearch()">
                                    <option value="">Choose</option>
                                    <option ng-repeat="val in ex.values" value="{{val.id}}">{{val.name}}</option>
                                </select>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="panel-body">
        <table class="table table-striped table-bordered m-b-none text-small fixed-table">
            <thead>
                <tr>
                    <th ng-repeat="column in columns" width="{{column.width}}%" class="text-center">
                        <compile-this value="{{column.title}}"></compile-this>
                    </th>
                    <th ng-show="actions.length" width="{{actions.length * 5}}%" class="text-center">Actions</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-if="data.length==0 && !loading">
                    <td ng-attr-colspan="{{columns.length+1}}">
                        <div class="">
                            <div class="text-center">
                                <h3 style="margin-bottom:20px">No Entry Found
                                    <span ng-show="qSent">with keyword '{{qSent}}'</span>
                                </h3>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr ng-show="loading">
                    <td ng-attr-colspan="{{columns.length+1}}">
                        <div>
                            <div class="text-center">
                                <h3>
                                    <loading-icon ng-if="loading"></loading-icon> Loading</h2>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr ng-hide="loading" ng-repeat="row in data">
                    <td ng-repeat="column in columns" class="text-center">
                        <compile-this value="{{column.value}}"></compile-this>
                    </td>

                    <td ng-show="actions.length" class="text-center">
                        <a ng-show="hasAction('view')" class="btn btn-info btn-sm btn-icon" tooltip="View" ng-click="viewAction(row)">
                            <i class="fa fa-eye"></i>
                        </a>

                        <!--  <a ng-show="hasAction('addNew')" class="btn btn-info btn-sm btn-icon" tooltip="Add New" ng-click="addNew()"><i class="fa fa-plus-circle"></i></a> -->

                        <a ng-show="hasAction('edit')" class="btn btn-warning btn-sm btn-icon" tooltip="Edit" ng-click="editAction(row)">
                            <i class="fa fa-pencil-square-o"></i>
                        </a>

                        <a ng-show="hasAction('refresh')" class="btn btn-warning btn-sm btn-icon" tooltip="Refresh" ng-click="refreshAction(row)">
                            <i class="fa fa-refresh"></i>
                        </a>

                        <a ng-show="hasAction('delete')" class="btn btn-danger btn-sm btn-icon" tooltip="Delete" ng-click="deleteAction(row)">
                            <i class="fa fa-trash"></i>
                        </a>

                        <a ng-show="hasAction('star')" class="btn btn-warning btn-sm btn-icon" tooltip="Mark as default" ng-click="starAction(row)">
                            <i class="fa fa-star"></i>
                        </a>

                        <a ng-show="hasAction('down')" class="btn btn-warning btn-sm btn-icon" style="background-color: #795548;border-color: #795548;"
                            tooltip="Download-Invoice" ng-click="downAction(row)">
                            <i class="fa fa-download"></i>
                        </a>

                        <div class="btn-group" ng-show="hasAction('switchOnoff')">
                            <div class="onoffswitch">
                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="{{row.id}}" ng-model="row.status" ng-click="switchOnoff(row);">
                                <label class="onoffswitch-label" for="{{row.id}}">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="padder table-footer" ng-show="data.length>0">
            <div class="row">
                <div class="col-sm-6 result_no_info_wrap">
                    <div class="result_no_info text-small">Showing {{pagination.from}}&nbsp;to&nbsp;{{pagination.to}}&nbsp; Of &nbsp;{{data.metaData.total}}&nbsp;
                        Entries</div>
                </div>

                <div class="col-sm-6">
                    <pagination class="pull-right" max-size="5" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                        last-text="&raquo;" total-items="data.metaData.total" items-per-page="data.metaData.per_page" ng-model="data.metaData.current_page"
                        ng-change="changePage()"></pagination>
                </div>
            </div>
        </div>
    </div>
</section>