<div>
        <h4 class="admin-section-heading">Google Drive Link </h4>
        <div class="panel panel-default">
           <div class="panel-body">
              <div class="form-group row" ng-hide="mode == 'single' &&  oldLinks.length > 0 ">
                 <div class="col-sm-3">
                    <input type="text" class="form-control" ng-model="newLinkObj.name" placeholder="Name" ng-style="errors.name  && newLinkObj.name == null && {border: '1px solid red'}"
                       />
                 </div>
                 <div class="col-sm-6">
                    <input type="text" class="form-control" ng-model="newLinkObj.path" placeholder="Drive link" ng-style="errors.path && newLinkObj.path == null && {border: '1px solid red'}"
                       />
                 </div>
                 <div class="col-sm-3">
                    <button class="btn btn-primary" ng-click="addLink()">
                    <i class="fa fa-plus"></i>
                    </button>
                 </div>
              </div>
              
              <div class="form-group m-t-15" >
                 <div class="panel panel-default">
                    <table class="table table-striped" >
                       <tr ng-repeat="oldLink in oldLinks track by $index">
                             <td class="td-text" >
                             <input type="text" ng-hide="!editable[$index]" class="form-control" ng-model="oldLink.name" placeholder="Name" ng-style="nameError[$index]  && oldLink.name == '' && {border: '1px solid red'}" />
                             <span ng-show="!editable[$index]">%%oldLink.name%%</span>
                          </td>
                          <td class="td-text" >
                             <input type="text" ng-hide="!editable[$index]" class="form-control" ng-model="oldLink.path" placeholder="$" ng-style="pathError[$index] && oldLink.link == '' && {border: '1px solid red'}"
                                />
                          </td>
                          <td class="td-text pull-right" >
                             <button class="btn btn-danger pull-right btn-xs" ng-click="removeLink($index, oldLink)"><i class="btn-icon fa fa-trash"></i></button>
                             <button ng-show="editable[$index]" class="btn btn-success pull-right btn-xs" ng-click="saveLink($index, oldLink)"><i class="btn-icon fa fa-save"></i></button>

                             <button ng-show="!editable[$index]" class="btn btn-info pull-right btn-xs" ng-click="editLink($index)"><i class="btn-icon fa fa-edit"></i></button>

                             <a class="btn btn-primary tool-tips pull-right btn-xs"  target="_blank" href="%%oldLink.path%%" ng-show="!editable[$index]"><i class="btn-icon fa fa-eye"></i><span class="tooltiptext">View Link</span></a>


                          </td>
                       </tr>
                    </table>
                 </div>
              </div>
           </div>
        </div>
     </div>