<div>
    <div class="modal-header">
        <button type="button" class="close" style="margin-top:2px;" data-dismiss="modal" aria-hidden="true">
                <i class="fa fa-close" ng-click="cancel()"></i>
            </button>
        <h4 class="modal-title">Shared Users </h4>
        </input>
    </div>

    <div class="modal-body" id="modal-body">
        <div class="row">
            <div class="col-md-12 ma-bot-10">
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Select User</label>
                    <div class="col-sm-10">
                        <ui-select multiple ng-model="selectedUsers" on-select="select_users($item)" theme="bootstrap" close-on-select="true"
                            remove-selected="false" on-remove="deselect_users($item)">
                            <ui-select-match>%%$item.name%%</ui-select-match>
                            <ui-select-choices repeat="user as user in userList | filter: $select.search">
                                <div ng-bind-html="user.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <span style="color: green"><b>%%message%%</b></span>
            </div> 
        </div>
    </div>

    <div class="form-group">
        <div class="modal-footer">
            <button class="btn btn-info" type="button" ng-click="cancel()">Close</button>&nbsp;
        </div>
    </div>
</div>
