<div>
    <div class="modal-header">
        <button type="button" class="close" style="margin-top:2px;" data-dismiss="modal" aria-hidden="true">
            <i class="fa fa-close" ng-click="form.cancel()"></i>
        </button>
        <h4 class="modal-title">On Site Bonus</h4>
    </div>
    <form name="bonusForm" class="form-horizontal" ng-submit="form.submit(bonusForm)" novalidate>
        <div class="modal-body row form-horizontal">
            <div class="loader" ng-show="loading"></div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="" class="col-sm-3 control-label">Project Name</label>
                    <div class="col-sm-7">
                        <input type="text" id="project_name" class="form-control" name="project_name" value=%%form.project[0].project_name%%
                            disabled/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-3 control-label">Employee Name*</label>
                    <div class="col-sm-7">
                        <ui-select ng-model="selected_user" on-select="select_user($select.selected)" theme="select2" name="name" id="name" allow-clear="true"
                             ng-style="form.error && !bonusForm.name.$valid && {border: '1px solid red'}" required>
                            <ui-select-match allow-clear="true">%%$select.selected.name%%</ui-select-match>
                            <ui-select-choices repeat="resource in form.resources | filter: $select.search">
                                %%resource.name%%
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="daterange4" class="col-sm-3 control-label">Duration*</label>
                    <div class="col-sm-7">
                        <input date-range-picker id="daterange4" name="daterange4" class="form-control date-picker" type="text" ng-model="date" clearable="true"
                           ng-style="form.error && !bonusForm.daterange4.$valid && {border: '1px solid red'}" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-3 control-label">Amount*</label>
                    <div class="col-sm-7">
                        <input id="Amount" class="form-control" name="amount" ng-model="form.data.amount" 
                         ng-style="form.error && !bonusForm.amount.$valid && {border: '1px solid red'}"  required/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Name" class="col-sm-3 control-label">Type*:</label>
                    <div class="col-sm-7">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="type" value="local" ng-model="form.data.type">
                            <label class="form-check-label" for="exampleRadios1">
                                 Domestic Local
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="type" value="off-site" ng-model="form.data.type">
                            <label class="form-check-label" for="exampleRadios1">
                                 Domestic On-Site
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="type" value="international" ng-model="form.data.type">
                            <label class="form-check-label" for="exampleRadios2">
                                 International On-Site
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-3 control-label">Notes</label>
                    <div class="col-sm-7">
                        <textarea class="form-control" rows="5" name="notes" ng-model="form.data.notes"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <div class="modal-footer">
                <button class="btn btn-info" type="submit">Submit</button>&nbsp;
            </div>
        </div>
    </form>
</div>